Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

init
  Changelog.md
Due: none

Sidebar in place, need to clean up subitems
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/search-form.tsx
  frontend/src/components/menus/version-switcher.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/layouts/chat-layout-v2.tsx
  frontend/src/pages/chat/Chatv2.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/src/styles/globals.css
Due: frontend-prettier, frontend-lint

In place, looks visuall okay
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/ui/sidebar.tsx
Due: frontend-prettier, frontend-lint

Accounts for dusk mode
  frontend/src/components/forms/search-form.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
Due: frontend-prettier, frontend-lint

This is fairly configurable for now
  frontend/src/components/sections/agent-section.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

Simple details for now
  frontend/src/components/sections/agent-section.tsx
  frontend/src/lib/services/agentService.ts
Due: frontend-prettier, frontend-lint

Cleans up footer
  .pre-commit-config.yaml
  backend/main.py
  backend/src/constants/llm.py
  backend/src/tools/search.py
  frontend/src/components/buttons/thread-share-button.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/context/PromptContext.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useLinkClick.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/layouts/chat-layout-v2.tsx
  frontend/src/lib/services/promptService.ts
  frontend/src/lib/utils/format.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/pages/prompts/create.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/styles/globals.css
Due: backend-format, frontend-prettier, frontend-lint

Can select thread from list
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/layouts/chat-layout-v2.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

Fixes model select issue, need to fix chat scroll issue
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useModel.tsx
  frontend/src/main.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/edit.tsx
Due: frontend-prettier, frontend-lint

Now fixing scroll
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

Fix tool input truncation
  frontend/src/components/tools/Default.tsx
Due: frontend-prettier, frontend-lint

update minor markdown issue
  frontend/src/components/cards/MarkdownCard.tsx
Due: frontend-prettier, frontend-lint

simplfiy
  frontend/src/pages/Home.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

Scroll fixed
  frontend/src/components/ui/sidebar.tsx
Due: frontend-prettier, frontend-lint

Fix unusedd
  .pre-commit-config.yaml
  frontend/src/components/drawers/app-sidebar.tsx
Due: frontend-prettier, frontend-lint

Update linting
  frontend/src/components/buttons/thread-share-button.tsx
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/hooks/useModel.tsx
  frontend/src/pages/agents/create.tsx
Due: frontend-prettier, frontend-lint

Fix sidebar focus issue and add mobile close on thread click
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/search-form.tsx
Due: frontend-prettier, frontend-lint

Should be g2g, can select and dynamic usage
  Changelog.md
  backend/.example.env
  backend/src/constants/__init__.py
  backend/src/contexts/service.py
  backend/src/routes/v0/auth.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/presidio.py
  backend/src/utils/format.py
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/lib/utils/auth.ts
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

Consolidates process_presidio
  backend/src/routes/v0/llm.py
  backend/src/services/presidio.py
  frontend/src/hooks/useAuth.tsx
Due: backend-format, frontend-prettier, frontend-lint

link
  backend/src/constants/__init__.py
  backend/src/contexts/service.py
  backend/src/routes/v0/auth.py
  backend/src/routes/v0/llm.py
  backend/src/services/presidio.py
  backend/src/utils/format.py
Due: backend-format

FROM feat/468-support-ms-presidio-analyzer TO development (#475)
  Changelog.md
  backend/.example.env
  backend/src/constants/__init__.py
  backend/src/contexts/service.py
  backend/src/routes/v0/auth.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/presidio.py
  backend/src/utils/format.py
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/lib/utils/auth.ts
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

HAd some improt issues
  backend/src/services/presidio.py
Due: backend-format

Comment out the input for now
  frontend/package-lock.json
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/search-form.tsx
  frontend/vite.config.ts
Due: frontend-prettier, frontend-lint

fix build
  frontend/src/hooks/useAgent.ts
Due: frontend-prettier, frontend-lint

Fix imports
  backend/src/schemas/entities/__init__.py
  backend/src/services/presidio.py
Due: backend-format

conclidate
  backend/src/schemas/entities/__init__.py
Due: backend-format

Fix build
  frontend/src/hooks/useAgent.ts
Due: frontend-prettier, frontend-lint

Render stock chart works
  backend/main.py
  backend/pyproject.toml
  backend/src/schemas/entities/__init__.py
  backend/src/tools/__init__.py
  backend/src/tools/finance.py
  backend/src/utils/tools.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/tools/ChartRenderWidget.tsx
  frontend/src/hooks/useAgent.ts
Due: backend-format, frontend-prettier, frontend-lint

Should fix build issues
  backend/main.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/presidio.py
  backend/src/tools/finance.py
  frontend/package-lock.json
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/476-html-chart-construct-tool TO development (#477)
  Changelog.md
  backend/pyproject.toml
  backend/src/schemas/entities/__init__.py
  backend/src/services/presidio.py
  backend/src/tools/__init__.py
  backend/src/tools/finance.py
  backend/src/utils/tools.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/tools/ChartRenderWidget.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

FROM bug/470-remove-sidebar-focus TO development (#474)
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/search-form.tsx
Due: frontend-prettier, frontend-lint

Fix build
  frontend/vite.config.ts
Due: frontend-prettier, frontend-lint

Remove the hardcoded model
  frontend/src/context/AgentContext.tsx
  frontend/src/hooks/useAgent.ts
Due: frontend-prettier, frontend-lint

Fix artifact
  backend/src/tools/finance.py
  frontend/package-lock.json
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

can select tools to set
  frontend/src/components/modals/ToolSelectionModal/hooks/useToolSelection.ts
  frontend/src/hooks/useAgent.ts
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

Update changelog
  Changelog.md
Due: none

fixed
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/sections/agent-section.tsx
Due: frontend-prettier, frontend-lint

FROM bug/456-select-tools TO development (#478)
  Changelog.md
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useToolSelection.ts
  frontend/src/components/sections/agent-section.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint
