Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

feat(840): add enable/disable toggle for MCP servers
  backend/src/routes/v0/tool/info.py
  backend/src/schemas/entities/a2a.py
  backend/src/services/tool.py
  backend/tests/unit/services/test_mcp_filter.py
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
  frontend/src/tests/components/McpServerPanel.test.tsx
Due: backend-format, frontend-prettier, frontend-lint

Redirect initial chat to thread route
  frontend/src/hooks/useInitialThreadRedirect.test.tsx
  frontend/src/hooks/useInitialThreadRedirect.ts
  frontend/src/hooks/useThread.test.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/pages/threads/ThreadPage.test.tsx
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

fix: correct TypeScript type narrowing in useInitialThreadRedirect tests
  frontend/src/hooks/useInitialThreadRedirect.test.tsx
Due: frontend-prettier, frontend-lint

fix: reposition sandbox status composer refs #843
  frontend/src/components/chat/ChatComposer.test.tsx
  frontend/src/components/chat/ChatComposer.tsx
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/components/status/ThreadSandboxStatus.test.tsx
  frontend/src/components/status/ThreadSandboxStatus.tsx
  frontend/src/lib/config/sandbox.ts
  frontend/src/pages/chat/ChatPanel.test.tsx
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/pages/threads/ThreadPage.test.tsx
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

chore: scaffold issue #845 — specs, prd, changelog, archive
  .ralph/archive/feat-845/prd.json
  .ralph/archive/feat-845/specs/001-assistants-screenshots.md
  .ralph/archive/feat-845/specs/001-backend-schema.md
  .ralph/archive/feat-845/specs/002-backend-repo.md
  .ralph/archive/feat-845/specs/002-frontend-toggle.md
  .ralph/archive/feat-845/specs/002-memories-screenshots.md
  .ralph/archive/feat-845/specs/003-frontend-hook.md
  .ralph/archive/feat-845/specs/003-integration-and-cleanup.md
  .ralph/archive/feat-845/specs/003-schedules-screenshots.md
  .ralph/archive/feat-845/specs/004-frontend-ui.md
  .ralph/archive/feat-845/specs/004-projects-screenshots.md
  .ralph/archive/feat-845/specs/005-chat-screenshots.md
  .ralph/archive/feat-845/specs/005-cleanup-and-docs.md
  .ralph/archive/feat-845/specs/006-epics-screenshots.md
  .ralph/prd.json
  .specs/001-sandbox-gradient.md
  .specs/002-unified-file-panel-trigger.md
  .specs/003-rc-tag-automation.md
  Changelog.md
Due: none

feat: US-001 - Sandbox popover gradient background
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

feat: US-002 - Unified file panel trigger component
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/buttons/FilePanelTrigger.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/viewers/FileViewer.tsx
Due: frontend-prettier, frontend-lint

feat: US-003 - RC tag automation and push all changes
  .ralph/prd.json
  .ralph/progress.txt
Due: none

fix: remove unused useChatContext import in ChatNav
  frontend/src/components/nav/ChatNav.tsx
Due: frontend-prettier, frontend-lint

updates for sandbox toggles
  .claude/plans/rosy-launching-narwhal.md
  frontend/src/components/chat/ChatComposer.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/sections/agent-section.tsx
Due: frontend-prettier, frontend-lint

fix: send literal sandbox value to backend instead of null
  frontend/src/components/status/ThreadSandboxStatus.test.tsx
  frontend/src/components/status/ThreadSandboxStatus.tsx
  frontend/src/lib/config/sandbox.ts
Due: frontend-prettier, frontend-lint

feat: sandbox error handling, streaming improvements, and Daytona API key gating
  .claude/plans/parsed-swimming-pnueli.md
  .claude/plans/structured-sniffing-dahl.md
  .github/workflows/test.yml
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/schemas/entities/settings.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/agents/test_daytona.py
  backend/tests/unit/agents/test_daytona_error_handling.py
  backend/tests/unit/workers/test_worker_model_resolution.py
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/lib/services/userSettingsService.ts
  frontend/src/lib/utils/fetchStreamReader.ts
Due: backend-format, frontend-prettier, frontend-lint

adjust pr comments
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/pages/chat/ChatPanel.test.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

fix: add missing required Agent properties in ChatPanel test
  frontend/src/pages/chat/ChatPanel.test.tsx
Due: frontend-prettier, frontend-lint

fix: remove duplicate ChatInput on empty chat page
  frontend/src/pages/chat/ChatPanel.test.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

update default models
  .claude/plans/adaptive-kindling-breeze.md
  .claude/plans/dreamy-foraging-breeze.md
  backend/src/contexts/service.py
  backend/src/repos/base_repo.py
  backend/src/repos/epic_repo.py
  backend/src/repos/task_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/epic/__init__.py
  backend/src/schemas/entities/store.py
  backend/src/services/epic.py
  backend/src/tools/__init__.py
  backend/src/tools/epic.py
  backend/src/utils/tools.py
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/modals/CreateEpicModal.tsx
  frontend/src/components/modals/CreateTaskModal.tsx
  frontend/src/context/EpicContext.tsx
  frontend/src/hooks/useEpic.ts
  frontend/src/hooks/useModelVisibility.test.ts
  frontend/src/hooks/useModelVisibility.ts
  frontend/src/lib/entities/epic.ts
  frontend/src/lib/services/epicService.ts
  frontend/src/main.tsx
  frontend/src/pages/epics/EpicDetailPage.tsx
  frontend/src/pages/epics/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

update default models
  .claude/plans/declarative-bouncing-mochi.md
  .claude/plans/hashed-greeting-wall.md
  frontend/package-lock.json
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/sections/chat-section.tsx
  frontend/src/hooks/useModelVisibility.ts
  specs/001-assistants-screenshots.md
  specs/001-backend-schema.md
  specs/001-benchmark-setup.md
  specs/002-backend-repo.md
  specs/002-frontend-toggle.md
  specs/002-memories-screenshots.md
  specs/002-repo-benchmarks.md
  specs/003-frontend-hook.md
  specs/003-integration-and-cleanup.md
  specs/003-route-benchmarks.md
  specs/003-schedules-screenshots.md
  specs/004-frontend-ui.md
  specs/004-projects-screenshots.md
  specs/004-service-benchmarks.md
  specs/005-chat-screenshots.md
  specs/005-cleanup-and-docs.md
  specs/005-optimization-and-push.md
  specs/006-epics-screenshots.md
Due: frontend-prettier, frontend-lint

feat: add thread checkpoint history browsing and fork-to-restore
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/repos/thread_repo.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/checkpoint.py
  backend/src/schemas/entities/store.py
  backend/src/services/checkpoint.py
  backend/src/services/schedule.py
  backend/src/services/thread.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/routes/test_thread_checkpoints.py
  backend/tests/unit/services/test_checkpoint_history.py
  backend/tests/unit/services/test_schedule_dispatch.py
  backend/tests/unit/workers/test_worker_model_resolution.py
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/components/chat/ChatComposer.test.tsx
  frontend/src/components/chat/ChatComposer.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/nav/ChatNav.test.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/hooks/useThread.test.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/lib/entities/thread.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/threads/ThreadPage.test.tsx
  frontend/src/pages/threads/ThreadPage.tsx
  frontend/src/tests/services/threadService.test.ts
Due: backend-format, frontend-prettier, frontend-lint

feat: route app root to branded login
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/nav/ShareNav.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/components/sections/home/index.tsx
  frontend/src/layouts/AuthLayout.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/prompts/index.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/pages/share/SharedThreadPage.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
Due: frontend-prettier, frontend-lint

Fix test workflow push trigger
  .github/workflows/test.yml
Due: none

Fix stale CI tests for stream recovery
  backend/tests/integration/test_distributed_stream.py
  backend/tests/integration/test_multi_turn_distributed.py
  backend/tests/unit/workers/test_worker_model_resolution.py
  frontend/src/components/chat/ThemedConversationShell.test.tsx
Due: backend-format, frontend-prettier, frontend-lint

Apply verified code review fixes
  backend/src/repos/thread_repo.py
  frontend/Dockerfile.dev
  frontend/src/hooks/useChat.ts
  frontend/src/lib/entities/stream.ts
  frontend/src/lib/utils/activeStreamRecovery.ts
  frontend/src/validations/stream.ts
Due: backend-format, frontend-prettier, frontend-lint

init fix/855-files-map-not-persisted-across-threads
  Changelog.md
Due: none

docs: add root-cause plan for bug #855
  .claude/plans/bug-855/plan-0.md
Due: none

fix: submit canonical workspace files for bug #855
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/tests/context/ChatContext.test.tsx
  tasks/screenshots/bug-855-after.png
  tasks/screenshots/bug-855-before.png
Due: frontend-prettier, frontend-lint

does retain, if do not select pre-existing
  .claude/plans/cosmic-gliding-anchor.md
  .codex/agents
  .codex/skills
  backend/src/controllers/llm.py
  backend/src/services/context_files.py
  backend/src/services/schedule.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/controllers/test_llm_context_files.py
  backend/tests/unit/services/test_context_files.py
  backend/tests/unit/utils/test_stream_context_files.py
  backend/tests/unit/workers/test_worker_model_resolution.py
  frontend/src/components/buttons/NewThreadButton.test.tsx
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/tests/context/ChatContext.test.tsx
Due: backend-format, frontend-prettier, frontend-lint

We are able to delete files now and did not need to refresh
  .claude/artifacts/cross-thread-file-behavior/01-login.png
  .claude/artifacts/cross-thread-file-behavior/02-thread-a-empty-workspace.png
  .claude/artifacts/cross-thread-file-behavior/03-thread-a-generated-file.png
  .claude/artifacts/cross-thread-file-behavior/04-thread-b-after-new-session.png
  .claude/artifacts/cross-thread-file-behavior/05-thread-a-revisited.png
  .claude/artifacts/cross-thread-file-behavior/06-thread-switch-during-dirty-edit.png
  .claude/artifacts/cross-thread-file-behavior/07-post-refresh-workspace.png
  .claude/plans/cross-thread-file-behavior.md
  backend/src/utils/auth.py
  backend/tests/unit/utils/test_auth_dependency_scope.py
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/panels/FileTree/FileTreeHeader.tsx
  frontend/src/components/panels/FileTree/FileTreeNode.tsx
  frontend/src/components/panels/FileTree/FileTreeSidebar.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useFileSystem.ts
  frontend/src/hooks/useThread.test.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/pages/share/SharedThreadPage.tsx
  frontend/src/pages/threads/ThreadPage.test.tsx
  frontend/src/pages/threads/ThreadPage.tsx
  frontend/src/tests/components/FileEditorPanel.delete-flow.test.tsx
  frontend/src/tests/components/FileEditorPanel.manual-save.test.tsx
  frontend/src/tests/components/FileTreeSidebar.test.tsx
  frontend/src/tests/context/ChatContext.test.tsx
  frontend/src/tests/hooks/useFileSystem.test.ts
Due: backend-format, frontend-prettier, frontend-lint

fix: resolve TS2322 type error for onNewFile onClick handlers
  frontend/src/components/panels/FileTree/FileTreeHeader.tsx
  frontend/src/components/panels/FileTree/FileTreeSidebar.tsx
Due: frontend-prettier, frontend-lint

fix: abort active stream and guard against stale SSE on new thread
  frontend/src/components/buttons/NewThreadButton.test.tsx
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useInitialThreadRedirect.test.tsx
  frontend/src/hooks/useInitialThreadRedirect.ts
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/tests/integration/newChatThreadRedirect.test.tsx
Due: frontend-prettier, frontend-lint

Fixed updates to the filesystem
  .claude/plans/abstract-wondering-stearns.md
  .claude/plans/polymorphic-swimming-bunny.md
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useThread.test.tsx
  frontend/src/hooks/useThread.ts
Due: frontend-prettier, frontend-lint

fix: resolve worker crashes, orphaned tasks, and SSE streaming failures
  backend/src/routes/v0/llm.py
  backend/src/utils/stream.py
  backend/src/workers/broker.py
  backend/src/workers/state.py
  backend/src/workers/tasks.py
Due: backend-format

fix: harden worker state init, store isolation, and broker type hints
  backend/src/workers/broker.py
  backend/src/workers/state.py
  backend/src/workers/tasks.py
Due: backend-format

fix: resolve SSE stream race condition between frontend connect and worker startup
  backend/src/routes/v0/thread.py
  backend/src/utils/stream.py
  frontend/src/lib/utils/streamSource.ts
Due: backend-format, frontend-prettier, frontend-lint

fix: resolve SSE stream URL construction failure in production
  backend/src/repos/user_settings_repo.py
  frontend/src/lib/utils/streamSource.ts
Due: backend-format, frontend-prettier, frontend-lint

Fixed prod issue
  .claude/plans/glowing-wishing-sunset.md
  .claude/plans/joyful-weaving-kettle.md
  .claude/plans/optimized-greeting-wigderson.md
  .claude/plans/quizzical-munching-petal.md
  docker-compose.dev.yml
Due: none

feat: cache user settings reads with Redis (#863)
  backend/src/common/utils/redis_cache.py
  backend/src/repos/user_settings_repo.py
  backend/tests/unit/repos/test_user_settings_cache.py
  backend/tests/unit/repos/test_user_settings_repo.py
  backend/tests/unit/routes/test_settings_routes.py
  backend/tests/unit/services/test_context_files.py
Due: backend-format

feat: add info-level logging for settings cache hit/miss/invalidate
  backend/src/repos/user_settings_repo.py
Due: backend-format

feat: split Docker image into separate API and Worker targets (#865)
  .github/workflows/build.yml
  Makefile
  backend/pyproject.toml
  backend/scripts/benchmark-images.sh
  backend/scripts/build.sh
  backend/scripts/test-images.sh
  backend/src/common/utils/redis_cache.py
  backend/src/constants/redis.py
  backend/src/services/abort.py
  backend/src/utils/stream.py
  backend/src/workers/__init__.py
  backend/src/workers/broker.py
  backend/src/workers/tasks.py
  backend/uv.lock
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  specs/001-dependency-separation.md
  specs/002-shared-code-extraction.md
  specs/003-multi-target-dockerfile.md
  specs/004-cicd-updates.md
  specs/005-test-benchmark-environment.md
Due: backend-format

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
