Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

gpt4.1 as default
  backend/src/constants/llm.py
Due: backend-format

Resilient and able to abort queue
  .claude/specs/worker-abort-signal/PROPOSAL_ARCHITECT.md
  .claude/specs/worker-abort-signal/PROPOSAL_CRAFTSMAN.md
  .claude/specs/worker-abort-signal/PROPOSAL_GUARDIAN.md
  .claude/specs/worker-abort-signal/REVIEW.md
  .claude/specs/worker-abort-signal/TASKS.md
  backend/src/constants/__init__.py
  backend/src/routes/v0/thread.py
  backend/src/services/abort.py
  backend/src/services/checkpoint_resilient.py
  backend/src/tools/search.py
  backend/src/workers/tasks.py
  backend/tests/unit/services/test_abort_service.py
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useProject.ts
  frontend/src/lib/entities/stream.ts
  frontend/src/lib/services/shareService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/share/SharedThreadPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

Updates the abort functinality
  Changelog.md
Due: none

Fix tsts
  backend/tests/unit/controllers/test_files_state.py
  backend/tests/unit/services/test_assistant_service.py
  backend/tests/unit/services/test_project_service.py
  backend/tests/unit/services/test_source_service.py
  backend/tests/unit/tools/test_search.py
Due: backend-format

Add files via upload
  examples/agents/RLM.ipynb
Due: none

PR commits
  backend/src/services/abort.py
  backend/src/workers/tasks.py
  backend/tests/unit/services/test_abort_service.py
  backend/tests/unit/services/test_project_service.py
  backend/tests/unit/services/test_source_service.py
Due: backend-format

Fix deprecated async
  backend/migrations/env.py
  backend/tests/conftest.py
Due: backend-format

FROM bug/662-fix-db-timeout TO development (#689)
  .claude/specs/worker-abort-signal/PROPOSAL_ARCHITECT.md
  .claude/specs/worker-abort-signal/PROPOSAL_CRAFTSMAN.md
  .claude/specs/worker-abort-signal/PROPOSAL_GUARDIAN.md
  .claude/specs/worker-abort-signal/REVIEW.md
  .claude/specs/worker-abort-signal/TASKS.md
  Changelog.md
  backend/migrations/env.py
  backend/src/constants/__init__.py
  backend/src/routes/v0/thread.py
  backend/src/services/abort.py
  backend/src/services/checkpoint_resilient.py
  backend/src/tools/search.py
  backend/src/workers/tasks.py
  backend/tests/conftest.py
  backend/tests/unit/controllers/test_files_state.py
  backend/tests/unit/services/test_abort_service.py
  backend/tests/unit/services/test_assistant_service.py
  backend/tests/unit/services/test_project_service.py
  backend/tests/unit/services/test_source_service.py
  backend/tests/unit/tools/test_search.py
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useProject.ts
  frontend/src/lib/entities/stream.ts
  frontend/src/lib/services/shareService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/share/SharedThreadPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fix deploy
  backend/migrations/env.py
Due: backend-format

Fix 2026-01-20 00:43:58 | ERROR | src.utils.migrations:run_migrations:14 - Error running database migrations: 'ThreadPoolExecutor' object has no attribute 'NullPool'
  backend/migrations/env.py
Due: backend-format

prd done, ready
  .claude/specs/message-queue-system/PROPOSAL_ARCHITECT.md
  .claude/specs/message-queue-system/PROPOSAL_CRAFTSMAN.md
  .claude/specs/message-queue-system/PROPOSAL_GUARDIAN.md
  .claude/specs/message-queue-system/PROPOSAL_INTEGRATOR.md
  .claude/specs/message-queue-system/PROPOSAL_OPTIMIZER.md
  .claude/specs/message-queue-system/REVIEW.md
  .claude/specs/message-queue-system/TASKS.md
  Changelog.md
  tasks/prd-message-queue-system.md
Due: none

init
  Changelog.md
Due: none

queues well
  .claude/specs/frontend-message-queue/INITIAL_REPORT.md
  .claude/specs/frontend-message-queue/REVIEW.md
  .claude/specs/frontend-message-queue/TASKS.md
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/panels/QueuePanel.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/queue.ts
Due: frontend-prettier, frontend-lint

Working as expected
  frontend/src/hooks/useMessageQueue.ts
Due: frontend-prettier, frontend-lint

Uses textareas for edit boxes
  frontend/src/components/panels/QueuePanel.tsx
Due: frontend-prettier, frontend-lint

Fixes pr comments
  frontend/src/components/panels/QueuePanel.tsx
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/lib/entities/queue.ts
Due: frontend-prettier, frontend-lint

last
  frontend/src/components/panels/QueuePanel.tsx
Due: frontend-prettier, frontend-lint

FROM feat/504-frontend-queue TO development (#692)
  .claude/specs/frontend-message-queue/INITIAL_REPORT.md
  .claude/specs/frontend-message-queue/REVIEW.md
  .claude/specs/frontend-message-queue/TASKS.md
  Changelog.md
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/panels/QueuePanel.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/queue.ts
Due: frontend-prettier, frontend-lint

fix: track .ralph as a normal directory
  .ralph/.gitignore
  .ralph/prd.json.example
  .ralph/prompt.md
  .ralph/ralph.sh
  .ralph/skills/prd/SKILL.md
  .ralph/skills/ralph/SKILL.md
Due: none

Can execute bash, need thread followup
  .claude/specs/cli-bash-tool/PROPOSAL_ARCHITECT.md
  .claude/specs/cli-bash-tool/PROPOSAL_CRAFTSMAN.md
  .claude/specs/cli-bash-tool/PROPOSAL_GUARDIAN.md
  .claude/specs/cli-bash-tool/PROPOSAL_INTEGRATOR.md
  .claude/specs/cli-bash-tool/PROPOSAL_OPTIMIZER.md
  .claude/specs/cli-bash-tool/REVIEW.md
  .claude/specs/cli-bash-tool/TASKS.md
  backend/src/tools/__init__.py
  backend/src/tools/bash_tool.py
Due: backend-format

Can execute bash, need thread followup (#693)
  .claude/specs/cli-bash-tool/PROPOSAL_ARCHITECT.md
  .claude/specs/cli-bash-tool/PROPOSAL_CRAFTSMAN.md
  .claude/specs/cli-bash-tool/PROPOSAL_GUARDIAN.md
  .claude/specs/cli-bash-tool/PROPOSAL_INTEGRATOR.md
  .claude/specs/cli-bash-tool/PROPOSAL_OPTIMIZER.md
  .claude/specs/cli-bash-tool/REVIEW.md
  .claude/specs/cli-bash-tool/TASKS.md
  backend/src/tools/__init__.py
  backend/src/tools/bash_tool.py
Due: backend-format

Add reveal.js slide deck for Orchestra presentation
  docs/slides/index.html
Due: none

Example of how it should work
  backend/pyproject.toml
  backend/src/flows/__init__.py
  backend/src/services/checkpoint_resilient.py
  backend/src/utils/security.py
  backend/src/utils/stream.py
  backend/uv.lock
  examples/agents/stream_subagent_updates.ipynb
Due: backend-format

Update examples
  backend/pyproject.toml
  backend/uv.lock
  examples/agents/RLM.ipynb
  examples/agents/deep_agent_backend.ipynb
  examples/agents/stream_subagent_updates.ipynb
  examples/tools/api_as_tool.ipynb
  examples/tools/yfinance.ipynb
Due: backend-format

Allows for minimal deck
  .github/workflows/docs.yml
  .github/workflows/slides.yml
  docs/slides/README.md
Due: none

move to examples dir
  examples/slides/README.md
  examples/slides/index.html
Due: none

Move back
  docs/index.html
  docs/slides/README.md
  docs/slides/index.html
Due: none

UPdate
  examples/tools/api_as_tool.ipynb
Due: none

cleanup
  examples/tools/yfinance.ipynb
Due: none

update
  AGENTS.md
Due: none

Consolidation
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/flows/authorize/__init__.py
  backend/src/flows/authorize/utils/nodes.py
  backend/src/flows/chatbot.py
  backend/src/flows/xml_agent.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
  backend/src/services/schedule.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/routes/test_thread_hitl.py
Due: backend-format

Fix create spec
  .claude/commands/context-explorer.runbook.md
  .claude/commands/git/issue-init.md
  .claude/commands/git/pr-init.md
  .claude/commands/plan.md
  .claude/commands/prime.md
  .claude/commands/spec/feature.md
  .claude/commands/worktree.md
  .claude/outputs/pr-announcements/index.md
  .claude/skills/context-explorer/README.md
  .claude/skills/context-explorer/SKILL.md
  .claude/skills/context-explorer/acceptance-criteria.md
  .claude/skills/context-explorer/codebase-search.md
  .claude/skills/context-explorer/end-state-spec.md
  .claude/skills/context-explorer/evidence-plan.md
  .claude/skills/context-explorer/missing-details-regression.md
  .claude/skills/context-explorer/risk-gaps.md
  .claude/skills/context-explorer/test-analysis.md
  .claude/skills/context-explorer/type-analysis.md
  .claude/skills/manage-app/SKILL.md
  .claude/templates/context-explorer.report.md
  .claude/templates/decision-log.md
  .claude/templates/hypothesis-ledger.md
  .claude/templates/missing-details-backlog.md
  .claude/templates/targeted-evidence-plan.md
  frontend/package-lock.json
Due: frontend-prettier, frontend-lint

Default model in init_graph
  backend/src/agents/__init__.py
  frontend/src/components/inputs/ChatInput.tsx
Due: backend-format, frontend-prettier, frontend-lint

Init
  Changelog.md
Due: none

feat: Replace Taskiq Redis broker with PostgreSQL
  README.md
  backend/.example.env
  backend/migrations/env.py
  backend/migrations/versions/0002_add_taskiq_postgres_tables.py
  backend/pyproject.toml
  backend/scripts/test-distributed-workers.sh
  backend/src/agents/__init__.py
  backend/src/services/abort.py
  backend/src/tools/__init__.py
  backend/src/utils/security.py
  backend/src/utils/stream.py
  backend/src/workers/__init__.py
  backend/src/workers/broker.py
  backend/src/workers/tasks.py
  backend/tests/conftest.py
  backend/tests/unit/services/test_abort_service.py
  backend/tests/unit/workers/test_broker.py
  backend/tests/unit/workers/test_stream_consumer.py
  docker-compose.yml
Due: backend-format

Add PRD for FileSystemBackend implementation
  docs/prd/filesystem-backend.md
Due: none

Add PRD for FileSystem backend with Daytona integration
  .claude/specs/feat-filesystem-backend-daytona/PRD.md
Due: none

Add comprehensive architecture analysis with complexity ranking
  docs/ARCHITECTURE_ANALYSIS.md
Due: none
