Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

docs: add specs for schedule execution history, heartbeat, and enhanced cron
  specs/006-schedule-execution-history.md
  specs/007-heartbeat-system.md
  specs/008-enhanced-cron.md
Due: none

chore: remove mkdocs dependency entirely — docs consolidated on Docusaurus wiki
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.dev.yml
  specs/001-dependency-separation.md
Due: backend-format

feat: add schedule execution history, run-now, and timezone support
  backend/migrations/versions/0002_add_schedule_executions.py
  backend/src/repos/schedule_execution_repo.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/schedule.py
  backend/src/schemas/models/__init__.py
  backend/src/schemas/models/schedule_execution.py
  backend/src/services/db.py
  backend/src/services/schedule.py
Due: backend-format

fix: add --extra api to CI uv sync commands
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

feat: split Docker image into separate API and Worker targets (#867)
  .github/workflows/build.yml
  .github/workflows/test.yml
  Makefile
  backend/pyproject.toml
  backend/scripts/benchmark-images.sh
  backend/scripts/build.sh
  backend/scripts/test-images.sh
  backend/src/common/utils/redis_cache.py
  backend/src/constants/redis.py
  backend/src/services/abort.py
  backend/src/utils/stream.py
  backend/src/workers/__init__.py
  backend/src/workers/broker.py
  backend/src/workers/tasks.py
  backend/uv.lock
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  specs/001-dependency-separation.md
  specs/002-shared-code-extraction.md
  specs/003-multi-target-dockerfile.md
  specs/004-cicd-updates.md
  specs/005-test-benchmark-environment.md
Due: backend-format

refactor: use LangGraph Store pattern for schedule executions
  backend/migrations/versions/0002_add_schedule_executions.py
  backend/src/repos/base_repo.py
  backend/src/repos/schedule_execution_repo.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/schedule_execution.py
  backend/src/schemas/models/__init__.py
  backend/src/schemas/models/schedule_execution.py
  backend/src/services/db.py
  backend/src/services/schedule.py
Due: backend-format

docs: update spec 006 to reflect Store-based pattern
  specs/006-schedule-execution-history.md
Due: none

Revert "feat: split Docker image into separate API and Worker targets (#867)"
  .github/workflows/build.yml
  .github/workflows/test.yml
  Makefile
  backend/Dockerfile
  backend/pyproject.toml
  backend/scripts/benchmark-images.sh
  backend/scripts/build.sh
  backend/scripts/test-images.sh
  backend/src/common/utils/redis_cache.py
  backend/src/constants/redis.py
  backend/src/services/abort.py
  backend/src/utils/stream.py
  backend/src/workers/__init__.py
  backend/src/workers/broker.py
  backend/src/workers/tasks.py
  backend/uv.lock
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  specs/001-dependency-separation.md
  specs/002-shared-code-extraction.md
  specs/003-multi-target-dockerfile.md
  specs/004-cicd-updates.md
  specs/005-test-benchmark-environment.md
Due: backend-format

fix: make fastapi imports lazy so worker image starts without fastapi
  backend/src/constants/examples/__init__.py
  backend/src/repos/tool_repo.py
  backend/src/schemas/examples/__init__.py
  backend/src/services/db.py
  backend/src/services/prompt/__init__.py
  backend/src/services/schedule.py
  backend/src/utils/a2a.py
Due: backend-format

feat: split Docker image into separate API and Worker targets (#869)
  .github/workflows/build.yml
  .github/workflows/test.yml
  Makefile
  backend/pyproject.toml
  backend/scripts/benchmark-images.sh
  backend/scripts/build.sh
  backend/scripts/test-images.sh
  backend/src/common/utils/redis_cache.py
  backend/src/constants/examples/__init__.py
  backend/src/constants/redis.py
  backend/src/repos/tool_repo.py
  backend/src/schemas/examples/__init__.py
  backend/src/services/abort.py
  backend/src/services/db.py
  backend/src/services/prompt/__init__.py
  backend/src/services/schedule.py
  backend/src/utils/a2a.py
  backend/src/utils/stream.py
  backend/src/workers/__init__.py
  backend/src/workers/broker.py
  backend/src/workers/tasks.py
  backend/uv.lock
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  specs/001-dependency-separation.md
  specs/002-shared-code-extraction.md
  specs/003-multi-target-dockerfile.md
  specs/004-cicd-updates.md
  specs/005-test-benchmark-environment.md
Due: backend-format

feat: US-001 - Create skill directory and SKILL.md with frontmatter
  .claude/skills/video-gif-generation/SKILL.md
Due: none

feat: US-002 - Add prerequisite validation instructions to SKILL.md
  .claude/skills/video-gif-generation/SKILL.md
Due: none

feat: US-003 - Add viewport and display configuration instructions to SKILL.md
  .claude/skills/video-gif-generation/SKILL.md
Due: none

feat: US-004 - Add recording workflow orchestration instructions to SKILL.md
  .claude/skills/video-gif-generation/SKILL.md
Due: none

feat: US-005 - Add output path and naming convention instructions to SKILL.md
  .claude/skills/video-gif-generation/SKILL.md
Due: none

feat: US-006 - Add video-to-GIF conversion instructions to SKILL.md
  .claude/skills/video-gif-generation/SKILL.md
Due: none

feat: US-007 - Add error handling instructions to SKILL.md
  .claude/skills/video-gif-generation/SKILL.md
Due: none

chore: mark US-007 complete and update progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: add React Joyride onboarding tour for new users (#870)
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/settings.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/buttons/HelpButton.tsx
  frontend/src/components/chat/ChatComposer.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/nav/ChatNav.test.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/context/OnboardingContext.tsx
  frontend/src/layouts/chat-layout-v2.tsx
  frontend/src/lib/config/onboardingSteps.ts
  frontend/src/lib/services/userSettingsService.ts
  frontend/src/main.tsx
Due: backend-format, frontend-prettier, frontend-lint

feat: add React Joyride onboarding tour for new users (#870) (#872)
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/settings.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/buttons/HelpButton.tsx
  frontend/src/components/chat/ChatComposer.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/nav/ChatNav.test.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/context/OnboardingContext.tsx
  frontend/src/layouts/chat-layout-v2.tsx
  frontend/src/lib/config/onboardingSteps.ts
  frontend/src/lib/services/userSettingsService.ts
  frontend/src/main.tsx
Due: backend-format, frontend-prettier, frontend-lint

chore: add plan for removing cli, sandboxes, website submodules
  .claude/plans/remove-submodules.md
Due: none

chore: archive ralph artifacts for video-gif-generation skill
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: remove cli, sandboxes, and website submodules
  .gitmodules
Due: none

feat: route app root to login and remove anonymous landing page (#851)
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/components/sections/home/index.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

feat: add Joyride tour steps for ChatComposer sub-components
  frontend/src/components/chat/ChatUtilityRow.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/menus/AgentMenu.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/status/ThreadSandboxStatus.tsx
  frontend/src/lib/config/onboardingSteps.ts
Due: frontend-prettier, frontend-lint

feat: add Joyride tour steps for ChatComposer sub-components (#876)
  frontend/src/components/chat/ChatUtilityRow.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/menus/AgentMenu.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/status/ThreadSandboxStatus.tsx
  frontend/src/lib/config/onboardingSteps.ts
Due: frontend-prettier, frontend-lint

fix: restore docs/ directory for GitHub Pages slide deck deployment
  docs/AGENTS.md
  docs/CLAUDE.md
  docs/README.md
  docs/index.html
  docs/slides/README.md
  docs/slides/images/ruska_logo_200.png
  docs/slides/index.html
  docs/slides/onepager.html
  docs/slides/screenshots/01-title.png
  docs/slides/screenshots/02-title-expanded.png
  docs/slides/screenshots/03-challenge.png
  docs/slides/screenshots/04-solution.png
  docs/slides/screenshots/08-cta.png
  docs/slides/screenshots/09-thank-you.png
  docs/slides/screenshots/mermaid-architecture.png
  docs/slides/screenshots/onepager.pdf
  docs/slides/screenshots/orchestra-chat.png
  docs/slides/screenshots/ruska-ai-bottom.png
  docs/slides/screenshots/ruska-ai-hero.png
  docs/slides/screenshots/ruska-ai-lower.png
  docs/slides/screenshots/ruska-ai-mid.png
  docs/slides/screenshots/slides-01-title.png
  docs/slides/screenshots/slides-02-expanded.png
  docs/slides/screenshots/slides-03-challenge.png
  docs/slides/screenshots/slides-04-solution.png
  docs/slides/screenshots/slides-05-architecture.png
  docs/slides/screenshots/slides-06-features.png
  docs/slides/screenshots/title-expanded.png
  docs/slides/screenshots/title-slide.png
Due: none

feat: add user timezone configuration in settings
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/settings.py
  frontend/src/components/settings/TimezoneSettings.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/userSettingsService.ts
  frontend/src/pages/settings/index.tsx
Due: backend-format, frontend-prettier, frontend-lint

fix: restore docs/ directory for GitHub Pages slide deck deployment (#877)
  docs/AGENTS.md
  docs/CLAUDE.md
  docs/README.md
  docs/index.html
  docs/slides/README.md
  docs/slides/images/ruska_logo_200.png
  docs/slides/index.html
  docs/slides/onepager.html
  docs/slides/screenshots/01-title.png
  docs/slides/screenshots/02-title-expanded.png
  docs/slides/screenshots/03-challenge.png
  docs/slides/screenshots/04-solution.png
  docs/slides/screenshots/08-cta.png
  docs/slides/screenshots/09-thank-you.png
  docs/slides/screenshots/mermaid-architecture.png
  docs/slides/screenshots/onepager.pdf
  docs/slides/screenshots/orchestra-chat.png
  docs/slides/screenshots/ruska-ai-bottom.png
  docs/slides/screenshots/ruska-ai-hero.png
  docs/slides/screenshots/ruska-ai-lower.png
  docs/slides/screenshots/ruska-ai-mid.png
  docs/slides/screenshots/slides-01-title.png
  docs/slides/screenshots/slides-02-expanded.png
  docs/slides/screenshots/slides-03-challenge.png
  docs/slides/screenshots/slides-04-solution.png
  docs/slides/screenshots/slides-05-architecture.png
  docs/slides/screenshots/slides-06-features.png
  docs/slides/screenshots/title-expanded.png
  docs/slides/screenshots/title-slide.png
Due: none

feat: add user timezone configuration in settings (#878)
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/settings.py
  frontend/src/components/settings/TimezoneSettings.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/userSettingsService.ts
  frontend/src/pages/settings/index.tsx
Due: backend-format, frontend-prettier, frontend-lint

feat: add complexity audit issue template
  .github/ISSUE_TEMPLATE/complexity_audit.md
Due: none

feat: add complexity audit issue template (#879)
  .github/ISSUE_TEMPLATE/complexity_audit.md
Due: none

feat: add complexity audit agent, skill, and command
  .claude/agents/complexity-auditor.md
  .claude/commands/complexity-audit.md
  .claude/skills/complexity-audit/SKILL.md
Due: none

feat: add complexity audit agent, skill, and command (#880)
  .claude/agents/complexity-auditor.md
  .claude/commands/complexity-audit.md
  .claude/skills/complexity-audit/SKILL.md
Due: none

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
