Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

docs: add consolidated implementation plan for stream_mode parameter
  .claude/plans/stream-mode-configurable.md
Due: none

feat: US-001 - Add stream_mode field to LLMRequest schema
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/llm.py
Due: backend-format

feat: US-002 - Fix handle_updates_mode() bug and make generic
  backend/src/utils/stream.py
Due: backend-format

refactor(stream): extract helpers to reduce stream_generator complexity
  backend/src/utils/stream.py
Due: backend-format

refactor(tasks): extract _stream_chunks_to_redis to reduce _execute_agent_stream complexity
  backend/src/workers/tasks.py
Due: backend-format

feat: US-003 - Refactor handle_multi_mode() to dispatch all stream modes
  backend/src/utils/stream.py
Due: backend-format

refactor(server): DRY server lookup and authorization patterns
  backend/src/routes/v0/server.py
Due: backend-format

refactor(stream): use guard clauses in handle_multi_mode to flatten nesting
  backend/src/utils/stream.py
Due: backend-format

feat: US-004 - Thread stream_mode through sync streaming pipeline
  backend/src/controllers/llm.py
  backend/src/services/llm.py
  backend/src/utils/stream.py
Due: backend-format

feat: US-005 - Thread stream_mode through distributed worker pipeline
  backend/src/routes/v0/llm.py
  backend/src/workers/tasks.py
Due: backend-format

feat: US-006 - Add unit tests for stream_mode validation and dispatch
  backend/tests/unit/schemas/test_stream_mode_validation.py
  backend/tests/unit/utils/test_stream_mode_dispatch.py
Due: backend-format

feat: US-007 - Update OpenAPI examples for stream_mode parameter
  backend/src/constants/examples/__init__.py
Due: backend-format

docs: add PRD for stream_mode parameter feature
  tasks/prd-stream-mode-param.md
Due: none

docs: add US-008 smoke test plan with log output to PRD and implementation plan
  .claude/plans/stream-mode-configurable.md
  tasks/prd-stream-mode-param.md
Due: none

Update gitignore
  backend/.gitignore
Due: backend-format

feat: user-configurable stream_mode parameter for /llm/stream (#882)
  .claude/plans/stream-mode-configurable.md
  backend/.gitignore
  backend/src/constants/examples/__init__.py
  backend/src/controllers/llm.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/services/llm.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/schemas/test_stream_mode_validation.py
  backend/tests/unit/utils/test_stream_mode_dispatch.py
  tasks/prd-stream-mode-param.md
Due: backend-format

chore: split compose into services/storage files, ignore ralph archives
  .gitignore
  docker-compose.services.yml
  docker-compose.storage.yml
Due: none

refactor: complexity audit — reduce CC in top 3 hotspots (#883)
  .gitignore
  backend/src/routes/v0/server.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  docker-compose.services.yml
  docker-compose.storage.yml
Due: backend-format

feat: add heartbeat scheduler PRD with 25 user stories and E2E validation plan
  tasks/prd-heartbeat-scheduler.md
Due: none

Commit specs & prd
  specs/001-schedule-tool.md
  specs/002-heartbeat-engine.md
  specs/003-heartbeat-api-tools.md
  specs/004-heartbeat-frontend.md
  specs/005-scheduler-migration.md
  specs/archive/001-dependency-separation.md
  specs/archive/002-shared-code-extraction.md
  specs/archive/003-multi-target-dockerfile.md
  specs/archive/004-cicd-updates.md
  specs/archive/005-test-benchmark-environment.md
  specs/archive/chat-page.png
  specs/archive/thread-page.png
  tasks/prd-heartbeat-scheduler.md
Due: none

feat: US-001 - Create schedule from chat
  backend/src/tools/schedule.py
Due: backend-format

feat: US-002 - List schedules from chat
  backend/src/tools/schedule.py
Due: backend-format

feat: US-003 - Delete schedule from chat
  backend/src/tools/schedule.py
Due: backend-format

feat: US-004 - Register schedule tools in default tool library
  backend/src/tools/__init__.py
Due: backend-format

feat: US-005 - Unit tests for schedule tools
  backend/tests/unit/tools/test_schedule_tools.py
Due: backend-format

feat: US-006 - Heartbeat Pydantic schemas
  backend/src/schemas/entities/heartbeat.py
Due: backend-format

feat: US-007 - Heartbeat repository layer
  backend/src/repos/heartbeat_repo.py
Due: backend-format

feat: US-008 - Heartbeat service -- tick logic
  backend/src/services/heartbeat.py
Due: backend-format

feat: US-009 - Heartbeat service -- TaskIQ registration
  backend/src/services/heartbeat.py
Due: backend-format

feat: US-010 - TaskIQ worker task and scheduler setup
  backend/src/workers/heartbeat.py
  backend/src/workers/scheduler.py
Due: backend-format

feat: US-011 - Wire HeartbeatService into ServiceContext
  backend/src/contexts/service.py
Due: backend-format

feat: US-012 - Docker scheduler service
  docker-compose.dev.yml
Due: none

feat: US-013 - Heartbeat service unit tests
  backend/tests/unit/services/test_heartbeat_service.py
Due: backend-format

feat: US-014 - Heartbeat REST API endpoints
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/heartbeat.py
Due: backend-format

feat: US-015 - Heartbeat REST API unit tests
  backend/tests/unit/routes/test_heartbeat_routes.py
Due: backend-format

feat: US-016 - Heartbeat chat tools
  backend/src/tools/__init__.py
  backend/src/tools/heartbeat.py
Due: backend-format

feat: US-017 - Heartbeat chat tools unit tests
  backend/tests/unit/tools/test_heartbeat_tools.py
Due: backend-format

feat: US-018 - Frontend heartbeat TypeScript interfaces
  frontend/src/lib/entities/heartbeat.ts
Due: frontend-prettier, frontend-lint

feat: US-019 - Frontend heartbeat API service
  frontend/src/lib/services/heartbeatService.ts
Due: frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
