Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

scroll for editor tabs
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

Able to stay in preview mode
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

Default is nano 5
  backend/src/routes/v0/llm.py
Due: backend-format

Version fixed
  frontend/src/context/AppContext.tsx
  frontend/src/hooks/useAppHook.ts
  frontend/src/layouts/AuthLayout.tsx
  frontend/src/layouts/NoAuthLayout.tsx
Due: frontend-prettier, frontend-lint

FROM bug/518-on-new-token-is-broken TO development (#523)
  Changelog.md
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/static/prompts/md/default.md
  backend/src/tools/search.py
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/context/AppContext.tsx
  frontend/src/hooks/useAppHook.ts
  frontend/src/layouts/AuthLayout.tsx
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/pages/Chat.tsx
Due: backend-format, frontend-prettier, frontend-lint

Add lib submodule
  .gitmodules
Due: none

Should speed up queries
  README.md
  backend/src/services/checkpoint.py
  backend/src/services/thread.py
  backend/src/static/prompts/md/default.md
  backend/src/tools/search.py
  docs/getting-started.md
  frontend/mock/config.ts
  frontend/src/components/sections/chat-section.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

init
  Changelog.md
Due: none

Backend changes in place
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/format.py
  backend/src/utils/stream.py
Due: backend-format

Allows for instructions to be passed
  backend/src/tools/search.py
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/PromptCard.tsx
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/forms/PromptModeSelector.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/PromptSelectionModal.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/prompt.ts
  frontend/src/lib/entities/schedule.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/lib/utils/prompt.ts
  frontend/src/lib/utils/schedule.ts
  frontend/src/pages/prompts/create.tsx
  frontend/src/pages/prompts/edit.tsx
  frontend/src/pages/schedules/index.tsx
Due: backend-format, frontend-prettier, frontend-lint

Working now
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

FROM feat/528-pagination-for-threads TO development (#529)
  Changelog.md
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

Cleans up base reasoning
  backend/src/tools/base/__init__.py
  backend/src/tools/base/reasoning.py
  backend/src/tools/math.py
  backend/src/tools/search.py
Due: backend-format

Appears to have one-shotted, few pieces to fix but got for most part
  backend/src/constants/__init__.py
  backend/src/constants/examples/__init__.py
  backend/src/repos/base_repo.py
  backend/src/repos/thread_snapshot_repo.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/store.py
  backend/src/services/thread.py
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/modals/ThreadSearchModal.tsx
  frontend/src/hooks/useThreadSearch.ts
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/thread.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

We have full semantic but the content returned is the docs and we need to clean this up.
  backend/src/constants/__init__.py
  backend/src/flows/xml_agent.py
  backend/src/repos/thread_snapshot_repo.py
  backend/src/services/thread.py
  backend/src/utils/format.py
  backend/src/utils/messages.py
  backend/src/utils/stream.py
Due: backend-format

Switch to name thread_repo
  backend/src/repos/thread_repo.py
  backend/src/repos/thread_snapshot_repo.py
  backend/src/routes/v0/thread.py
  backend/src/services/thread.py
Due: backend-format

Can render mermaid diagrams
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/MarkdownCard.tsx
Due: frontend-prettier, frontend-lint

Can render mermaid
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

FROM feat/534-mermaid-diagram TO development (#535)
  Changelog.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

Consolidates thread_repo, had wrong init as well
  backend/src/repos/thread_repo.py
  backend/src/services/thread.py
Due: backend-format

Semantic search for threads
  backend/src/repos/thread_repo.py
  backend/src/schemas/entities/store.py
  backend/src/services/db.py
  backend/src/services/thread.py
  backend/src/utils/stream.py
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/modals/ThreadSearchModal.tsx
  frontend/src/hooks/useThreadSearch.ts
  frontend/src/lib/entities/thread.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

fix build
  frontend/src/lib/services/threadService.ts
Due: frontend-prettier, frontend-lint

GPT 4.1 default model
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
Due: backend-format

FROM feat/530-semantic-search-over-threads TO development (#531)
  Changelog.md
  backend/src/constants/__init__.py
  backend/src/constants/examples/__init__.py
  backend/src/constants/llm.py
  backend/src/flows/xml_agent.py
  backend/src/repos/base_repo.py
  backend/src/repos/thread_repo.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/store.py
  backend/src/services/db.py
  backend/src/services/thread.py
  backend/src/utils/format.py
  backend/src/utils/messages.py
  backend/src/utils/stream.py
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/modals/ThreadSearchModal.tsx
  frontend/src/hooks/useThreadSearch.ts
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/thread.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Init
  Changelog.md
Due: none

Pretty sure this is fix
  backend/src/repos/thread_repo.py
Due: backend-format

FROM bug/536-error-search-threads-files TO development (#537)
  Changelog.md
  backend/src/repos/thread_repo.py
Due: backend-format

Don't index the files
  backend/src/repos/thread_repo.py
Due: backend-format

wrap content with formatContent
  backend/src/repos/thread_repo.py
  frontend/src/components/modals/ThreadSearchModal.tsx
Due: backend-format, frontend-prettier, frontend-lint

Nope remove
  backend/src/repos/thread_repo.py
Due: backend-format

Fixes gemini 3, still need to fix final output but works
  backend/pyproject.toml
  backend/uv.lock
Due: backend-format

Fixes gemini 3, still need to fix final output but works (#539)
  backend/pyproject.toml
  backend/uv.lock
Due: backend-format

Fixes but prolly should reset caht wiwndow
  backend/src/repos/thread_repo.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/store.py
  backend/src/services/checkpoint.py
Due: backend-format

FROM bug/538-fetch-threads-directly TO development (#540)
  Changelog.md
  backend/src/repos/thread_repo.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/store.py
  backend/src/services/checkpoint.py
Due: backend-format
