Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

Update files'
  .claude/agents/spec-generator.md
  .claude/agents/spec-generator/README.md
  .claude/commands/git/issue-init.md
  .claude/commands/git/pr-init.md
  .claude/commands/spec-generator/analyze-branch.md
  .claude/commands/spec-generator/generate-spec.md
  .claude/commands/spec-generator/refine-spec.md
  .claude/commands/spec-generator/validate-spec.md
  .claude/skills/spec-generator/assumption-invalidation.md
  .claude/skills/spec-generator/change-detection.md
  .claude/skills/spec-generator/context-extraction.md
  .claude/skills/spec-generator/end-state-regression.md
  .claude/skills/spec-generator/gap-analysis.md
  .claude/skills/spec-generator/signal-noise-filtering.md
  .claude/skills/spec-generator/spec-synthesis.md
  Changelog.md
Due: none

Tests pass, need to review
  .claude/agents/spec-generator.md
  .claude/commands/spec-generator/analyze-branch.md
  .claude/commands/spec-generator/generate-spec.md
  .claude/commands/spec-generator/refine-spec.md
  .claude/commands/spec-generator/validate-spec.md
  .claude/commands/spec/bug.md
  .claude/commands/spec/feature.md
  .claude/prompts/ralph/bug.md
  .claude/ralph-loop.local.md
  .claude/skills/spec-generator/assumption-invalidation.md
  .claude/skills/spec-generator/change-detection.md
  .claude/skills/spec-generator/context-extraction.md
  .claude/skills/spec-generator/end-state-regression.md
  .claude/skills/spec-generator/gap-analysis.md
  .claude/skills/spec-generator/signal-noise-filtering.md
  .claude/skills/spec-generator/spec-synthesis.md
  .claude/specs/SPEC-FEATURE-20250110-633-PUBLIC-AGENTS-DISPLAY.md
  .claude/specs/feature-637-persist-files-to-agent.md
  backend/CLAUDE.md
  backend/src/schemas/entities/llm.py
  backend/tests/integration/test_public_assistants.py
  backend/tests/unit/services/test_assistant_service.py
  frontend/PROPOSAL_ARCHITECT.md
  frontend/PROPOSAL_CRAFTSMAN.md
  frontend/PROPOSAL_GUARDIAN.md
  frontend/PROPOSAL_INTEGRATOR.md
  frontend/PROPOSAL_OPTIMIZER.md
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/panels/FileTree/FileTreeNode.tsx
  frontend/src/components/panels/FileTree/FileTreeSearch.tsx
  frontend/src/components/panels/FileTree/FileTreeSidebar.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useFileSystem.ts
  frontend/src/pages/agents/index.tsx
  frontend/src/styles/file-tree.css
  frontend/src/tests/hooks/useFileSystem.test.ts
  frontend/src/tests/hooks/useFileTreeData.test.ts
Due: backend-format, frontend-prettier, frontend-lint

Update docker ignore
  backend/.dockerignore
Due: backend-format

Fix frontend
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Remove the ability for public users to see filesystem
  .claude/agents/context-explorer.md
  .claude/commands/context-explorer.runbook.md
  .claude/skills/context-explorer/README.md
  .claude/skills/context-explorer/SKILL.md
  .claude/skills/context-explorer/codebase-search.md
  .claude/skills/context-explorer/commit-intent-extraction.md
  .claude/skills/context-explorer/diff-triage.md
  .claude/skills/context-explorer/doc-delta-scan.md
  .claude/skills/context-explorer/test-analysis.md
  .claude/skills/context-explorer/type-analysis.md
  .claude/specs/feature-637-persist-files-to-agent.md
  .claude/templates/context-explorer.report.md
  backend/CLAUDE.md
  backend/src/schemas/entities/llm.py
  backend/tests/integration/test_public_assistants.py
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

fix minor in PR
  .claude/ralph-loop.local.md
  .claude/specs/feat-637-frontend.md
  frontend/CLAUDE.md
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/thread.tsx
Due: frontend-prettier, frontend-lint

init
  .claude/commands/README.md
  .claude/commands/spec/bug.md
  .claude/commands/spec/feature.md
  .claude/ralph-loop.local.md
  .claude/specs/feature-654-inference-dictation.md
  Changelog.md
  README.md
Due: none

Tests pass in worktree
  .claude/ralph-loop.local.md
  .claude/specs/feature-654-inference-dictation.md
  backend/src/schemas/entities/llm.py
  backend/tests/integration/test_llm_routes.py
  backend/tests/unit/controllers/__init__.py
  backend/tests/unit/controllers/test_llm_controller.py
  frontend/CLAUDE.md
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/hooks/useInferenceDictation.ts
  frontend/src/tests/components/FileEditorPanel.test.tsx
  frontend/src/tests/hooks/useInferenceDictation.test.ts
Due: backend-format, frontend-prettier, frontend-lint

Fix templates
  .claude/commands/spec/bug.md
  .claude/commands/spec/feature.md
  .claude/specs/feature-637-persist-files-to-agent.md
Due: none

Supposed to fix the stream into fiel
  .plans/images/fib.png
  .plans/images/llm-stream-request.png
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

Works but not good enough, has trouble edting othre files
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

Fixes for another PR
  .plans/images/edit-fib.png
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/stream.py
  frontend/src/components/panels/FileEditorPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fixes frontend
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/tests/components/FileEditorPanel.test.tsx
  frontend/src/tests/hooks/useInferenceDictation.test.ts
Due: frontend-prettier, frontend-lint

Address commits"
  backend/src/schemas/entities/llm.py
Due: backend-format

FROM feat/654-inference-dication TO development (#655)
  .claude/commands/README.md
  .claude/commands/spec/bug.md
  .claude/commands/spec/feature.md
  .claude/ralph-loop.local.md
  .claude/specs/feature-654-inference-dictation.md
  .plans/images/edit-fib.png
  .plans/images/fib.png
  .plans/images/llm-stream-request.png
  Changelog.md
  README.md
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/stream.py
  backend/tests/integration/test_llm_routes.py
  backend/tests/unit/controllers/__init__.py
  backend/tests/unit/controllers/test_llm_controller.py
  frontend/CLAUDE.md
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/hooks/useInferenceDictation.ts
  frontend/src/tests/components/FileEditorPanel.test.tsx
  frontend/src/tests/hooks/useInferenceDictation.test.ts
Due: backend-format, frontend-prettier, frontend-lint

init
  .claude/commands/team.md
  .claude/ralph-loop.local.md
  .claude/specs/feature-656-distributed-workers-taskiq/SPEC.md
Due: none

update changelog
  Changelog.md
Due: none

Tests pass, CURL commands checkout
  .claude/ralph-loop.local.md
  backend/pyproject.toml
  backend/scripts/stream.sh
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/utils/auth.py
  backend/src/utils/stream.py
  backend/src/workers/__init__.py
  backend/src/workers/broker.py
  backend/src/workers/tasks.py
  backend/tests/conftest.py
  backend/tests/integration/test_agent_stream.py
  backend/tests/integration/test_distributed_stream.py
  backend/tests/integration/test_llm_routes.py
  backend/tests/unit/utils/__init__.py
  backend/tests/unit/utils/test_handle_multi_mode.py
  backend/tests/unit/workers/__init__.py
  backend/tests/unit/workers/test_broker.py
  backend/tests/unit/workers/test_stream_consumer.py
  backend/tests/unit/workers/test_tasks.py
  backend/uv.lock
  docker-compose.yml
Due: backend-format

SPEC updates
  .claude/specs/feature-656-distributed-workers-taskiq/SPEC.md
Due: none

Working for most part, need to fix up some tooling
  .claude/ralph-loop.local.md
  .claude/specs/feature-656-distributed-workers-taskiq/001-dupe-and-no-ai-response-follow-up.png
  .claude/specs/feature-656-distributed-workers-taskiq/FINAL_REPORT.md
  .claude/specs/feature-656-distributed-workers-taskiq/FRONTEND-SPEC.md
  .claude/specs/feature-656-distributed-workers-taskiq/REVIEW.md
  .claude/specs/feature-656-distributed-workers-taskiq/TASKS.md
  .claude/specs/feature-656-distributed-workers-taskiq/frontend/PROPOSAL_ARCHITECT.md
  .claude/specs/feature-656-distributed-workers-taskiq/frontend/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feature-656-distributed-workers-taskiq/frontend/PROPOSAL_GUARDIAN.md
  .claude/specs/feature-656-distributed-workers-taskiq/frontend/PROPOSAL_INTEGRATOR.md
  .claude/specs/feature-656-distributed-workers-taskiq/frontend/PROPOSAL_OPTIMIZER.md
  .claude/specs/feature-656-distributed-workers-taskiq/frontend/REVIEW.md
  .claude/specs/feature-656-distributed-workers-taskiq/frontend/TASKS.md
  .claude/specs/feature-656-distributed-workers-taskiq/query.har
  backend/.vscode/launch.json
  backend/scripts/test-distributed-workers.sh
  backend/src/routes/v0/llm.py
  backend/src/utils/stream.py
  backend/src/workers/__init__.py
  backend/src/workers/broker.py
  backend/src/workers/tasks.py
  backend/tests/integration/test_agent_stream.py
  backend/tests/integration/test_distributed_stream.py
  backend/tests/integration/test_multi_turn_distributed.py
  backend/tests/unit/utils/test_handle_multi_mode.py
  backend/tests/unit/workers/test_broker.py
  backend/tests/unit/workers/test_stream_consumer.py
  backend/tests/unit/workers/test_tasks.py
  frontend/src/hooks/useChat.ts
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/stream.ts
  frontend/src/lib/services/index.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/lib/utils/fetchStreamReader.ts
  frontend/src/lib/utils/streamError.ts
  frontend/src/lib/utils/streamSource.ts
  frontend/src/tests/integration/distributedStream.test.ts
  frontend/src/tests/utils/fetchStreamReader.test.ts
  frontend/src/tests/utils/streamSource.test.ts
  frontend/src/validations/stream.ts
Due: backend-format, frontend-prettier, frontend-lint

can provide ticket to team
  .claude/commands/team.md
  .claude/commands/ticket.md
  .claude/ralph-loop.local.md
  .gitignore
Due: none

init feat/658-site-title-status
  Changelog.md
Due: none

feat(frontend): add useDocumentTitle hook for tab status indicator
  .claude/specs/feat-658-site-title-status/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-658-site-title-status/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-658-site-title-status/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-658-site-title-status/REVIEW.md
  .claude/specs/feat-658-site-title-status/TASKS.md
  frontend/src/App.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/hooks/useDocumentTitle.test.ts
  frontend/src/hooks/useDocumentTitle.ts
Due: frontend-prettier, frontend-lint

fix(frontend): move useDocumentTitle to AppContext for global coverage
  frontend/src/App.tsx
  frontend/src/context/AppContext.tsx
  frontend/src/hooks/useDocumentTitle.test.ts
  frontend/src/hooks/useDocumentTitle.ts
Due: frontend-prettier, frontend-lint

feat(frontend): Site Title Status Indicator #658 (#659)
  .claude/specs/feat-658-site-title-status/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-658-site-title-status/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-658-site-title-status/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-658-site-title-status/REVIEW.md
  .claude/specs/feat-658-site-title-status/TASKS.md
  Changelog.md
  frontend/src/App.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/context/AppContext.tsx
  frontend/src/hooks/useDocumentTitle.test.ts
  frontend/src/hooks/useDocumentTitle.ts
Due: frontend-prettier, frontend-lint

init feat/634-web-search-tavily-fallback
  Changelog.md
Due: none

feat(search): add Tavily API fallback when SearXNG returns no results #634
  .claude/specs/feat-634-web-search-tavily-fallback/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-634-web-search-tavily-fallback/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-634-web-search-tavily-fallback/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-634-web-search-tavily-fallback/REVIEW.md
  .claude/specs/feat-634-web-search-tavily-fallback/TASKS.md
  backend/pyproject.toml
  backend/src/constants/__init__.py
  backend/src/tools/search.py
  backend/tests/unit/tools/__init__.py
  backend/tests/unit/tools/test_search.py
  backend/uv.lock
Due: backend-format

remove python_sandbox from default tool
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

deploy updates
  .claude/.settings.local.json
  .claude/specs/feat-637-persist-files-to-agent/feat-637-frontend.md
  .claude/specs/feat-637-persist-files-to-agent/feature-637-persist-files-to-agent.md
  .claude/specs/feat-654-inference-dication/feature-654-inference-dictation.md
  .claude/specs/feat-656-deployment-worker-update/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-656-deployment-worker-update/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-656-deployment-worker-update/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-656-deployment-worker-update/PROPOSAL_INTEGRATOR.md
  .claude/specs/feat-656-deployment-worker-update/PROPOSAL_OPTIMIZER.md
  .claude/specs/feat-656-deployment-worker-update/REVIEW.md
  .claude/specs/feat-656-deployment-worker-update/TASKS.md
  .claude/specs/feat-656-distributed-workers-taskiq/001-dupe-and-no-ai-response-follow-up.png
  .claude/specs/feat-656-distributed-workers-taskiq/FINAL_REPORT.md
  .claude/specs/feat-656-distributed-workers-taskiq/FRONTEND-SPEC.md
  .claude/specs/feat-656-distributed-workers-taskiq/REVIEW.md
  .claude/specs/feat-656-distributed-workers-taskiq/SPEC.md
  .claude/specs/feat-656-distributed-workers-taskiq/TASKS.md
  .claude/specs/feat-656-distributed-workers-taskiq/frontend/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-656-distributed-workers-taskiq/frontend/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-656-distributed-workers-taskiq/frontend/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-656-distributed-workers-taskiq/frontend/PROPOSAL_INTEGRATOR.md
  .claude/specs/feat-656-distributed-workers-taskiq/frontend/PROPOSAL_OPTIMIZER.md
  .claude/specs/feat-656-distributed-workers-taskiq/frontend/REVIEW.md
  .claude/specs/feat-656-distributed-workers-taskiq/frontend/TASKS.md
  .claude/specs/feat-656-distributed-workers-taskiq/query.har
  .github/workflows/deploy-docker.yml
  .github/workflows/deploy-vm.yml
  .github/workflows/test.yml
  backend/.example.env
  docker-compose.yml
Due: backend-format

UPdate deploy docker
  .github/workflows/deploy-docker.yml
  docker-compose.yml
Due: none

Update deploy
  .github/workflows/deploy-docker.yml
Due: none

Fix size
  .github/workflows/deploy-docker.yml
Due: none

couple fixes
  backend/src/routes/v0/thread.py
  backend/tests/unit/workers/test_stream_consumer.py
  frontend/src/lib/utils/fetchStreamReader.ts
  frontend/src/lib/utils/streamSource.ts
Due: backend-format, frontend-prettier, frontend-lint

fix tests
  frontend/src/lib/utils/fetchStreamReader.ts
  frontend/src/lib/utils/streamSource.ts
Due: frontend-prettier, frontend-lint

init
  backend/Makefile
  backend/pyproject.toml
  backend/uv.lock
Due: backend-format

update
  Changelog.md
Due: none

Add AWS Bedrock model support via init_chat_model
  backend/.claude/specs/feat-666-aws-bedrock-support/PROPOSAL_ARCHITECT.md
  backend/.claude/specs/feat-666-aws-bedrock-support/PROPOSAL_CRAFTSMAN.md
  backend/.claude/specs/feat-666-aws-bedrock-support/PROPOSAL_GUARDIAN.md
  backend/.claude/specs/feat-666-aws-bedrock-support/REVIEW.md
  backend/.claude/specs/feat-666-aws-bedrock-support/TASKS.md
  backend/.example.env
  backend/src/constants/__init__.py
  backend/src/constants/llm.py
Due: backend-format

Update Bedrock models to Claude 4.5 and add Kimi K2 Thinking
  backend/src/constants/llm.py
Due: backend-format
