Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

feat: US-004 - Add localStorage-to-backend migration on first load
  frontend/src/hooks/useModelVisibility.test.ts
  frontend/src/hooks/useModelVisibility.ts
Due: frontend-prettier, frontend-lint

feat: US-005 - Add loading and error states to ModelVisibilitySettings component
  frontend/src/components/settings/ModelVisibilitySettings.tsx
  frontend/src/hooks/useModelVisibility.ts
Due: frontend-prettier, frontend-lint

feat: US-006 - Update tests for useModelVisibility hook
  frontend/src/hooks/useModelVisibility.test.ts
Due: frontend-prettier, frontend-lint

chore: initialize feat-821 worktree with changelog and archive
  .ralph/archive/bug-823/prd.json
  Changelog.md
Due: none

docs: add specs and prd.json for feat-821 docs screenshots
  specs/001-assistants-screenshots.md
  specs/002-memories-screenshots.md
  specs/003-schedules-screenshots.md
  specs/004-projects-screenshots.md
  specs/005-chat-screenshots.md
  specs/006-epics-screenshots.md
Due: none

feat: US-002 - Capture and embed Memories feature screenshots
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-003 - Capture and embed Schedules feature screenshots
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-004 - Capture and embed Projects feature screenshots
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-007 - Update wiki submodule and ralph progress for docs screenshots
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-007 - Commit all changes to wiki repo and push for code review
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: update wiki submodule and add plan file
  .claude/plans/validated-soaring-adleman.md
Due: none

chore: initialize feat-834 worktree with changelog
  Changelog.md
Due: none

docs: add specs and prd.json for feat-834 CopilotKit deep agents integration
  specs/001-backend-middleware.md
  specs/002-frontend-packages.md
  specs/003-copilotkit-runtime-route.md
  specs/004-copilotkit-provider.md
  specs/005-default-tool-rendering.md
  specs/006-streaming-compatibility.md
  specs/007-docs-and-push.md
Due: none

chore: initialize feat-836 worktree with changelog
  Changelog.md
Due: none

docs: add specs and prd.json for feat-836 persist memory edits
  specs/001-memory-sync-middleware.md
  specs/002-prepare-memory-tracking.md
  specs/003-wire-middleware-into-agent.md
  specs/004-sync-logic.md
  specs/005-integration-test.md
  specs/006-docs-and-push.md
Due: none

feat: US-001 - Modify prepare_memory_files to return original content for diffing
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/agents/test_prepare_memory_files.py
  backend/tests/unit/workers/test_worker_model_resolution.py
Due: backend-format

feat: US-001 - Add CopilotKitMiddleware to deep agent middleware stack
  backend/pyproject.toml
  backend/src/agents/__init__.py
  backend/uv.lock
Due: backend-format

feat: US-002 - Create MemorySyncMiddleware for write-through persistence
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/utils/middleware.py
  backend/tests/unit/utils/test_memory_sync_middleware.py
Due: backend-format

feat: US-002 - Add CopilotKit frontend packages
  .ralph/prd.json
  .ralph/progress.txt
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-lint

feat: US-003 - Wire MemorySyncMiddleware into agent creation
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/agents/test_construct_agent_memory_sync.py
Due: backend-format

feat: US-004 - Integration tests for memory edit persistence
  backend/tests/integration/test_memory_sync_integration.py
Due: backend-format

feat: US-003 - Create CopilotKit runtime API route
  .ralph/prd.json
  .ralph/progress.txt
  backend/main.py
  backend/src/routes/v0/copilotkit.py
Due: backend-format

feat: US-005 - Push all changes and validate for code review
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-004 - Wrap app with CopilotKit provider
  frontend/src/main.tsx
Due: frontend-prettier, frontend-lint

review: add review pipeline for #837
  .claude/specs/review-837/SPEC.md
  .ralph/archive/2026-02-25-persist-memory-edits/prd.json
  .ralph/archive/2026-02-25-persist-memory-edits/progress.txt
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-review-837.md
Due: none

review: complete PR #837 review — APPROVE verdict
  .claude/specs/review-837/SPEC.md
  .ralph/prd.json
  .ralph/progress.txt
Due: none

fix: reset review pipeline stories to false
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: commit iter 1 changes
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/tools/CopilotToolCallRenderer.tsx
Due: frontend-prettier, frontend-lint

chore: archive iter 1, regenerate specs and prd.json for iter 2
  .ralph/archive/feat-834/prd.json
  .ralph/archive/feat-834/progress.txt
  .ralph/archive/feat-834/specs/001-assistants-screenshots.md
  .ralph/archive/feat-834/specs/001-backend-middleware.md
  .ralph/archive/feat-834/specs/001-backend-schema.md
  .ralph/archive/feat-834/specs/002-backend-repo.md
  .ralph/archive/feat-834/specs/002-frontend-packages.md
  .ralph/archive/feat-834/specs/002-memories-screenshots.md
  .ralph/archive/feat-834/specs/003-copilotkit-runtime-route.md
  .ralph/archive/feat-834/specs/003-frontend-hook.md
  .ralph/archive/feat-834/specs/003-schedules-screenshots.md
  .ralph/archive/feat-834/specs/004-copilotkit-provider.md
  .ralph/archive/feat-834/specs/004-frontend-ui.md
  .ralph/archive/feat-834/specs/004-projects-screenshots.md
  .ralph/archive/feat-834/specs/005-chat-screenshots.md
  .ralph/archive/feat-834/specs/005-cleanup-and-docs.md
  .ralph/archive/feat-834/specs/005-default-tool-rendering.md
  .ralph/archive/feat-834/specs/006-epics-screenshots.md
  .ralph/archive/feat-834/specs/006-streaming-compatibility.md
  .ralph/archive/feat-834/specs/007-docs-and-push.md
  .ralph/prd.json
  Changelog.md
  specs/001-backend-copilotkit-middleware.md
  specs/002-frontend-copilotkit-packages.md
  specs/003-copilotkit-runtime-endpoint.md
  specs/004-copilotkit-provider.md
  specs/005-copilotkit-ui-component.md
  specs/006-default-tool-rendering.md
  specs/007-streaming-compatibility.md
  specs/008-docs-tests-push.md
Due: none

fix: update Daytona tests to mock client.list() for sandbox reuse logic
  backend/src/agents/__init__.py
  backend/tests/unit/agents/test_daytona.py
  backend/tests/unit/services/test_daytona.py
Due: backend-format

chore: add changelog entry for feat/838-backend-benchmarks
  Changelog.md
Due: none

chore: add benchmark specs and ralph PRD for #838
  specs/001-benchmark-setup.md
  specs/002-repo-benchmarks.md
  specs/003-route-benchmarks.md
  specs/004-service-benchmarks.md
  specs/005-optimization-and-push.md
Due: none

feat: US-001 - Set up benchmark infrastructure
  backend/pyproject.toml
  backend/tests/benchmarks/__init__.py
  backend/tests/benchmarks/conftest.py
  backend/tests/benchmarks/test_smoke.py
  backend/uv.lock
Due: backend-format

feat: US-002 - Benchmark repository layer operations
  backend/tests/benchmarks/test_assistant_repo.py
  backend/tests/benchmarks/test_memory_repo.py
  backend/tests/benchmarks/test_thread_repo.py
  backend/tests/benchmarks/test_tool_repo.py
Due: backend-format

feat: US-003 - Benchmark API route handlers
  backend/tests/benchmarks/test_route_benchmarks.py
Due: backend-format

feat: US-004 - Benchmark service layer and agent initialization
  .ralph/prd.json
  .ralph/progress.txt
  backend/tests/benchmarks/test_service_benchmarks.py
Due: backend-format

feat: US-005 - Optimize slow operations and document results
  backend/BENCHMARKS.md
Due: backend-format

feat: US-006 - Push all changes for code review
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: mark US-006 complete in ralph tracking
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat(840): add specs and prd for MCP server disable toggle
  .ralph/archive/feat-840/prd.json
  .ralph/archive/feat-840/progress.txt
  .ralph/archive/feat-840/specs/001-assistants-screenshots.md
  .ralph/archive/feat-840/specs/001-backend-schema.md
  .ralph/archive/feat-840/specs/002-backend-repo.md
  .ralph/archive/feat-840/specs/002-frontend-toggle.md
  .ralph/archive/feat-840/specs/002-memories-screenshots.md
  .ralph/archive/feat-840/specs/003-frontend-hook.md
  .ralph/archive/feat-840/specs/003-integration-and-cleanup.md
  .ralph/archive/feat-840/specs/003-schedules-screenshots.md
  .ralph/archive/feat-840/specs/004-frontend-ui.md
  .ralph/archive/feat-840/specs/004-projects-screenshots.md
  .ralph/archive/feat-840/specs/005-chat-screenshots.md
  .ralph/archive/feat-840/specs/005-cleanup-and-docs.md
  .ralph/archive/feat-840/specs/006-epics-screenshots.md
  Changelog.md
  specs/002-frontend-toggle.md
  specs/003-integration-and-cleanup.md
Due: none
