Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

feat: [US-009] - Add TypeScript types and API service for servers
  frontend/src/hooks/useServer.ts
  frontend/src/lib/entities/index.ts
  frontend/src/lib/services/serverService.ts
Due: frontend-prettier, frontend-lint

feat: [US-010] - Create ServerForm component
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/forms/servers/ServerForm.tsx
Due: frontend-prettier, frontend-lint

feat: [US-011] - Create ServerCard and ServersIndexPage
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/cards/ServerCard.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/pages/servers/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

feat: [US-012] - Add MCP Servers section to assistant form
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/ServerSelectionModal.tsx
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/lib/services/agentService.ts
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-012
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-007] - Create User API Keys Settings Card
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/settings/UserApiKeysSettings.tsx
Due: frontend-prettier, frontend-lint

feat: [US-008] - Wire Settings Components into Settings Page
  frontend/src/pages/settings/index.tsx
Due: frontend-prettier, frontend-lint

feat: [US-009] - Apply User Default Model in useModel Hook
  frontend/src/hooks/useModel.tsx
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-009
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-013] - Backend integration tests
  backend/migrations/versions/0002_add_servers_table.py
  backend/src/schemas/models/server.py
  backend/tests/integration/test_servers.py
Due: backend-format

feat: [US-010] - Backend Unit Tests
  .ralph/prd.json
  .ralph/progress.txt
  backend/tests/unit/repos/test_user_settings_repo.py
  backend/tests/unit/routes/test_settings_routes.py
Due: backend-format

feat: [US-014] - Frontend tests and full formatting pass
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/lib/services/serverService.ts
  frontend/src/tests/components/ServerCard.test.tsx
  frontend/src/tests/components/ServerForm.test.tsx
  frontend/src/tests/components/ServerSelectionModal.test.tsx
  frontend/vitest.config.ts
Due: frontend-prettier, frontend-lint

Finished with 14
  .claude/specs/feat-709-configure-servers-mcp/PROPOSAL_API_STRATEGIST.md
  .claude/specs/feat-709-configure-servers-mcp/PROPOSAL_MCP_INTEGRATOR.md
  .claude/specs/feat-709-configure-servers-mcp/PROPOSAL_SCHEMA_ARCHITECT.md
  .claude/specs/feat-709-configure-servers-mcp/PROPOSAL_SECURITY_SENTINEL.md
  .claude/specs/feat-709-configure-servers-mcp/PROPOSAL_UI_CRAFTSMAN.md
  .claude/specs/feat-709-configure-servers-mcp/REVIEW.md
  .claude/specs/feat-709-configure-servers-mcp/TASKS.md
  .claude/specs/feat-709-configure-servers-mcp/USER_STORIES.md
  .ralph/archive/prd.json.1769843168
  .ralph/archive/progress.txt.1769843168
  tasks/prd-mcp-server-configuration.md
  tasks/prd.json
  tasks/progress.txt
Due: none

Remove ephem ralph files
  .gitignore
  .ralph/prd.json
  .ralph/progress.txt
  .ralph/ralph.sh
  tasks/prd.json
  tasks/progress.txt
Due: none

after math fixes
  backend/src/routes/v0/llm.py
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/panels/QueuePanel.tsx
  frontend/src/components/settings/DefaultModelSettings.tsx
  frontend/src/components/settings/UserApiKeysSettings.tsx
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/hooks/useModel.tsx
Due: backend-format, frontend-prettier, frontend-lint

CodeRabbit Major Fixes
  backend/src/controllers/llm.py
  backend/src/routes/v0/settings.py
  backend/src/utils/llm.py
  backend/tests/unit/routes/test_settings_routes.py
  frontend/src/hooks/useModel.tsx
Due: backend-format, frontend-prettier, frontend-lint

FEAT: Allow User to configure default account settings (#710)
  backend/src/controllers/llm.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/settings.py
  backend/src/utils/llm.py
  backend/tests/unit/routes/test_settings_routes.py
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/panels/QueuePanel.tsx
  frontend/src/components/settings/DefaultModelSettings.tsx
  frontend/src/components/settings/UserApiKeysSettings.tsx
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/hooks/useModel.tsx
Due: backend-format, frontend-prettier, frontend-lint

init feat/555-add-compacting-middleware
  Changelog.md
Due: none

init feat/442-able-to-edit-memorys
  Changelog.md
Due: none

init bug/612-web-scrape-cannot-fetch-plain-text-pages
  Changelog.md
Due: none

feat: [US-001] - Verify Deepagents Internals
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/utils/compacting.py
Due: backend-format

feat: [US-001] - Refactor fetch_html to Support Text Content Types
  backend/src/tools/search.py
Due: backend-format

feat: [US-002] - Add Compaction Constants
  backend/src/constants/llm.py
Due: backend-format

feat: [US-002] - Add Content-Type-Aware Markdown Conversion
  backend/src/tools/search.py
Due: backend-format

feat: [US-003] - Create CompactingMiddleware ABC
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/utils/compacting.py
Due: backend-format

feat: [US-004] - Implement SummarizationMiddleware
  backend/src/utils/compacting.py
Due: backend-format

feat: [US-005] - Create Compaction Middleware Decorator
  backend/src/utils/compacting.py
Due: backend-format

feat: [US-003] - Add Unit Tests for Web Scrape Pipeline
  .ralph/prd.json
  .ralph/progress.txt
  backend/tests/unit/tools/test_web_scrape.py
Due: backend-format

feat: [US-006] - Register Compaction in Middleware Stack
  backend/src/utils/middleware.py
Due: backend-format

create pr
  .claude/specs/bug-612-web-scrape-plain-text/PROPOSAL_API_GUARDIAN.md
  .claude/specs/bug-612-web-scrape-plain-text/PROPOSAL_SCRAPE_ENGINEER.md
  .claude/specs/bug-612-web-scrape-plain-text/PROPOSAL_TEST_SENTINEL.md
  .claude/specs/bug-612-web-scrape-plain-text/REVIEW.md
  .claude/specs/bug-612-web-scrape-plain-text/TASKS.md
  .claude/specs/bug-612-web-scrape-plain-text/USER_STORIES.md
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-web-scrape-plain-text.md
Due: none

feat: [US-007] - Unit Tests for Compaction Classes
  backend/tests/unit/utils/test_compacting.py
Due: backend-format

feat: [US-001] - Add update_memory Tool
  backend/src/tools/memory.py
Due: backend-format

feat: [US-008] - Integration Tests for Middleware Stack
  backend/tests/unit/utils/test_middleware_integration.py
Due: backend-format

chore: update PRD and progress for US-008
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-002] - Add Memory Tools to Default Tool Library
  backend/src/tools/__init__.py
Due: backend-format

feat: [US-003] - Fix invoke_default_tool Method
  backend/src/services/tool.py
Due: backend-format

Completed Ralph
  .claude/specs/feat-555-add-compacting-middleware/PROPOSAL_INTEGRATION_ENGINEER.md
  .claude/specs/feat-555-add-compacting-middleware/PROPOSAL_MIDDLEWARE_ARCHITECT.md
  .claude/specs/feat-555-add-compacting-middleware/PROPOSAL_TOKEN_STRATEGIST.md
  .claude/specs/feat-555-add-compacting-middleware/REVIEW.md
  .claude/specs/feat-555-add-compacting-middleware/TASKS.md
  .claude/specs/feat-555-add-compacting-middleware/USER_STORIES.md
  tasks/prd-compacting-middleware.md
Due: none

feat: [US-004] - Integration Tests for Memory Tool Invocation
  .ralph/prd.json
  .ralph/progress.txt
  backend/tests/integration/test_tool_invoke.py
Due: backend-format

feat: [US-005] - Create Memory Entity Schemas
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/schemas/entities/memory.py
Due: backend-format

feat: [US-006] - Implement MemoryRepo
  backend/src/repos/base_repo.py
  backend/src/repos/memory_repo.py
Due: backend-format

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
