Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

chore: add harness templates spec and implementation plan
  .claude/plans/harness-templates.md
  .claude/specs/harness-templates.md
Due: none

chore: clean up stale plans and shipped specs
  .claude/plans/cryptic-enchanting-wave.md
  .claude/plans/functional-scribbling-orbit.md
  .claude/plans/greedy-tumbling-boole-agent-a03dc3ae9503ebd65.md
  .claude/plans/greedy-tumbling-boole-agent-a1f62fc892d2b5f0e.md
  .claude/plans/greedy-tumbling-boole-agent-a6e07ed02be61f7cd.md
  .claude/plans/greedy-tumbling-boole-agent-aec0915e73f3d3de4.md
  .claude/plans/greedy-tumbling-boole.md
  .claude/plans/iterative-crafting-goose.md
  .claude/specs/feat-890-mcp-sandbox/001-mcp-sandbox-backend.md
  .claude/specs/feat-890-mcp-sandbox/002-sandbox-dispatch.md
  .claude/specs/feat-890-mcp-sandbox/003-frontend-mcp-option.md
  .claude/specs/feat-890-mcp-sandbox/004-exec-server-structured.md
  .claude/specs/feat-890-mcp-sandbox/005-mcp-sandbox-v2.md
Due: none

feat: cost tracking frontend — CostBadge component, useCostTracking hook, custom SSE types
  frontend/src/components/chat/CostBadge.tsx
  frontend/src/hooks/useCostTracking.ts
  frontend/src/lib/entities/stream.ts
Due: frontend-prettier, frontend-lint

feat: planner agent frontend — PlanPanel component, usePlannerStatus hook, plan SSE types
  frontend/src/lib/entities/stream.ts
Due: frontend-prettier, frontend-lint

feat: add PlanPanel component and usePlannerStatus hook
  frontend/src/components/chat/PlanPanel.tsx
  frontend/src/hooks/usePlannerStatus.ts
Due: frontend-prettier, frontend-lint

feat: cost tracking backend — pricing table, metrics schemas, cost middleware
  backend/src/constants/phases.py
  backend/src/constants/pricing.py
  backend/src/schemas/entities/metrics.py
  backend/src/utils/middleware.py
Due: backend-format

feat: planner agent backend — PlannerConfig schema, system prompt, planner utility
  backend/src/schemas/entities/llm.py
  backend/src/schemas/entities/planner.py
  backend/src/static/prompts/md/planner.md
  backend/src/utils/planner.py
Due: backend-format

chore: add Phase 0 shared foundation — AgentPhase enum, context windows, custom SSE plumbing
  backend/src/constants/llm.py
  backend/src/constants/phases.py
  frontend/src/hooks/useChat.ts
  frontend/src/lib/entities/stream.ts
  frontend/src/lib/utils/fetchStreamReader.ts
Due: backend-format, frontend-prettier, frontend-lint

fix: address Phase 0 review — rename CustomSSEEvent, add Bedrock context windows, debug guards
  backend/src/constants/__init__.py
  backend/src/constants/llm.py
  frontend/src/hooks/useChat.ts
  frontend/src/lib/entities/stream.ts
Due: backend-format, frontend-prettier, frontend-lint

fix: address cost tracking review — model name extraction, datetime, middleware ordering, pricing gaps
  backend/src/constants/pricing.py
  backend/src/schemas/entities/metrics.py
  backend/src/utils/middleware.py
Due: backend-format

fix: address planner frontend review — XSS fix, status sync, type safety, null guards
  frontend/src/components/chat/PlanPanel.tsx
  frontend/src/hooks/usePlannerStatus.ts
  frontend/src/lib/entities/stream.ts
Due: frontend-prettier, frontend-lint

fix: address planner review — error handling, prompt validation, input guards, scope_level
  backend/src/schemas/entities/__init__.py
  backend/src/utils/planner.py
Due: backend-format

fix: address cost tracking frontend review — rename CustomSSEEvent, accessibility, code quality
  frontend/src/components/chat/CostBadge.tsx
  frontend/src/hooks/useCostTracking.ts
  frontend/src/lib/entities/stream.ts
Due: frontend-prettier, frontend-lint

chore: add implementation plan for sidebar redesign (#918)
  .claude/plans/stateless-sauteeing-bonbon.md
Due: none

feat: redesign sidebar to consolidate threads under projects (#918)
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/sidebar/ProjectTreeGroup.tsx
  frontend/src/hooks/useProjectThreads.ts
Due: frontend-prettier, frontend-lint

fix: address code review findings for sidebar redesign (#918)
  frontend/src/components/sidebar/ProjectTreeGroup.tsx
  frontend/src/hooks/useProjectThreads.ts
Due: frontend-prettier, frontend-lint

fix: resolve thread fetching and sidebar interaction bugs (#918)
  frontend/src/components/sidebar/ProjectTreeGroup.tsx
  frontend/src/hooks/useProjectThreads.ts
Due: frontend-prettier, frontend-lint

plan: VS Code-style activity bar sidebar redesign (#920)
  .claude/plans/unified-purring-dream.md
  .claude/specs/screenshots/current.png
  .claude/specs/screenshots/vscode-example.png
Due: none

feat: implement VS Code-style activity bar sidebar (#920)
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/sidebar/ActivityBar.tsx
  frontend/src/components/sidebar/ActivityBarItem.tsx
  frontend/src/components/sidebar/SidePanel.tsx
  frontend/src/components/sidebar/panels/ProjectsPanel.tsx
  frontend/src/components/sidebar/panels/SchedulesPanel.tsx
  frontend/src/components/sidebar/panels/ThreadsPanel.tsx
Due: frontend-prettier, frontend-lint

fix: switch to horizontal icon tabs layout instead of vertical side panel
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/sidebar/ActivityBar.tsx
  frontend/src/components/sidebar/ActivityBarItem.tsx
  frontend/src/components/sidebar/SidePanel.tsx
Due: frontend-prettier, frontend-lint

fix: resolve blurry icons - use valid Tailwind classes and improve UX
  frontend/src/components/sidebar/ActivityBar.tsx
  frontend/src/components/sidebar/ActivityBarItem.tsx
Due: frontend-prettier, frontend-lint

chore: add plan agent artifact for activity bar redesign
  .claude/plans/unified-purring-dream-agent-a1b0154ffe1c41831.md
Due: none

feat: VS Code-style activity bar sidebar redesign (#920) (#921)
  .claude/plans/unified-purring-dream-agent-a1b0154ffe1c41831.md
  .claude/plans/unified-purring-dream.md
  .claude/specs/screenshots/current.png
  .claude/specs/screenshots/vscode-example.png
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/sidebar/ActivityBar.tsx
  frontend/src/components/sidebar/ActivityBarItem.tsx
  frontend/src/components/sidebar/SidePanel.tsx
  frontend/src/components/sidebar/panels/ProjectsPanel.tsx
  frontend/src/components/sidebar/panels/SchedulesPanel.tsx
  frontend/src/components/sidebar/panels/ThreadsPanel.tsx
Due: frontend-prettier, frontend-lint

feat: eliminate useEffect anti-patterns with TanStack Query and declarative patterns (#922)
  .claude/plans/dapper-soaring-dawn.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/settings/ApiTokensSettings.tsx
  frontend/src/components/settings/DefaultModelSettings.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/components/settings/TimezoneSettings.tsx
  frontend/src/components/settings/UserApiKeysSettings.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useModel.tsx
  frontend/src/hooks/useModelsList.ts
  frontend/src/hooks/useMountEffect.ts
  frontend/src/hooks/useSandboxHealth.ts
  frontend/src/hooks/useThread.ts
  frontend/src/lib/queryClient.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/main.tsx
  frontend/src/providers/QueryProvider.tsx
  frontend/src/tests/hooks/useChatPayloadModel.test.ts
  frontend/src/tests/hooks/useModel.test.ts
  frontend/src/tests/hooks/useMountEffect.test.ts
  frontend/src/tests/lib/queryClient.test.ts
  frontend/src/tests/lib/queryKeys.test.ts
  frontend/src/tests/test-utils.tsx
Due: frontend-prettier, frontend-lint

feat: convert state-sync effects to derived values, add useMountEffect to contexts (#922)
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/timeline/ToolTimelineItem.tsx
  frontend/src/context/AppContext.tsx
  frontend/src/context/ChatContext.tsx
Due: frontend-prettier, frontend-lint

fix: address code review findings — restore id reactivity, clean up dead code (#922)
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/thread.test.tsx
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/threads/ThreadPage.test.tsx
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

fix: remove unused imports flagged by tsc build (#922)
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/tests/hooks/useChatPayloadModel.test.ts
Due: frontend-prettier, frontend-lint

fix: resolve nested button DOM nesting warning in FileEditorPanel tabs (#922)
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

feat: eliminate useEffect anti-patterns — TanStack Query + declarative patterns (#922) (#923)
  .claude/plans/dapper-soaring-dawn.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/settings/ApiTokensSettings.tsx
  frontend/src/components/settings/DefaultModelSettings.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/components/settings/TimezoneSettings.tsx
  frontend/src/components/settings/UserApiKeysSettings.tsx
  frontend/src/components/timeline/ToolTimelineItem.tsx
  frontend/src/context/AppContext.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useModel.tsx
  frontend/src/hooks/useModelsList.ts
  frontend/src/hooks/useMountEffect.ts
  frontend/src/hooks/useSandboxHealth.ts
  frontend/src/hooks/useThread.ts
  frontend/src/lib/queryClient.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/main.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/thread.test.tsx
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/threads/ThreadPage.test.tsx
  frontend/src/pages/threads/ThreadPage.tsx
  frontend/src/providers/QueryProvider.tsx
  frontend/src/tests/hooks/useChatPayloadModel.test.ts
  frontend/src/tests/hooks/useModel.test.ts
  frontend/src/tests/hooks/useMountEffect.test.ts
  frontend/src/tests/lib/queryClient.test.ts
  frontend/src/tests/lib/queryKeys.test.ts
  frontend/src/tests/test-utils.tsx
Due: frontend-prettier, frontend-lint

feat: white-label branding via YAML config (default brand: Mifune)
  backend/config/whitelabel.yaml
  backend/main.py
  backend/src/config/__init__.py
  backend/src/config/branding.py
  backend/src/constants/__init__.py
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/config/__init__.py
  backend/src/tools/api.py
  frontend/index.html
  frontend/public/manifest.json
  frontend/src/components/icons/HelpfulIcons.tsx
  frontend/src/components/icons/HomeIcon.tsx
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/sections/chat-section.tsx
  frontend/src/context/BrandingContext.tsx
  frontend/src/hooks/useDocumentTitle.test.ts
  frontend/src/hooks/useDocumentTitle.ts
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/lib/config/branding.ts
  frontend/src/lib/config/instruction.ts
  frontend/src/lib/services/configService.ts
  frontend/src/main.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

feat: white-label branding via YAML config (default brand: Mifune) (#925)
  backend/config/whitelabel.yaml
  backend/main.py
  backend/src/config/__init__.py
  backend/src/config/branding.py
  backend/src/constants/__init__.py
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/config/__init__.py
  backend/src/tools/api.py
  frontend/index.html
  frontend/public/manifest.json
  frontend/src/components/icons/HelpfulIcons.tsx
  frontend/src/components/icons/HomeIcon.tsx
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/sections/chat-section.tsx
  frontend/src/context/BrandingContext.tsx
  frontend/src/hooks/useDocumentTitle.test.ts
  frontend/src/hooks/useDocumentTitle.ts
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/lib/config/branding.ts
  frontend/src/lib/config/instruction.ts
  frontend/src/lib/services/configService.ts
  frontend/src/main.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

feat: derive footer copyright year dynamically
  frontend/src/layouts/AuthLayout.tsx
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/pages/projects/ProjectPage.tsx
Due: frontend-prettier, frontend-lint

chore: restore wiki submodule (mifunedev/wiki)
  .gitmodules
Due: none

chore: remove vestigial frontend docker dev setup
  Makefile
  docker-compose.dev.yml
  docker/README.md
  frontend/.dockerignore
  frontend/Dockerfile.dev
Due: frontend-lint

chore: drop AI scratch artifacts, ignore .claude/
  .gitignore
  frontend/REVIEW.md
  frontend/TASKS.md
Due: frontend-prettier, frontend-lint

task: consolidate docker into infra/ (single compose, drop overlays)
  .github/actions/docker-build.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
  AGENTS.md
  Changelog.md
  Makefile
  README.md
  backend/.dockerignore
  backend/Dockerfile.dev
  backend/README.md
  docker-compose.debug.yml
  docker-compose.dev.yml
  docker-compose.services.yml
  docker-compose.storage.yml
  docker-compose.test.yml
  docker-compose.yml
  docker/pgadmin/servers.json
  docker/postgres/servers.json
  infra/README.md
  infra/backend.Dockerfile
  infra/docker-compose.test.yml
  infra/docker-compose.yml
  infra/ollama/entrypoint.sh
  infra/postgres/init-db.sh
  infra/searxng/settings.yml
  infra/searxng/uwsgi.ini
Due: backend-format

fix: persist onboarding completion on tour close (X/overlay)
  Changelog.md
  frontend/src/context/OnboardingContext.tsx
Due: frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
