Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

Memory per user updated, need endpoints for tools
  backend/src/services/memory.py
  backend/src/tools/__init__.py
  backend/src/tools/memory.py
Due: backend-format

Fixes builds, also allows for fetching tool results.
  backend/src/constants/examples/__init__.py
  backend/src/contexts/service.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/memory.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/memory.py
  backend/src/tools/test.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
Due: backend-format

async tools
  backend/src/routes/v0/tool/__init__.py
Due: backend-format

Fix examples
  backend/src/routes/v0/tool/info.py
Due: backend-format

FROM feat/442-edit-memories TO development (#443)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/contexts/service.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/routes/v0/tool/info.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/memory.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/memory.py
  backend/src/tools/test.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
Due: backend-format

this is g2g for now
  Changelog.md
  frontend/package-lock.json
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

this is g2g for now (#449)
  Changelog.md
  frontend/package-lock.json
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Remove unused
  backend/src/tools/memory.py
  backend/src/tools/test.py
Due: backend-format

init
  Changelog.md
  backend/main.py
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/memory.py
  backend/src/schemas/models/__init__.py
  backend/src/schemas/models/memory.py
  backend/src/services/memory.py
Due: backend-format

init
  Changelog.md
Due: none

Optimizer prompt added
  backend/.vscode/launch.json
  backend/main.py
  backend/pyproject.toml
  backend/src/constants/examples/__init__.py
  backend/src/contexts/service.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/prompt/revision.py
  backend/src/routes/v0/thread.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/routes/v0/tool/info.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/models/assistant.py
  backend/src/services/assistant.py
  backend/src/services/memory.py
  backend/src/services/prompt/__init__.py
  backend/src/services/prompt/optimize.py
  backend/src/services/thread.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/memory.py
  backend/src/utils/format.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
  backend/tests/unit/services/prompt/test_optimize.py
  backend/uv.lock
Due: backend-format

CleanUp
  backend/src/routes/v0/prompt/__init__.py
  backend/src/services/prompt/__init__.py
Due: backend-format

Have opitmize prompt endpoint
  backend/src/routes/v0/llm.py
  backend/src/services/prompt/optimize.py
Due: backend-format

fix formatting
  backend/src/routes/v0/llm.py
  backend/src/services/prompt/__init__.py
  backend/src/services/prompt/optimize.py
  backend/tests/unit/services/prompt/test_optimize.py
Due: backend-format

FROM 164-add-langmem TO development (#453)
  backend/.vscode/launch.json
  backend/main.py
  backend/pyproject.toml
  backend/src/constants/examples/__init__.py
  backend/src/contexts/service.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/prompt/revision.py
  backend/src/routes/v0/thread.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/routes/v0/tool/info.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/models/assistant.py
  backend/src/services/assistant.py
  backend/src/services/memory.py
  backend/src/services/prompt/__init__.py
  backend/src/services/prompt/optimize.py
  backend/src/services/thread.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/memory.py
  backend/src/utils/format.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
  backend/tests/unit/services/prompt/test_optimize.py
  backend/uv.lock
Due: backend-format

Update optimize
  backend/src/routes/v0/llm.py
Due: backend-format

tool in place, have error for input validatioin
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/tools/__init__.py
  backend/src/tools/prompt.py
Due: backend-format

This thing is PIA
  backend/src/services/checkpoint.py
  backend/src/services/prompt/optimize.py
  backend/src/tools/prompt.py
  backend/src/utils/messages.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

Simplify web_search
  backend/src/routes/v0/llm.py
  backend/src/tools/search.py
Due: backend-format

Init
  Changelog.md
  backend/main.py
Due: backend-format

UI in place, just need to collect checkpoint_id, send payload
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Small tweak
  backend/main.py
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

Have a default system prompt for app
  backend/src/constants/llm.py
  backend/src/schemas/entities/__init__.py
  frontend/src/hooks/useAgent.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Fixes message content
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Can send the query but needs to be selected for checkpoint
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Can view and select, need to add final functionality
  frontend/src/components/lists/ListThreads.tsx
Due: frontend-prettier, frontend-lint

Can select and render messages, chat exp not best thoguh
  frontend/src/components/lists/ListThreads.tsx
Due: frontend-prettier, frontend-lint

Fix build
  frontend/src/lib/services/threadService.ts
Due: frontend-prettier, frontend-lint

Fixed formatting
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/lib/utils/format.ts
Due: frontend-prettier, frontend-lint

UPdate system prompts
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/static/prompts/md/default.md
  backend/src/static/prompts/md/verbose.md
  backend/src/static/prompts/xml/default.md
  backend/src/static/prompts/xml/verbose.md
Due: backend-format

using default system prompt
  backend/src/static/prompts/md/default.md
Due: backend-format

FROM feat/457-checkpoint-stream TO development (#458)
  Changelog.md
  backend/main.py
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/static/prompts/md/default.md
  backend/src/static/prompts/md/verbose.md
  backend/src/static/prompts/xml/default.md
  backend/src/static/prompts/xml/verbose.md
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/lib/utils/format.ts
Due: backend-format, frontend-prettier, frontend-lint

The service works correctly
  backend/.vscode/launch.json
  backend/src/repos/project_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/prompt/revision.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/routes/v0/tool/info.py
  backend/src/services/db.py
  backend/src/services/project.py
  backend/tests/__init__.py
  backend/tests/mock/db.py
  backend/tests/unit/repos/test_agent_repo.py
  backend/tests/unit/services/test_project_service.py
Due: backend-format

Project Service
  backend/src/contexts/service.py
  backend/src/routes/v0/project/__init__.py
  backend/src/services/project.py
Due: backend-format

Small updates
  backend/pyproject.toml
  backend/src/contexts/service.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/project/__init__.py
  backend/src/services/tool.py
  backend/uv.lock
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/pages/prompts/edit.tsx
Due: backend-format, frontend-prettier, frontend-lint

Updates to system prommpt
  backend/src/static/prompts/md/default.md
  frontend/src/components/sections/chat-section.tsx
  frontend/src/components/sections/home/home-section.tsx
Due: backend-format, frontend-prettier, frontend-lint
