Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

init
  Changelog.md
Due: none

Fixes select and deselect
  frontend/src/components/menus/AgentMenu.tsx
Due: frontend-prettier, frontend-lint

Fixes agent slect
  backend/src/routes/v0/assistant.py
  backend/src/schemas/models/assistant.py
Due: backend-format

FROM bug/389-cannot-unselect-from-mobile-agentmenu TO development (#394)
  Changelog.md
  backend/src/routes/v0/assistant.py
  backend/src/schemas/models/assistant.py
  frontend/src/components/menus/AgentMenu.tsx
Due: backend-format, frontend-prettier, frontend-lint

Remove inception agent
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

Models are dictated by backend
  backend/src/constants/__init__.py
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/lib/services/modelService.ts
Due: backend-format, frontend-prettier, frontend-lint

prevent transcribe if no groqkey
  backend/src/routes/v0/llm.py
Due: backend-format

remove these for now, having issues
  backend/src/constants/llm.py
Due: backend-format

Adds editor value to keep internal state
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/inputs/MonacoEditor.tsx
Due: frontend-prettier, frontend-lint

FROM bug/379-fail-to-edit-mcp-settings TO development (#398)
  Changelog.md
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/inputs/MonacoEditor.tsx
Due: frontend-prettier, frontend-lint

iinit
  Changelog.md
Due: none

Fixes the metadata issue
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/entities/index.ts
  frontend/src/pages/Chat.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/382-move-threadid-gen-to-backend TO development (#399)
  Changelog.md
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/entities/index.ts
  frontend/src/pages/Chat.tsx
Due: backend-format, frontend-prettier, frontend-lint

Persists assistant_id
  backend/src/constants/examples/__init__.py
  backend/src/constants/mock.py
  backend/src/routes/v0/auth.py
  backend/src/schemas/entities/__init__.py
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/agents/edit.tsx
Due: backend-format, frontend-prettier, frontend-lint

Persists assistant_id
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Scoped conversations better
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/thread.py
  frontend/src/hooks/useThread.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/agents/edit.tsx
Due: backend-format, frontend-prettier, frontend-lint

Should be better
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useSystem.tsx
  frontend/src/lib/services/authService.ts
Due: frontend-prettier, frontend-lint

FROM bug/400-make-login-suck-less TO development (#401)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/constants/mock.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/auth.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/thread.py
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useSystem.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/lib/services/authService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/agents/edit.tsx
Due: backend-format, frontend-prettier, frontend-lint

Default to docs collapsed
  backend/main.py
  backend/src/routes/v0/llm.py
Due: backend-format

auto route if subagents exist
  backend/src/flows/__init__.py
  backend/src/tools/search.py
Due: backend-format

This should work, not seeing it work with cron trigger, only interval
  backend/main.py
  backend/pyproject.toml
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/schedule.py
  backend/src/services/schedule.py
  backend/src/utils/module.py
  backend/uv.lock
Due: backend-format

Appears to fix cron, need to wire up
  backend/src/routes/v0/schedule.py
Due: backend-format

Scheudules CRUD
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/schedule.py
  backend/src/services/schedule.py
Due: backend-format

Add mocks
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/schedule.py
Due: backend-format

Validate nothing less than hour
  backend/src/schemas/entities/schedule.py
Due: backend-format

small dx updates
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/schedule.py
Due: backend-format

fixes delete thread
  backend/src/flows/__init__.py
  backend/src/routes/v0/thread.py
  backend/src/services/thread.py
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Cleanup
  docs/assistants/index.md
  docs/deploy/aws-rds.md
  docs/deploy/digitalocean.md
  docs/index.md
  docs/schema/database.md
  docs/servers/index.md
  docs/settings/index.md
  docs/tools/shell_exec.md
  docs/tools/tools.md
Due: none

Restricts to no more once per hour
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/schedule.py
Due: backend-format

Added schedules to agents
  frontend/scheduling.md
  frontend/src/components/cards/AgentScheduleCard.tsx
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/forms/CronBuilder.tsx
  frontend/src/components/lists/AgentScheduleList.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/lib/entities/schedule.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/scheduleService.ts
  frontend/src/lib/utils/schedule.ts
  frontend/src/pages/agents/edit.tsx
Due: frontend-prettier, frontend-lint

Fix expression and assistant_id
  backend/src/controllers/llm.py
  frontend/scheduling.md
  frontend/src/lib/entities/schedule.ts
  frontend/src/lib/utils/schedule.ts
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/216-shot-at-scheduled-tasks TO development (#403)
  Changelog.md
  backend/main.py
  backend/pyproject.toml
  backend/src/constants/examples/__init__.py
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/schedule.py
  backend/src/services/schedule.py
  backend/src/services/thread.py
  backend/src/utils/module.py
  backend/uv.lock
  docs/assistants/index.md
  docs/deploy/aws-rds.md
  docs/deploy/digitalocean.md
  docs/index.md
  docs/schema/database.md
  docs/servers/index.md
  docs/settings/index.md
  docs/tools/shell_exec.md
  docs/tools/tools.md
  frontend/scheduling.md
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/cards/AgentScheduleCard.tsx
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/forms/CronBuilder.tsx
  frontend/src/components/lists/AgentScheduleList.tsx
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/lib/entities/schedule.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/scheduleService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/lib/utils/schedule.ts
  frontend/src/pages/agents/edit.tsx
Due: backend-format, frontend-prettier, frontend-lint

init
  Changelog.md
  frontend/scheduling.md
Due: frontend-prettier, frontend-lint

Fixes color modes
  .gitignore
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/tools/Default.tsx
Due: frontend-prettier, frontend-lint

FROM bug/406-day-mode-theme-fix TO development (#407)
  .gitignore
  Changelog.md
  frontend/scheduling.md
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/tools/Default.tsx
Due: frontend-prettier, frontend-lint

Can update schedule, added titles
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/schedule.py
  frontend/src/components/cards/AgentScheduleCard.tsx
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/lib/entities/schedule.ts
  frontend/src/lib/services/scheduleService.ts
Due: backend-format, frontend-prettier, frontend-lint
