Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

Add repeatable refactoring workflow for progressive codebase reform
  docs/REFACTORING_WORKFLOW.md
Due: none

Add PRDs for top 3 complexity hotspots
  docs/prds/PRD-001-agent-construction-pipeline.md
  docs/prds/PRD-002-service-dependency-injection.md
  docs/prds/PRD-003-database-store-abstraction.md
Due: none

Add Zoho Mail MCP tutorial and template
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  tutorials/index.md
  tutorials/zoho-mail-mcp.md
Due: frontend-prettier, frontend-lint

Add NVIDIA PersonaPlex voice mode PRDs
  tasks/prd-enterprise-voice-deployment.md
  tasks/prd-voice-api-integration.md
  tasks/prd-voice-mode-ux.md
Due: none

Add AI Council consolidated voice mode implementation plan
  tasks/prd-voice-mode-final-plan.md
Due: none

Add comprehensive ICP and monetization strategy research
  docs/ICP_MONETIZATION_STRATEGY.md
Due: none

Save specs
  .claude/specs/feat-697-checkpoint-branching/SPEC.md
  RALPH_TASK.md
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
  package-lock.json
Due: frontend-prettier, frontend-lint

init
  Changelog.md
Due: none

feat: US-001 - Add exa-py dependency and EXA_API_KEY constant
  backend/.example.env
  backend/pyproject.toml
  backend/src/constants/__init__.py
Due: backend-format

feat: US-002 through US-006 - Exa search integration with fallback chain
  backend/src/tools/search.py
  frontend/src/components/tools/SearchEngine.tsx
  tasks/prd.json
  tasks/progress.txt
Due: backend-format, frontend-prettier, frontend-lint

chore: Mark US-002 through US-006 as passing in prd.json
  tasks/prd.json
  tasks/progress.txt
Due: none

Completed ralph loop
  .claude/commands/team.md
  .specs/.gitkeep
  .specs/search-fallback-exa-searxng/PROPOSAL_CONFIG_SENTINEL.md
  .specs/search-fallback-exa-searxng/PROPOSAL_FALLBACK_STRATEGIST.md
  .specs/search-fallback-exa-searxng/PROPOSAL_FRONTEND_INTEGRATOR.md
  .specs/search-fallback-exa-searxng/PROPOSAL_SCHEMA_UNIFIER.md
  .specs/search-fallback-exa-searxng/PROPOSAL_SEARCH_ARCHITECT.md
  .specs/search-fallback-exa-searxng/REVIEW.md
  .specs/search-fallback-exa-searxng/TASKS.md
  backend/migrations/env.py
  backend/src/agents/__init__.py
  backend/src/tools/__init__.py
  backend/src/utils/security.py
  backend/src/utils/stream.py
  backend/tests/unit/services/test_abort_service.py
  backend/uv.lock
  tasks/prd-search-fallback-exa-searxng.md
Due: backend-format

FROM bug/705-fallback-searxng-from-exa TO development (#706)
  .claude/commands/team.md
  .specs/.gitkeep
  .specs/search-fallback-exa-searxng/PROPOSAL_CONFIG_SENTINEL.md
  .specs/search-fallback-exa-searxng/PROPOSAL_FALLBACK_STRATEGIST.md
  .specs/search-fallback-exa-searxng/PROPOSAL_FRONTEND_INTEGRATOR.md
  .specs/search-fallback-exa-searxng/PROPOSAL_SCHEMA_UNIFIER.md
  .specs/search-fallback-exa-searxng/PROPOSAL_SEARCH_ARCHITECT.md
  .specs/search-fallback-exa-searxng/REVIEW.md
  .specs/search-fallback-exa-searxng/TASKS.md
  Changelog.md
  backend/.example.env
  backend/migrations/env.py
  backend/pyproject.toml
  backend/src/agents/__init__.py
  backend/src/constants/__init__.py
  backend/src/tools/__init__.py
  backend/src/tools/search.py
  backend/src/utils/security.py
  backend/src/utils/stream.py
  backend/tests/unit/services/test_abort_service.py
  backend/uv.lock
  frontend/src/components/tools/SearchEngine.tsx
  tasks/prd-search-fallback-exa-searxng.md
  tasks/prd.json
  tasks/progress.txt
Due: backend-format, frontend-prettier, frontend-lint

feat: [US-001] - Rewrite ticket.md Step 8 to constrain /team to Phases 0-3 only
  .claude/commands/ralph/ticket.md
Due: none

feat: [US-002] - Add Steps 9-10 for PRD generation and prd.json conversion
  .ralph/prd.json
Due: none

feat: [US-003] - Add Steps 11-12 for Ralph loop launch and reporting
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-004] - Update error handling and report sections for new workflow
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Lets go try this
  .claude/commands/ralph/ticket.md
  .specs/ticket-ralph-loop-integration/PROPOSAL_DEVEX_GUARDIAN.md
  .specs/ticket-ralph-loop-integration/PROPOSAL_HANDOFF_ARCHITECT.md
  .specs/ticket-ralph-loop-integration/PROPOSAL_WORKFLOW_ORCHESTRATOR.md
  .specs/ticket-ralph-loop-integration/REVIEW.md
  .specs/ticket-ralph-loop-integration/TASKS.md
  tasks/prd-ticket-ralph-loop.md
Due: none

init feat/665-allow-user-configure-default-account-settings
  Changelog.md
Due: none

init feat/709-users-should-be-able-to-configure-servers-mcp
  Changelog.md
Due: none

feat: [US-001] - Create Settings Schema and Repository
  backend/src/repos/base_repo.py
  backend/src/repos/user_settings_repo.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/settings.py
Due: backend-format

feat: [US-002] - Create Settings API Routes
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/settings.py
Due: backend-format

feat: [US-003] - Add resolve_api_key Helper
  backend/src/utils/llm.py
Due: backend-format

feat: [US-004] - Integrate User Keys into LLM Invocation
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/repos/user_settings_repo.py
  backend/src/utils/stream.py
Due: backend-format

chore: update PRD and progress for US-004
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-005] - Create Frontend Settings Service
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/lib/services/userSettingsService.ts
Due: frontend-prettier, frontend-lint

feat: [US-001] - Create Server SQLAlchemy model and Alembic migration
  backend/migrations/versions/0002_add_servers_table.py
  backend/src/schemas/models/__init__.py
  backend/src/schemas/models/server.py
Due: backend-format

feat: [US-002] - Create Server Pydantic schemas
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/server.py
Due: backend-format

docs: update PRD and progress for US-002
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-003] - Create ServerService with CRUD operations
  backend/src/services/server.py
Due: backend-format

docs: update PRD and progress for US-003
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-006] - Create Default Model Settings Card
  frontend/src/components/settings/DefaultModelSettings.tsx
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-006
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-004] - Register server API routes
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/server.py
Due: backend-format

feat: [US-005] - Add server_ids field to Assistant model
  backend/src/schemas/entities/llm.py
Due: backend-format

docs: update PRD and progress for US-005
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-006] - Create server assignment endpoints
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/routes/v0/assistant.py
Due: backend-format

feat: [US-007] - Resolve server_ids at runtime in LLMService
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/services/llm.py
Due: backend-format

feat: [US-008] - Add test-connection and tool discovery endpoints
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/routes/v0/server.py
  backend/src/schemas/entities/server.py
Due: backend-format

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
