Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

feat: [US-007] - Create Memory REST API Routes
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/memory.py
Due: backend-format

chore: update PRD and progress for US-007
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-008] - Backend Tests for Memory REST API
  .ralph/prd.json
  .ralph/progress.txt
  backend/tests/unit/repos/__init__.py
  backend/tests/unit/repos/test_memory_repo.py
  backend/tests/unit/routes/test_memory_routes.py
Due: backend-format

feat: [US-009] - Create Frontend Memory TypeScript Types and Service
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/memory.ts
  frontend/src/lib/services/index.ts
  frontend/src/lib/services/memoryService.ts
  frontend/src/tests/services/memoryService.test.ts
Due: frontend-prettier, frontend-lint

feat: [US-010] - Create Memory Edit Dialog Component
  frontend/src/components/settings/MemoryEditDialog.tsx
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-010
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-011] - Create Memory Settings Component and Integration
  frontend/src/components/settings/MemoryEditDialog.tsx
  frontend/src/components/settings/MemorySettings.test.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/pages/settings/index.tsx
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-011
  .ralph/prd.json
  .ralph/progress.txt
Due: none

FROM bug/612-web-scrape-cannot-fetch-plain-text-pages development (#712)
  .claude/specs/bug-612-web-scrape-plain-text/PROPOSAL_API_GUARDIAN.md
  .claude/specs/bug-612-web-scrape-plain-text/PROPOSAL_SCRAPE_ENGINEER.md
  .claude/specs/bug-612-web-scrape-plain-text/PROPOSAL_TEST_SENTINEL.md
  .claude/specs/bug-612-web-scrape-plain-text/REVIEW.md
  .claude/specs/bug-612-web-scrape-plain-text/TASKS.md
  .claude/specs/bug-612-web-scrape-plain-text/USER_STORIES.md
  .ralph/prd.json
  .ralph/progress.txt
  Changelog.md
  backend/src/tools/search.py
  backend/tests/unit/tools/test_web_scrape.py
  tasks/prd-web-scrape-plain-text.md
Due: backend-format

PR Suggestions, coderabbit
  backend/src/constants/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/compacting.py
  backend/src/utils/migrations.py
  backend/tests/integration/test_public_assistants.py
  backend/tests/unit/utils/test_compacting.py
  backend/tests/unit/utils/test_middleware_integration.py
Due: backend-format

Updates from suggetsions
  backend/.example.env
  backend/src/constants/llm.py
  backend/src/utils/compacting.py
Due: backend-format

Uupdate e.xmaple .env and readme
  backend/.example.env
  backend/README.md
Due: backend-format

FROM feat/555-add-compacting-middleware TO development (#713)
  .claude/specs/feat-555-add-compacting-middleware/PROPOSAL_INTEGRATION_ENGINEER.md
  .claude/specs/feat-555-add-compacting-middleware/PROPOSAL_MIDDLEWARE_ARCHITECT.md
  .claude/specs/feat-555-add-compacting-middleware/PROPOSAL_TOKEN_STRATEGIST.md
  .claude/specs/feat-555-add-compacting-middleware/REVIEW.md
  .claude/specs/feat-555-add-compacting-middleware/TASKS.md
  .claude/specs/feat-555-add-compacting-middleware/USER_STORIES.md
  .ralph/prd.json
  .ralph/progress.txt
  Changelog.md
  backend/.example.env
  backend/README.md
  backend/src/constants/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/compacting.py
  backend/src/utils/middleware.py
  backend/src/utils/migrations.py
  backend/tests/integration/test_public_assistants.py
  backend/tests/unit/utils/test_compacting.py
  backend/tests/unit/utils/test_middleware_integration.py
  tasks/prd-compacting-middleware.md
Due: backend-format

Coderabbit suggestions
  backend/src/repos/memory_repo.py
  backend/src/routes/v0/memory.py
  backend/src/services/tool.py
  backend/tests/integration/test_tool_invoke.py
  frontend/src/components/settings/MemorySettings.test.tsx
  frontend/src/components/settings/MemorySettings.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/442-able-to-edit-memorys TO development (#714)
  .ralph/prd.json
  .ralph/progress.txt
  Changelog.md
  backend/src/repos/base_repo.py
  backend/src/repos/memory_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/memory.py
  backend/src/schemas/entities/memory.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/memory.py
  backend/tests/integration/test_tool_invoke.py
  backend/tests/unit/repos/__init__.py
  backend/tests/unit/repos/test_memory_repo.py
  backend/tests/unit/routes/test_memory_routes.py
  frontend/src/components/settings/MemoryEditDialog.tsx
  frontend/src/components/settings/MemorySettings.test.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/memory.ts
  frontend/src/lib/services/index.ts
  frontend/src/lib/services/memoryService.ts
  frontend/src/pages/settings/index.tsx
  frontend/src/tests/services/memoryService.test.ts
Due: backend-format, frontend-prettier, frontend-lint

archive and parallel edits
  .claude/skills/ralph-archive/SKILL.md
  .ralph/prd.json
  .ralph/progress.txt
  .ralph/skills/archive/SKILL.md
  .ralph/skills/parallel-edits/SKILL.md
Due: none

Update skills
  .claude/commands/ralph/ticket.md
  .claude/skills/agent-browser/SKILL.md
  .claude/skills/prd/SKILL.md
  .claude/skills/ralph/SKILL.md
  .ralph/prd.json.example
  .ralph/prompt.md
  .ralph/skills/agent-browser
  .ralph/skills/archive
  .ralph/skills/archive/SKILL.md
  .ralph/skills/prd
  .ralph/skills/prd/SKILL.md
  .ralph/skills/ralph
  .ralph/skills/ralph/SKILL.md
  tasks/prd-distributed-mode-default.md
Due: none

Containers in place, need to test out mcp from the ui
  Changelog.md
  docker-compose.yml
  docker/ubuntu/Dockerfile
  docker/ubuntu/README.md
  docker/ubuntu/entrypoint.sh
  docker/ubuntu/index.js
  docker/ubuntu/package.json
Due: none

Locked down container
  docker/ubuntu/Dockerfile
  docker/ubuntu/index.js
Due: none

Added example .env
  docker/ubuntu/.example.env
Due: none

Updated for sandbox
  .github/workflows/test.yml
  .gitmodules
  docker-compose.yml
  docker/ubuntu/.example.env
  docker/ubuntu/Dockerfile
  docker/ubuntu/README.md
  docker/ubuntu/entrypoint.sh
  docker/ubuntu/index.js
  docker/ubuntu/package.json
Due: none

Sandbox gh actionss
  .github/workflows/build-sandbox.yml
Due: none

FROM feat/715-ubuntu-execution-env TO development (#716)
  .github/workflows/build-sandbox.yml
  .github/workflows/test.yml
  .gitmodules
  Changelog.md
  docker-compose.yml
  docker/ubuntu/Dockerfile
  docker/ubuntu/entrypoint.sh
Due: none

chore: move sandbox workflow to sandboxes repo
  .github/workflows/build-sandbox.yml
Due: none

on wiki do not run tests
  .github/workflows/test.yml
Due: none

init
  Changelog.md
Due: none

init feat/717-docs-wiki-ubuntu-sandbox-mcp-tutorial
  Changelog.md
Due: none

feat: US-002/US-003 - Update PRD and add progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Update path to default hook env
  .claude/hooks/notify_slack.py
Due: none

feat: US-001 - Capture MCP configuration screenshots and update tutorial
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Updates agent-browser skill
  .claude/skills/agent-browser/SKILL.md
Due: none

feat: US-001 - Add DISTRIBUTED_WORKERS constant to src/constants
  backend/src/constants/__init__.py
  backend/src/routes/v0/llm.py
Due: backend-format

feat: US-002 - Dispatch scheduled jobs to TaskIQ when distributed mode enabled
  backend/src/services/schedule.py
Due: backend-format
