Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

Scragglers
  frontend/src/components/inputs/ChatInput.tsx
Due: frontend-prettier, frontend-lint

push release
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/inputs/ImageUpload.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/lib/config/tool.ts
Due: frontend-prettier, frontend-lint

Better direction
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/pages/agents/create/index.tsx
Due: frontend-prettier, frontend-lint

fixes button overlap on login
  frontend/src/layouts/NoAuthLayout.tsx
Due: frontend-prettier, frontend-lint

better page routing, needs fixing
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/components/icons/HouseIcon.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

This works but is dirrty from requiring new URLSearchParams(), this should not be needed.
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/index.tsx
Due: frontend-prettier, frontend-lint

pages in place
  frontend/src/pages/agents/index.tsx
  frontend/src/tests/mocks/agent.ts
Due: frontend-prettier, frontend-lint

Update claude.yml
  .github/workflows/claude.yml
Due: none

Assistants store
  backend/main.py
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/models/assistant.py
  backend/src/services/assistant.py
  backend/src/utils/format.py
Due: backend-format

Cleanup
  backend/main.py
  backend/src/routes/v0/assistant.py
  backend/src/services/airtable.py
  backend/src/services/assistant.py
  backend/src/utils/auth.py
Due: backend-format

Create in place, will need mre cleanup tomrrwo
  backend/src/routes/v0/assistant.py
  backend/src/schemas/models/assistant.py
  backend/src/services/assistant.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/popovers/PresetPopover.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useAgentHook.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

Can create agent
  backend/main.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

init
  Changelog.md
Due: none

Navigates back to agents after delete
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

Can save correctly, may want to make better where we enable edits then disable fields when saved to make readonly
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/utils/format.ts
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/edit.tsx
Due: frontend-prettier, frontend-lint

Closes a few I belivee
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/menus/AgentMenu.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/pages/Chat.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

fix npm run build
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/pages/Home.tsx
Due: frontend-prettier, frontend-lint

FROM feat/381-delete-agent TO development (#384)
  Changelog.md
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/menus/AgentMenu.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/utils/format.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

Trying to fix agentMenu
  backend/main.py
  backend/src/routes/v0/agent/__init__.py
  backend/src/routes/v0/agent/revision.py
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/hooks/useAppHook.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Agent menu fixed
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/sections/chat-section.tsx
  frontend/src/pages/Chat.tsx
Due: frontend-prettier, frontend-lint

Forgot model card update
  frontend/src/pages/agents/index.tsx
Due: frontend-prettier, frontend-lint

Will begin at 200 a day
  backend/main.py
  backend/pyproject.toml
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/tools/__init__.py
  backend/src/utils/rate_limit.py
  backend/uv.lock
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/387-ip-rate-limit TO development (#388)
  Changelog.md
  backend/main.py
  backend/pyproject.toml
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/tools/__init__.py
  backend/src/utils/rate_limit.py
  backend/uv.lock
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

Can use subagents but will need more work
  backend/src/flows/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/tools/__init__.py
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Can configure subagents
  backend/pyproject.toml
  backend/src/flows/__init__.py
  backend/uv.lock
  frontend/src/hooks/useAgent.ts
Due: backend-format, frontend-prettier, frontend-lint

able to select agents at create page
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/create.tsx
Due: frontend-prettier, frontend-lint

Can inception
  backend/src/flows/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/models/assistant.py
Due: backend-format

FROM feat/380-subagent-configure TO development (#391)
  Changelog.md
  backend/pyproject.toml
  backend/src/flows/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/models/assistant.py
  backend/src/tools/__init__.py
  backend/uv.lock
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/agents/create.tsx
Due: backend-format, frontend-prettier, frontend-lint

Update password hasH
  backend/pyproject.toml
  backend/src/routes/v0/auth.py
  backend/src/schemas/models/auth.py
  backend/uv.lock
Due: backend-format

init
  frontend/src/pages/Login.tsx
Due: frontend-prettier, frontend-lint

update
  Changelog.md
  backend/src/constants/__init__.py
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/thread.py
  frontend/src/components/buttons/ColorModeButton.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fixes problem
  backend/src/routes/v0/llm.py
  backend/src/utils/auth.py
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/layouts/NoAuthLayout.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM bug/392-new-chat-buttons-no-auth TO development (#393)
  Changelog.md
  backend/src/constants/__init__.py
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/thread.py
  backend/src/utils/auth.py
  frontend/src/components/buttons/ColorModeButton.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
