Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

init
  Changelog.md
Due: none

tools are more preferable in this state
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/timeline/ToolTimeline.tsx
  frontend/src/components/timeline/ToolTimelineItem.tsx
  frontend/src/styles/globals.css
Due: frontend-prettier, frontend-lint

Fix build
  frontend/src/components/timeline/ToolTimeline.tsx
Due: frontend-prettier, frontend-lint

optimize build
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/timeline/ToolTimelineItem.tsx
  frontend/src/components/tools/ChartRenderWidget.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Due: frontend-prettier, frontend-lint

FROM feat/503-add-bettter-tool-ui TO development (#512)
  Changelog.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/timeline/ToolTimeline.tsx
  frontend/src/components/timeline/ToolTimelineItem.tsx
  frontend/src/components/tools/ChartRenderWidget.tsx
  frontend/src/styles/globals.css
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Due: frontend-prettier, frontend-lint

Can associate threads with projects
  backend/src/routes/v0/thread.py
  backend/src/utils/stream.py
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/lists/ListProjectThreads.tsx
  frontend/src/components/sections/project-section.tsx
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

Should fix frontend build
  frontend/src/components/inputs/ChatInput.tsx
Due: frontend-prettier, frontend-lint

FROM feat/507-add-projects-ui TO development (#508)
  Changelog.md
  backend/src/flows/__init__.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/stream.py
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ListProjectThreads.tsx
  frontend/src/components/modals/AddSourceModal.tsx
  frontend/src/components/modals/CreateProjectModal.tsx
  frontend/src/components/sections/project-section.tsx
  frontend/src/context/ProjectContext.tsx
  frontend/src/hooks/useProject.ts
  frontend/src/lib/entities/project.ts
  frontend/src/lib/services/projectService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/main.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

Adjusts to use pages instead
  backend/src/tools/search.py
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ListProjectThreads.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useProject.ts
  frontend/src/pages/threads/ThreadPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

Take these changes
  backend/src/constants/examples/__init__.py
  backend/src/utils/format.py
  docs/assistants/index.md
  docs/threads/index.md
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

Update change Messages
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Commit working for now, need to refactor for clean
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

extracted most of functionality to separate file
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

This works for now, needs mor compacting
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

consolidates stop
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

more conslidations
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

conslidation
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

Fix model latest
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

Simplifies the messageCreate
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

No longer return from streamHandler
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

consolidated
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

few optimizations
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

added fix for input
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Files and todos to state
  backend/src/utils/stream.py
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
  frontend/src/pages/threads/ThreadPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM bug/516-fix-google-stop-reason-stream TO development (#517)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/tools/search.py
  backend/src/utils/format.py
  backend/src/utils/stream.py
  docs/assistants/index.md
  docs/threads/index.md
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/ListProjectThreads.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useProject.ts
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/message.ts
  frontend/src/pages/threads/ThreadPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fix this
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/utils/stream.py
Due: backend-format

Set to nano 5 default
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
Due: backend-format

Blieve this should solve most of it
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

FROM feat/519-react-window TO development (#520)
  Changelog.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Remove unused from build
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

works for followup manually but still clearing state
  backend/src/constants/llm.py
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/MessageQueue.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/tests/hooks/useChat.queue.test.ts
Due: backend-format, frontend-prettier, frontend-lint

UX Flow in place, needs the UI for seeing queued. Also threads not saving for some reason
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/hooks/useThread.ts
  frontend/src/lib/utils/stream.ts
Due: frontend-prettier, frontend-lint

Consolidates but still not able to load in threads after done streaming
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useThread.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/chat/chat-v2.tsx
Due: frontend-prettier, frontend-lint

Havnig issues with the thread state upateing
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/context/ThreadContext.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/hooks/useThread.ts
  frontend/src/lib/utils/stream.ts
  frontend/src/main.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

save these changes for now
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/pages/chat/chat-v2.tsx
Due: frontend-prettier, frontend-lint

init
  Changelog.md
  frontend/src/components/drawers/app-sidebar.tsx
Due: frontend-prettier, frontend-lint

Better thought process
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/static/prompts/md/default.md
  backend/src/tools/search.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/pages/Chat.tsx
Due: backend-format, frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
