Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

feat: US-024 - Unit tests for sync_skill_files_to_store
  backend/tests/unit/agents/test_sync_skill_files.py
Due: backend-format

complete: US-024 - update PRD and progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-025 - E2E validation with agent-browser
  .ralph/prd.json
  .ralph/progress.txt
Due: none

init: iteration 3
  .claude/plans/feat-722-frontend-schedule-refactor/PLAN.md
  .claude/plans/feat-722-frontend-schedule-refactor/images/01_navigate.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/02_schedules-index-page.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/03_select-agent-for-schedule.png
  .claude/plans/feat-773/03.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_BACKEND_FLOW_ARCHITECT.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_FILE_SCHEMA.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_INTEGRATION_WORKER.md
  .claude/plans/plan-agents-md-system-prompt-injection/SYNTHESIS.md
  .claude/plans/plan-rlm-skill/EXPERT_multi-model-orchestration.md
  .claude/plans/plan-rlm-skill/EXPERT_rlm-algorithm.md
  .claude/plans/plan-rlm-skill/EXPERT_skill-architecture.md
  .ralph/prd.json
  tasks/prd-skills-crud.md
Due: none

feat: US-026 - Fix auto-sync to use final agent state in stream path
  backend/src/utils/stream.py
Due: backend-format

feat: US-027 - Unit tests for stream sync using final_state files
  backend/tests/unit/agents/test_sync_skill_files.py
Due: backend-format

complete: US-026, US-027 - update PRD and progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

complete: US-028 - update PRD and progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-029 - Create skill template generation service
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/services/skill_generator.py
Due: backend-format

feat: US-030 - Create skill generation API endpoint
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/routes/v0/skill.py
  backend/src/schemas/entities/skill.py
Due: backend-format

feat: US-031 - Add Generate with AI button to skill create page
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/lib/services/skillService.ts
  frontend/src/pages/skills/create.tsx
Due: frontend-prettier, frontend-lint

feat: US-032 - Unit tests for SkillGeneratorService
  .ralph/prd.json
  .ralph/progress.txt
  backend/tests/unit/services/test_skill_generator.py
Due: backend-format

complete: US-029 through US-033 - update PRD and progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Commit Plan
  .claude/plans/feat-722-frontend-schedule-refactor/PLAN.md
  .claude/plans/feat-722-frontend-schedule-refactor/images/01_navigate.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/02_schedules-index-page.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/03_select-agent-for-schedule.png
  .claude/plans/feat-776.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_BACKEND_FLOW_ARCHITECT.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_FILE_SCHEMA.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_INTEGRATION_WORKER.md
  .claude/plans/plan-agents-md-system-prompt-injection/SYNTHESIS.md
  .claude/plans/plan-rlm-skill/EXPERT_multi-model-orchestration.md
  .claude/plans/plan-rlm-skill/EXPERT_rlm-algorithm.md
  .claude/plans/plan-rlm-skill/EXPERT_skill-architecture.md
Due: none

handles memories as files
  backend/src/agents/__init__.py
  backend/src/repos/memory_repo.py
  backend/src/routes/v0/memory.py
  backend/src/schemas/entities/memory.py
  backend/tests/unit/agents/test_prepare_memory_files.py
  backend/tests/unit/repos/test_memory_repo.py
  backend/tests/unit/routes/test_memory_routes.py
  frontend/src/components/settings/MemoryEditDialog.tsx
  frontend/src/components/settings/MemorySettings.test.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/lib/entities/memory.ts
  frontend/src/lib/services/memoryService.ts
  frontend/src/tests/services/memoryService.test.ts
Due: backend-format, frontend-prettier, frontend-lint

chore: merge pr
  .claude/plans/feat-776/0001-sync-memory-files.md
  .claude/plans/feat-776/0002-editor.md
  frontend/src/components/settings/MemoryEditDialog.tsx
  frontend/src/components/settings/MemorySettings.test.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/pages/memories/create.tsx
  frontend/src/pages/memories/edit.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

ready to merge
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/settings/MemorySettings.test.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/context/ChatContext.tsx
Due: frontend-prettier, frontend-lint

Update Makefile, ChatPanel
  Makefile
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

Add files via upload
  examples/tools/fetch_workspace.ipynb
Due: none

Delete examples/tools/fetch_workspace.ipynb
  examples/tools/fetch_workspace.ipynb
Due: none

lceanup
  frontend/src/context/ChatContext.tsx
Due: frontend-prettier, frontend-lint

FROM feat/776-sync-files-to-memory TO development (#777)
  .claude/plans/feat-722-frontend-schedule-refactor/PLAN.md
  .claude/plans/feat-722-frontend-schedule-refactor/images/01_navigate.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/02_schedules-index-page.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/03_select-agent-for-schedule.png
  .claude/plans/feat-776/0001-sync-memory-files.md
  .claude/plans/feat-776/0002-editor.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_BACKEND_FLOW_ARCHITECT.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_FILE_SCHEMA.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_INTEGRATION_WORKER.md
  .claude/plans/plan-agents-md-system-prompt-injection/SYNTHESIS.md
  .claude/plans/plan-rlm-skill/EXPERT_multi-model-orchestration.md
  .claude/plans/plan-rlm-skill/EXPERT_rlm-algorithm.md
  .claude/plans/plan-rlm-skill/EXPERT_skill-architecture.md
  Makefile
  backend/src/agents/__init__.py
  backend/src/repos/memory_repo.py
  backend/src/routes/v0/memory.py
  backend/src/schemas/entities/memory.py
  backend/tests/unit/agents/test_prepare_memory_files.py
  backend/tests/unit/repos/test_memory_repo.py
  backend/tests/unit/routes/test_memory_routes.py
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/settings/MemoryEditDialog.tsx
  frontend/src/components/settings/MemorySettings.test.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/lib/entities/memory.ts
  frontend/src/lib/services/memoryService.ts
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/pages/chat/chat-v2.tsx
  frontend/src/pages/memories/create.tsx
  frontend/src/pages/memories/edit.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/src/tests/services/memoryService.test.ts
Due: backend-format, frontend-prettier, frontend-lint

Update AGENTS.md
  AGENTS.md
Due: none

Adds remarks-breaks
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/MarkdownCard.tsx
Due: frontend-prettier, frontend-lint

issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Should be node 22
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

chore: scaffold fix for issue #771 model select validation
  .fix-771.md
Due: none

docs: add PRD for issue #772 — schedule model dropdown
  agents/prd.json
Due: none

docs: add PRD and ralph prd.json for issue #771 model select validation fix
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-model-select-validation.md
Due: none

docs: add PRD and ralph prd.json for issue #772 schedule model dropdown
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-schedule-model-dropdown.md
Due: none

chore: remove misplaced agents/prd.json
  agents/prd.json
Due: none

feat: US-001 - Decouple SelectModel from ChatContext
  frontend/src/components/lists/SelectModel.tsx
Due: frontend-prettier, frontend-lint

feat: US-002 - Add standalone models list fetcher
  frontend/src/hooks/useModelsList.ts
Due: frontend-prettier, frontend-lint

docs: update PRD and progress for US-002
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-003 - Replace text input with SelectModel in AgentScheduleForm
  frontend/src/components/forms/AgentScheduleForm.tsx
Due: frontend-prettier, frontend-lint

docs: update PRD and progress for US-003
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-004 - Verify schedule edit loads saved model in dropdown
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

docs: update PRD and progress for US-004
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
