Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

init
  Changelog.md
Due: none

updates to docs
  backend/.dockerignore
  backend/mkdocs.yml
  docs/assistants/index.md
  docs/getting-started.md
  docs/index.md
  docs/storage/index.md
  docs/threads/index.md
  docs/tools/a2a.md
  docs/tools/mcp.md
  docs/tools/tools.md
Due: backend-format

FROM feat/501-update-stale-docs-with-placeholder TO development (#502)
  Changelog.md
  backend/.dockerignore
  backend/mkdocs.yml
  docs/assistants/index.md
  docs/getting-started.md
  docs/index.md
  docs/storage/index.md
  docs/threads/index.md
  docs/tools/a2a.md
  docs/tools/mcp.md
  docs/tools/tools.md
Due: backend-format

Needed this
  docs/index.md
  docs/tools/mcp.md
Due: none

Most of the crud in place, need to wrap up search
  backend/src/repos/base_repo.py
  backend/src/repos/doc_repo.py
  backend/src/repos/project_repo.py
  backend/src/repos/source_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/store.py
  backend/src/schemas/examples/__init__.py
  backend/src/services/project.py
Due: backend-format

Formatting
  backend/src/routes/v0/project/__init__.py
Due: backend-format

Structurely search is ready but needs testing as not working like expected
  backend/src/repos/base_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/src/services/project.py
Due: backend-format

integrations with auth working for /api/tools
  backend/.vscode/launch.json
  backend/pytest.ini
  backend/src/utils/auth.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/integration/test_tool_routes.py
Due: backend-format

Should have all tests for project routes
  backend/.vscode/launch.json
  backend/src/loaders/basic.py
  backend/src/repos/source_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/tests/conftest.py
  backend/tests/integration/test_project_routes.py
Due: backend-format

Linting
  backend/src/loaders/basic.py
  backend/src/routes/v0/project/__init__.py
  backend/src/services/project.py
  backend/src/utils/auth.py
  backend/tests/conftest.py
  backend/tests/integration/test_project_routes.py
  backend/tests/integration/test_tool_routes.py
Due: backend-format

Resolve tests from pipeline
  backend/src/repos/base_repo.py
  backend/src/repos/source_repo.py
  backend/src/services/source.py
  backend/tests/__init__.py
  backend/tests/unit/services/test_project_service.py
  backend/tests/unit/services/test_source_service.py
Due: backend-format

Apis really g2g
  backend/src/repos/doc_repo.py
  backend/src/repos/project_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/tests/unit/services/test_project_service.py
Due: backend-format

consolidation, need to doc examples
  backend/src/routes/v0/project/__init__.py
Due: backend-format

Consolidation into BaseRepo
  backend/src/repos/base_repo.py
Due: backend-format

Fixing tests
  backend/src/routes/v0/project/__init__.py
  backend/tests/integration/test_project_routes.py
Due: backend-format

fix: Add test isolation for CI pipeline
  .github/workflows/test.yml
  .gitignore
  AGENTS.md
  backend/.dockerignore
  backend/pyproject.toml
  backend/tests/README.md
  backend/tests/conftest.py
  backend/uv.lock
Due: backend-format

fix: Add test isolation for CI pipeline
  backend/tests/conftest.py
Due: backend-format

Take off ssl mode
  .github/workflows/test.yml
Due: none

Change to ci
  AGENTS.md
Due: none

Disable tests for now
  backend/tests/integration/test_project_routes.py
Due: backend-format

Comment out new tests
  backend/tests/conftest.py
Due: backend-format

Coment out tests
  backend/tests/integration/test_tool_routes.py
Due: backend-format

client side stream improved. Still a few hiccups
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

FROM bug/505-claude-stream-response TO development (#506)
  Changelog.md
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

artificial will work for now
  backend/src/routes/v0/project/__init__.py
  backend/src/schemas/entities/__init__.py
Due: backend-format

has most of UI, need to be able to add sources
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/modals/AddSourceModal.tsx
  frontend/src/components/modals/CreateProjectModal.tsx
  frontend/src/context/ProjectContext.tsx
  frontend/src/hooks/useProject.ts
  frontend/src/lib/entities/project.ts
  frontend/src/lib/services/projectService.ts
  frontend/src/main.tsx
Due: frontend-prettier, frontend-lint

Appears to have fixed modal to add source
  frontend/src/components/modals/AddSourceModal.tsx
  frontend/src/hooks/useProject.ts
Due: frontend-prettier, frontend-lint

resolves deselect
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/inputs/ChatInput.tsx
Due: frontend-prettier, frontend-lint

We need to go rag and add search tolls
  backend/src/flows/__init__.py
  backend/src/schemas/entities/llm.py
Due: backend-format

lgtm
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/components/ui/command.tsx
Due: frontend-prettier, frontend-lint

FROM feat/509-search-model TO development (#510)
  Changelog.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/components/ui/command.tsx
Due: frontend-prettier, frontend-lint

Can render html
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

FROM feat/494-can-render-html-files TO development (#511)
  Changelog.md
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
