Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

CleanUP
  backend/main.py
  backend/migrations/env.py
  backend/src/constants/examples/__init__.py
  backend/src/constants/llm.py
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/repos/api_token_repo.py
  backend/src/repos/user_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/api_tokens.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/auth.py
  backend/src/schemas/models/auth.py
  backend/src/services/tool.py
  backend/src/tools/code.py
  backend/src/tools/finance/correlation.py
  backend/src/tools/search.py
  backend/src/utils/auth.py
  backend/src/utils/cache.py
  backend/src/utils/middleware.py
  backend/src/utils/stream.py
  backend/tests/conftest.py
  backend/tests/integration/test_api_tokens.py
Due: backend-format

Remove docs submodule (pre-rename)
  docs/.gitignore
  docs/README.md
  docs/docs/assistants/index.md
  docs/docs/getting-started.md
  docs/docs/index.md
  docs/docs/storage/index.md
  docs/docs/threads/index.md
  docs/docs/tools/a2a.md
  docs/docs/tools/mcp.md
  docs/docs/tools/search.md
  docs/docs/tools/tools.md
  docs/docusaurus.config.ts
  docs/index.md
  docs/netlify.toml
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/static/img/ruska_logo_200.png
  docs/tsconfig.json
Due: none

Rename docs submodule to wiki
  .gitmodules
Due: none

Update submodules'
  .gitmodules
Due: none

Fix submodules
  .gitmodules
Due: none

Added some helpful middewalre
  backend/src/flows/__init__.py
  backend/src/utils/middleware.py
Due: backend-format

Adds all of prompts
  .claude/agents/code-review.md
  .claude/agents/system-architect.md
  .claude/commands/plan.md
  .claude/commands/prime.md
  .claude/skills/manage-app/SKILL.md
  .claude/skills/test-backend/SKILL.md
  .claude/skills/test-frontend/SKILL.md
  .gitignore
  .plans/README.md
  AGENTS.md
  CLAUDE.md
  backend/Makefile
Due: backend-format

Added hooks for slack
  .claude/hooks/notify-slack.sh
  .claude/skills/explaining-code/SKILL.md
  backend/src/constants/llm.py
  backend/src/services/prompt/__init__.py
  backend/src/utils/format.py
  backend/src/utils/middleware.py
Due: backend-format

Configured Notification and Stop hooks
  .claude/agents/technical-writer.md
  .claude/hooks/notify-slack.sh
  .claude/hooks/notify_slack.py
Due: none

Suggested cchanges
  CLAUDE.md
  backend/src/utils/format.py
Due: backend-format

No idea why tests fail
  CLAUDE.md
  backend/main.py
  backend/migrations/env.py
  backend/src/constants/examples/__init__.py
  backend/src/constants/llm.py
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/repos/api_token_repo.py
  backend/src/repos/user_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/api_tokens.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/auth.py
  backend/src/schemas/models/auth.py
  backend/src/services/prompt/__init__.py
  backend/src/services/tool.py
  backend/src/tools/code.py
  backend/src/tools/finance/correlation.py
  backend/src/tools/search.py
  backend/src/utils/auth.py
  backend/src/utils/cache.py
  backend/src/utils/format.py
  backend/src/utils/middleware.py
  backend/src/utils/stream.py
  backend/tests/conftest.py
  backend/tests/integration/test_api_tokens.py
Due: backend-format

Was not fixed
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
Due: backend-format

Fix duplicated input messages
  .claude/commands/build.md
  .plans/payload-duplication-bug/AGENT_1_FRONTEND_STATE_SPECIALIST.md
  .plans/payload-duplication-bug/AGENT_2_BACKEND_API_SPECIALIST.md
  .plans/payload-duplication-bug/AGENT_3_DATA_SERIALIZATION_SPECIALIST.md
  .plans/payload-duplication-bug/ARCHITECTURE.md
  .plans/payload-duplication-bug/FIX_SUMMARY.md
  .plans/payload-duplication-bug/PLAYWRIGHT_DEBUG_GUIDE.md
  .plans/payload-duplication-bug/README.md
  .plans/payload-duplication-bug/SPEC.md
  .plans/payload-duplication-bug/SUMMARY.md
  .plans/payload-duplication-bug/TEST_COVERAGE.md
  backend/src/schemas/contexts/__init__.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/message.ts
Due: backend-format, frontend-prettier, frontend-lint

Upgrade repo
  .claude/agents/agent-builder.md
  .claude/agents/command-builder.md
  .claude/agents/skill-builder.md
  .plans/skill-builder-agent/SPEC.md
Due: none

Plan for cloudflared blog post
  .plans/cloudflare-tunnel-claude-hooks-blog/SPEC.md
Due: none

Fixes the tool create modaL
  .plans/textarea-description-fields/SPEC.md
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ArgsSchemaBuilder.tsx
  package-lock.json
Due: frontend-prettier, frontend-lint

G2g
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
Due: frontend-prettier, frontend-lint

FROM feat/608-input-textarea-desc TO development (#629)
  .plans/textarea-description-fields/SPEC.md
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ArgsSchemaBuilder.tsx
  package-lock.json
Due: frontend-prettier, frontend-lint

init feat/514-add-context-to-input
  Changelog.md
Due: none

Can add context
  .plans/text-selection-annotation/SPEC.md
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/popovers/TextSelectionPopover.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useTextSelection.ts
Due: frontend-prettier, frontend-lint

Worktree command
  .claude/agents/blog-writer.md
  .claude/commands/worktree.md
Due: none

init feat/560-ctrl-click-thread-sidebar
  Changelog.md
Due: none

FROM feat/514-add-context-to-input TO development (#630)
  .plans/text-selection-annotation/SPEC.md
  Changelog.md
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/popovers/TextSelectionPopover.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useTextSelection.ts
Due: frontend-prettier, frontend-lint

g2g
  .plans/ctrl-click-thread-sidebar/SPEC.md
  frontend/src/components/drawers/app-sidebar.tsx
Due: frontend-prettier, frontend-lint

FROM feat/560-ctrl-click-thread-sidebar TO development (#631)
  .plans/ctrl-click-thread-sidebar/SPEC.md
  Changelog.md
  frontend/src/components/drawers/app-sidebar.tsx
Due: frontend-prettier, frontend-lint

Update changelog
  Changelog.md
Due: none

Updalte chagenog
  Changelog.md
Due: none

Updates for CLI
  .claude/commands/plan.md
  .claude/hooks/notify_slack.py
  .plans/cli-auth/SPEC.md
  .plans/cli-chat/PROPOSAL_1.md
  .plans/cli-chat/PROPOSAL_2.md
  .plans/cli-chat/PROPOSAL_3.md
  .plans/cli-chat/PROPOSAL_ALPHA.md
  .plans/cli-chat/PROPOSAL_BETA.md
  .plans/cli-chat/PROPOSAL_GAMMA.md
  .plans/cli-chat/REVIEW.md
  .plans/cli-chat/TASKS.md
  backend/src/constants/examples/__init__.py
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/assistant.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/messages.py
  backend/src/utils/stream.py
Due: backend-format

Add publish cli to plans
  .plans/cli-publish/PROPOSAL_1.md
  .plans/cli-publish/PROPOSAL_2.md
  .plans/cli-publish/PROPOSAL_3.md
  .plans/cli-publish/REVIEW.md
Due: none

Fix apiKey prefix
  .plans/cli-auth/SPEC.md
  backend/src/utils/auth.py
  backend/tests/integration/test_api_tokens.py
Due: backend-format

fix: API tokens disappear from UI after page refresh
  frontend/src/components/settings/ApiTokensSettings.tsx
Due: frontend-prettier, frontend-lint

fix: API tokens disappear from UI after page refresh (#639)
  frontend/src/components/settings/ApiTokensSettings.tsx
Due: frontend-prettier, frontend-lint

Forgot the confirmation
  frontend/src/components/settings/ApiTokensSettings.tsx
Due: frontend-prettier, frontend-lint

init
  Changelog.md
Due: none

UPdate submodule path
  .gitmodules
Due: none

Update submodules
  .gitmodules
Due: none

Remove unused folder
  backend/.example.env
  docker-compose.yml
  docker/postgres/servers.json
Due: backend-format

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
