Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

FROM feat/446-configure-schedule-via-assistant-id TO development (#569)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/constants/llm.py
  backend/src/contexts/service.py
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/llm.py
  backend/src/schemas/entities/schedule.py
  backend/src/services/assistant.py
  backend/src/services/llm.py
  backend/src/services/schedule.py
  backend/src/services/tool.py
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Update changelog
  Changelog.md
Due: none

Should protect against no system prompt
  Changelog.md
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/services/llm.py
  backend/src/services/prompt/optimize.py
  backend/src/utils/format.py
  backend/src/utils/middleware.py
  backend/tests/unit/services/prompt/test_optimize.py
Due: backend-format

Fix model not found issue
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/services/prompt/optimize.py
  backend/src/utils/middleware.py
  backend/tests/unit/services/prompt/test_optimize.py
Due: backend-format

Fix chat models
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/services/prompt/optimize.py
  backend/src/utils/middleware.py
  backend/tests/unit/services/prompt/test_optimize.py
Due: backend-format

Should fix
  backend/src/constants/llm.py
Due: backend-format

Woopsy
  backend/src/constants/llm.py
Due: backend-format

Better defaults
  backend/src/constants/llm.py
  backend/src/utils/middleware.py
Due: backend-format

Fix, hopefully
  backend/src/routes/v0/llm.py
  backend/src/services/prompt/optimize.py
  backend/tests/unit/services/prompt/test_optimize.py
Due: backend-format

FROM bug/570-undefined-agent TO development (#571)
  Changelog.md
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/services/llm.py
  backend/src/services/prompt/optimize.py
  backend/src/utils/format.py
  backend/src/utils/middleware.py
  backend/tests/unit/services/prompt/test_optimize.py
Due: backend-format

This builds, has issues with env vars
  backend/.dockerignore
  backend/Dockerfile
  backend/migrations/versions/0002_add_user_threads.py
  backend/migrations/versions/0003_add_tokens_table.py
  backend/migrations/versions/0004_add_settings_table.py
  backend/migrations/versions/0005_add_user_id_to_settings.py
  backend/migrations/versions/0006_add_agents_table.py
  backend/migrations/versions/0007_add_revisions_table.py
  backend/migrations/versions/0008_rename_user_threads.py
  backend/migrations/versions/0009_add_servers_table.py
  backend/migrations/versions/0010_add_tools_table.py
  backend/src/routes/v0/__init__.py
  docker-compose.yml
Due: backend-format

init
  .gitignore
  Changelog.md
  backend/.dockerignore
  backend/scripts/db.sh
Due: backend-format

Fixes most breaks
  .gitignore
  backend/.dockerignore
  backend/.example.env
  backend/migrations/env.py
  backend/migrations/versions/0000_init.py
  backend/migrations/versions/0001_add_tokens_table.py
  backend/migrations/versions/0001_change_id_to_uuid.py
  backend/migrations/versions/0002_add_user_threads.py
  backend/migrations/versions/0004_add_settings_table.py
  backend/migrations/versions/0005_add_user_id_to_settings.py
  backend/migrations/versions/0006_add_agents_table.py
  backend/migrations/versions/0007_add_revisions_table.py
  backend/migrations/versions/0008_rename_user_threads.py
  backend/migrations/versions/0009_add_servers_table.py
  backend/migrations/versions/0010_add_tools_table.py
  backend/scripts/seed.sh
  backend/src/constants/__init__.py
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/repos/thread_repo.py
  backend/src/repos/user_repo.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/models/__init__.py
  backend/src/schemas/models/agent.py
  backend/src/schemas/models/setting.py
  backend/src/schemas/models/thread.py
  backend/src/schemas/models/tool.py
  backend/src/services/db.py
  backend/src/services/llm.py
  frontend/src/components/lists/ChatMessages.tsx
Due: backend-format, frontend-prettier, frontend-lint

Appears to bundle everything coorrectly
  .dockerignore
  .github/workflows/build.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/README.md
  backend/pyproject.toml
  backend/scripts/docs.sh
  backend/src/schemas/entities/llm.py
  docker-compose.yml
  docker/README.md
  frontend/package.json
Due: backend-format, frontend-prettier, frontend-lint

Should be ready for primetime
  .dockerignore
  .github/workflows/build.yml
  README.md
  backend/Dockerfile
  backend/README.md
  backend/scripts/build.sh
  backend/src/constants/__init__.py
  backend/src/constants/examples/__init__.py
  backend/src/constants/llm.py
  backend/src/contexts/service.py
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/repos/thread_repo.py
  backend/src/repos/tool_repo.py
  backend/src/repos/user_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
  backend/src/routes/v0/tool/invoke.py
  backend/src/schemas/contexts/__init__.py
  backend/src/schemas/entities/schedule.py
  backend/src/schemas/entities/store.py
  backend/src/services/checkpoint.py
  backend/src/services/llm.py
  backend/src/services/schedule.py
  backend/src/services/thread.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/api.py
  backend/src/tools/code.py
  backend/src/tools/finance/news.py
  backend/src/utils/format.py
  backend/src/utils/middleware.py
  backend/src/utils/pandas.py
  backend/src/utils/stream.py
  backend/tests/integration/test_tool_invoke.py
  docker-compose.yml
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/tools/Default.tsx
Due: backend-format, frontend-prettier, frontend-lint

update readme
  README.md
Due: none

UPdate changelog
  Changelog.md
Due: none

update changelog
  Changelog.md
Due: none

Allow build
  .github/workflows/build.yml
Due: none

Fix deploy
  .github/workflows/deploy-docker.yml
Due: none

Should allow push
  .github/workflows/build.yml
  .github/workflows/deploy-docker.yml
Due: none

Slim-bookworM
  backend/Dockerfile
  backend/LICENSE
Due: backend-format

ChainGuard Image
  backend/Dockerfile
Due: backend-format

Async web_scrape
  backend/Dockerfile
  backend/README.md
  backend/pyproject.toml
  backend/src/tools/search.py
  backend/uv.lock
Due: backend-format

feat: remove web_search toggle from BaseToolMenu
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

Hide the default tools from BaseToolMenu
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  package-lock.json
  package.json
Due: frontend-prettier, frontend-lint

init
  Changelog.md
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

Fixes build on docs
  backend/.dockerignore
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
Due: backend-format, frontend-prettier, frontend-lint

don't need this build step
  frontend/package.json
Due: frontend-prettier, frontend-lint

FROM bug/575-api-docs-not-showing-in-docker TO development (#579)
  Changelog.md
  backend/.dockerignore
  frontend/package.json
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
Due: backend-format, frontend-prettier, frontend-lint

Few edits
  frontend/src/components/popovers/SettingsPopover.tsx
Due: frontend-prettier, frontend-lint

Fixes popover
  frontend/src/components/popovers/SettingsPopover.tsx
Due: frontend-prettier, frontend-lint

init
  Changelog.md
Due: none

Fix TTFT metrics implementation
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Track TTFT from submit to first response including tool calls
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Ensure TTFT always displays in loading message
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Show only TTFT in loading message, keep rate in message display
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Can use api tokens
  backend/migrations/env.py
  backend/src/repos/api_token_repo.py
  backend/src/repos/base_repo.py
  backend/src/repos/user_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/api_tokens.py
  backend/src/routes/v0/token.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/auth.py
  backend/src/schemas/models/__init__.py
  backend/src/schemas/models/auth.py
  backend/src/services/db.py
  backend/src/utils/auth.py
  backend/tests/integration/test_api_tokens.py
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/settings/ApiTokensSettings.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/settings/index.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
