Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

init feat/336-add-human-in-the-loop
  Changelog.md
Due: none

feat(hitl): Add Human-In-The-Loop support for agent tool approval (#336)
  .claude/specs/feat-336-human-in-the-loop/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-336-human-in-the-loop/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-336-human-in-the-loop/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-336-human-in-the-loop/PROPOSAL_INTEGRATOR.md
  .claude/specs/feat-336-human-in-the-loop/PROPOSAL_OPTIMIZER.md
  .claude/specs/feat-336-human-in-the-loop/REVIEW.md
  .claude/specs/feat-336-human-in-the-loop/TASKS.md
  .claude/specs/feat-336-human-in-the-loop/USER_STORIES.md
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/interrupt.py
  backend/src/schemas/entities/llm.py
  backend/src/services/interrupt.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/InterruptApprovalDialog.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useInterrupt.ts
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/interrupt.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

throwaway #1
  .claude/specs/resolve-graph-interrupt-error/COUNCIL_REVIEW.md
  .claude/specs/resolve-graph-interrupt-error/PROPOSAL_ARCHITECT.md
  .claude/specs/resolve-graph-interrupt-error/PROPOSAL_CRAFTSMAN.md
  .claude/specs/resolve-graph-interrupt-error/PROPOSAL_GUARDIAN.md
  .claude/specs/resolve-graph-interrupt-error/TASKS.md
  backend/src/controllers/llm.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/interrupt.py
  backend/src/schemas/entities/llm.py
  backend/src/services/interrupt.py
  backend/src/services/llm.py
  backend/src/utils/middleware.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
  backend/src/workers/tasks.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/InterruptApprovalDialog.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useInterrupt.ts
  frontend/src/hooks/useProject.ts
  frontend/src/lib/entities/interrupt.ts
  frontend/src/lib/entities/stream.ts
  frontend/src/lib/services/shareService.ts
  frontend/src/lib/utils/fetchStreamReader.ts
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/share/SharedThreadPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

Ralph Loop #1
  .claude/skills/prd/SKILL.md
  .claude/skills/ralph/SKILL.md
  .gitmodules
  .ralph/.iteration
  .ralph/activity.log
  .ralph/errors.log
  .ralph/guardrails.md
  .ralph/progress.md
  tasks/prd-human-in-the-loop-api.md
Due: none

feat: US-001 - Create HITL Pydantic Schemas
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/hitl.py
Due: backend-format

feat: US-002 - Implement Interrupt Detection in CheckpointService
  backend/src/services/checkpoint.py
Due: backend-format

feat: US-003 - Implement Resume with Decision in CheckpointService
  backend/src/services/checkpoint.py
Due: backend-format

feat: US-004 - Create GET Interrupts Endpoint
  backend/src/routes/v0/thread.py
Due: backend-format

feat: US-005 - Create POST Resume Endpoint
  backend/src/routes/v0/thread.py
Due: backend-format

feat: US-006 - Unit Tests for HITL Schemas
  backend/src/schemas/entities/hitl.py
  backend/tests/unit/schemas/__init__.py
  backend/tests/unit/schemas/test_hitl_schemas.py
Due: backend-format

feat: US-007 - Unit Tests for CheckpointService HITL Methods
  backend/tests/unit/services/test_checkpoint_hitl.py
Due: backend-format

feat: US-008 - Unit Tests for HITL Route Endpoints
  backend/tests/unit/routes/__init__.py
  backend/tests/unit/routes/test_thread_hitl.py
Due: backend-format

ralph folder
  .gitmodules
Due: none

init
  Changelog.md
Due: none

docs(prd): Add PRD for LLM streaming endpoint simplification
  tasks/prd-simplify-llm-stream.md
Due: none

loop init
  .gitignore
  RALPH_TASK.md
  tasks/prd-simplify-llm-stream.md
Due: none

loop init: add curl validation mention
  tasks/prd-simplify-llm-stream.md
Due: none

feat: US-001 - Extract StreamingService Layer
  backend/src/controllers/llm.py
  backend/src/services/streaming.py
  backend/src/utils/stream.py
Due: backend-format

feat: US-002 - Create Explicit Event Model
  backend/src/schemas/events/__init__.py
  backend/src/schemas/events/stream.py
Due: backend-format

feat: US-003 - Extract Stream Formatter
  backend/src/utils/stream.py
  backend/src/utils/stream_formatter.py
  backend/tests/integration/test_agent_stream.py
  backend/tests/unit/utils/test_handle_multi_mode.py
Due: backend-format

feat: US-004 - Refactor stream_generator with Clear Lifecycle
  backend/src/utils/stream.py
Due: backend-format

feat: US-005 - Add Explicit Cancellation Handling
  backend/src/controllers/llm.py
  backend/src/routes/v0/llm.py
  backend/src/utils/stream.py
Due: backend-format

feat: US-006 - Separate Distributed Mode Endpoint
  backend/src/routes/v0/llm.py
  backend/tests/integration/test_distributed_stream.py
  backend/tests/integration/test_llm_routes.py
  backend/tests/integration/test_multi_turn_distributed.py
Due: backend-format

feat: US-007 - Consolidate Redis Stream Consumer
  backend/src/services/streaming.py
  backend/src/utils/stream.py
  backend/tests/unit/workers/test_stream_consumer.py
Due: backend-format

feat: US-008 - Unit Tests for StreamingService
  backend/tests/unit/services/test_streaming_service.py
Due: backend-format

feat: US-009 - Unit Tests for StreamFormatter
  backend/tests/unit/utils/test_handle_multi_mode.py
  backend/tests/unit/utils/test_stream_formatter.py
Due: backend-format

feat: US-010 - Integration Tests for Stream Endpoints
  backend/tests/integration/test_llm_stream.py
Due: backend-format

feat: US-011 - Integration Tests for Distributed Stream
  backend/tests/integration/test_distributed_stream.py
Due: backend-format

Note TODO
  backend/src/schemas/entities/llm.py
Due: backend-format

spec init
  .claude/skills/dev-browser/SKILL.md
  .claude/skills/dev-browser/bun.lock
  .claude/skills/dev-browser/package-lock.json
  .claude/skills/dev-browser/package.json
  .claude/skills/dev-browser/references/scraping.md
  .claude/skills/dev-browser/scripts/start-relay.ts
  .claude/skills/dev-browser/scripts/start-server.ts
  .claude/skills/dev-browser/server.sh
  .claude/skills/dev-browser/src/client.ts
  .claude/skills/dev-browser/src/index.ts
  .claude/skills/dev-browser/src/relay.ts
  .claude/skills/dev-browser/src/snapshot/__tests__/snapshot.test.ts
  .claude/skills/dev-browser/src/snapshot/browser-script.ts
  .claude/skills/dev-browser/src/snapshot/index.ts
  .claude/skills/dev-browser/src/snapshot/inject.ts
  .claude/skills/dev-browser/src/types.ts
  .claude/skills/dev-browser/tsconfig.json
  .claude/skills/dev-browser/vitest.config.ts
  .claude/specs/file-system-frontend-alignment/PROPOSAL_ARCHITECT.md
  .claude/specs/file-system-frontend-alignment/PROPOSAL_CRAFTSMAN.md
  .claude/specs/file-system-frontend-alignment/PROPOSAL_GUARDIAN.md
  .claude/specs/file-system-frontend-alignment/REVIEW.md
  .claude/specs/file-system-frontend-alignment/TASKS.md
  tasks/prd-frontend-file-system-alignment.md
Due: none

Fix bugs from stream
  backend/src/schemas/entities/llm.py
  backend/src/services/checkpoint.py
  backend/src/utils/stream.py
  tasks/prd-distributed-mode-default.md
Due: backend-format

Add files via upload
  examples/agents/RLM.ipynb
Due: none

Delete examples/agents/RLM.ipynb
  examples/agents/RLM.ipynb
Due: none

Working with transaction mode
  backend/src/constants/__init__.py
  backend/src/services/db.py
Due: backend-format

This should fix supabase config
  backend/src/constants/__init__.py
  backend/src/services/db.py
Due: backend-format

Fix the ssl mode failing by removing the create_engine to create_async_engine
  backend/migrations/env.py
  backend/seeds/user_seeder.py
  backend/src/services/db.py
  backend/tests/conftest.py
Due: backend-format

This appeears to be more stable
  .claude/specs/supabase-langgraph-checkpoint-stability/PROPOSAL_ARCHITECT.md
  .claude/specs/supabase-langgraph-checkpoint-stability/PROPOSAL_CRAFTSMAN.md
  .claude/specs/supabase-langgraph-checkpoint-stability/PROPOSAL_GUARDIAN.md
  .claude/specs/supabase-langgraph-checkpoint-stability/REVIEW.md
  .claude/specs/supabase-langgraph-checkpoint-stability/TASKS.md
  backend/src/constants/__init__.py
  backend/src/constants/llm.py
  backend/src/services/checkpoint.py
  backend/src/services/checkpoint_resilient.py
  backend/src/services/db.py
  backend/src/services/errors.py
  backend/src/utils/retry.py
  backend/src/workers/broker.py
  backend/src/workers/state.py
  backend/src/workers/tasks.py
  backend/tests/unit/services/test_checkpoint_resilient.py
Due: backend-format

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
