Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

feat: US-020 - Frontend heartbeat React hook
  frontend/src/hooks/useHeartbeat.ts
Due: frontend-prettier, frontend-lint

feat: US-021 - Heartbeat dashboard section on Schedules page
  frontend/src/components/heartbeat/HeartbeatSection.tsx
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-022 - Heartbeat badge and collapse in chat messages
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

feat: US-023 - Frontend heartbeat component tests
  frontend/src/tests/heartbeat/HeartbeatSection.test.tsx
Due: frontend-prettier, frontend-lint

feat: US-025 - E2E validation of full heartbeat feature flow
  .ralph/prd.json
  .ralph/progress.txt
  specs/screenshots/chat-schedule-create.png
  specs/screenshots/schedules-heartbeat-active.png
  specs/screenshots/schedules-heartbeat-activity.png
  specs/screenshots/schedules-heartbeat-collapsed.png
  specs/screenshots/schedules-heartbeat-expanded.png
  specs/screenshots/schedules-heartbeat-mobile.png
  specs/screenshots/schedules-heartbeat-recent-activity.png
  specs/screenshots/schedules-heartbeat-timeline.png
  specs/screenshots/schedules-page.png
Due: none

feat: US-026 - Push changes and submit draft PR
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Fix react joyride
  .claude/plans/woolly-rolling-panda.md
  frontend/src/components/buttons/HelpButton.tsx
  frontend/src/components/modals/ToolSelectionModal/SubagentsPanel.tsx
  frontend/src/components/tooltips/JoyrideTooltip.tsx
  frontend/src/context/OnboardingContext.tsx
  frontend/src/layouts/chat-layout-v2.tsx
  specs/001-dependency-separation.md
  specs/002-shared-code-extraction.md
  specs/003-multi-target-dockerfile.md
  specs/004-cicd-updates.md
  specs/005-test-benchmark-environment.md
  specs/chat-page.png
  specs/thread-page.png
Due: frontend-prettier, frontend-lint

Dont reload monaco edit thread slect, update ci to clean up containers after deploy
  .claude/plans/parallel-squishing-dolphin.md
  .claude/plans/twinkly-puzzling-pnueli.md
  .github/workflows/build.yml
  .github/workflows/deploy-docker.yml
  frontend/src/components/tools/Default.tsx
  specs/monaco-load.png
Due: frontend-prettier, frontend-lint

docs: add architecture plans for agent marketplace and workflow engine
  .claude/plans/recursive-dancing-lighthouse.md
  .claude/plans/serene-snacking-crayon.md
Due: none

Before the loop
  .ralph/archive/2026-03-16-feat/866-heartbeat/prd.json
  .ralph/archive/2026-03-16-feat/866-heartbeat/progress.txt
  specs/.gitkeep
  specs/README.md
  specs/monaco-load.png
  specs/phase-1-fork-remix/SPEC.md
  specs/phase-1-fork-remix/prd.json
  specs/phase-2-discovery/SPEC.md
  specs/phase-2-discovery/prd.json
  specs/phase-3-embed-widget/SPEC.md
  specs/phase-3-embed-widget/prd.json
  specs/phase-4-memory-distillation/SPEC.md
  specs/phase-4-memory-distillation/prd.json
  tasks/prd-agent-marketplace.md
Due: none

feat: US-001 - Add fork_count field to Assistant schema
  backend/src/schemas/entities/llm.py
Due: backend-format

feat: US-002 - Implement AssistantService.fork() method
  backend/src/services/assistant.py
Due: backend-format

feat: US-003 - Add POST /assistants/public/{assistant_id}/fork endpoint
  backend/src/routes/v0/assistant.py
Due: backend-format

feat: US-004 - Add fork() method to AgentService and Remix button
  frontend/src/components/sections/agent-section.tsx
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/public.tsx
Due: frontend-prettier, frontend-lint

feat: US-005 - Post-login auto-fork flow for remix agents
  frontend/src/pages/Login.tsx
  frontend/src/pages/OAuthCallback.tsx
  frontend/src/pages/Register.tsx
Due: frontend-prettier, frontend-lint

feat: US-006 - Show fork_count badge and Remixed from attribution
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-007 - Unit tests for fork functionality
  backend/tests/unit/services/test_assistant_service.py
Due: backend-format

feat: US-008 - Add tags field and sort/filter params to public search
  backend/src/routes/v0/assistant.py
  backend/src/schemas/entities/llm.py
  backend/src/services/assistant.py
Due: backend-format

feat: US-009 - Discover tab with sorting, tags, and Remix button
  frontend/src/hooks/useAgent.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/index.tsx
  frontend/src/tests/hooks/useAgent.test.ts
Due: frontend-prettier, frontend-lint

docs: Update PRD and progress for US-009 completion
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-010 - Tag editing in assistant editor
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

docs: Update PRD and progress for US-010 completion
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-011 - Embed config and token endpoints
  backend/src/routes/v0/assistant.py
  backend/src/utils/embed.py
Due: backend-format

docs: Update PRD and progress for US-011 completion
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-012 - Embed chat streaming endpoint with rate limiting
  backend/src/routes/v0/assistant.py
  backend/src/utils/embed.py
Due: backend-format

docs: Update PRD and progress for US-012 completion
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-013a - Vite embed build config and entry point scaffold
  .ralph/prd.json
  .ralph/progress.txt
  frontend/package.json
  frontend/src/embed/EmbedWidget.tsx
  frontend/src/embed/main.tsx
  frontend/tsconfig.node.json
  frontend/vite.embed.config.ts
Due: frontend-prettier, frontend-lint

feat: US-013b - Embed widget UI — floating button, chat panel, streaming, footer
  frontend/src/embed/EmbedWidget.tsx
  frontend/src/embed/main.tsx
Due: frontend-prettier, frontend-lint

docs: Update PRD and progress for US-013b completion
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-014 - Embed code snippet in agent editor
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

feat: US-015a - Trajectory extraction TaskIQ task
  backend/src/workers/__init__.py
  backend/src/workers/tasks.py
Due: backend-format

feat: US-015b - Hook _persist_final_state to dispatch trajectory extraction
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
Due: backend-format

feat: US-016 - PromptOptimizer.distill() and auto-apply
  backend/src/services/prompt/optimize.py
Due: backend-format

feat: US-017a - Scheduled daily distillation job
  backend/main.py
  backend/src/services/schedule.py
Due: backend-format

feat: US-017b - POST /assistants/{id}/distill manual trigger endpoint
  backend/src/routes/v0/assistant.py
Due: backend-format

feat: US-018a - Tests for embed endpoints (config, token, chat, rate limit)
  backend/tests/unit/utils/test_embed.py
Due: backend-format

feat: US-018b - Tests for distillation pipeline (trajectory extraction, distill)
  backend/tests/unit/services/prompt/test_distill.py
Due: backend-format

feat: embed widget improvements and route updates for agent marketplace
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/routes/v0/__init__.py
  frontend/public/embed/embed.js
  frontend/src/embed/EmbedWidget.tsx
  frontend/src/embed/main.tsx
  frontend/vite.embed.config.ts
Due: backend-format, frontend-prettier, frontend-lint

refactor: add integration-qa and ralph-auditor agents, update skills and commands
  .claude/agents/code-review.md
  .claude/agents/integration-qa.md
  .claude/agents/ralph-auditor.md
  .claude/commands/README.md
  .claude/commands/ralph/qa.md
  .claude/commands/ralph/ticket.md
  .claude/skills/agent-browser/SKILL.md
  .claude/skills/feature-dev/SKILL.md
  .claude/skills/prd/SKILL.md
  .claude/skills/ralph/SKILL.md
Due: none

Add radical innovation prompt to Claude
  .claude/prompts/radical-innovate
Due: none
