Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

sublte tweaks
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/contexts/__init__.py
  backend/src/tools/__init__.py
  backend/src/tools/test.py
Due: backend-format

inti
  Changelog.md
  backend/src/repos/user_repo.py
  backend/src/routes/v0/auth.py
  backend/src/tools/search.py
Due: backend-format

Mem seem to be good
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/services/checkpoint.py
  backend/src/services/db.py
  backend/src/services/store.py
  backend/src/services/thread.py
  backend/src/tools/__init__.py
  backend/src/tools/api.py
  backend/src/tools/test.py
  backend/src/utils/stream.py
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/lists/ChatMessages.tsx
Due: backend-format, frontend-prettier, frontend-lint

not saving the model now
  backend/src/routes/v0/llm.py
  frontend/src/components/lists/ChatMessages.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fix id issue in chatmessages
  backend/src/tools/search.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/tools/Default.tsx
  frontend/src/hooks/useChatHook.ts
  frontend/src/layouts/ChatLayout.tsx
Due: backend-format, frontend-prettier, frontend-lint

AbortController fixed
  backend/src/tools/__init__.py
  backend/src/tools/test.py
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useChatHook.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Fixes build errors
  frontend/src/components/FileEditor/file-editor.tsx
  frontend/src/components/ServerConstruct/ConfigCard.tsx
  frontend/src/components/ServerConstruct/ConfigGrid.tsx
  frontend/src/components/ServerConstruct/ServerForm.tsx
  frontend/src/components/ToolSelector/A2AEditor.tsx
  frontend/src/context/ThemeContext.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useChatHook.ts
  frontend/src/lib/services/threadService.ts
Due: frontend-prettier, frontend-lint

Try once more
  backend/migrations/versions/0011_add_updated_at_to_threads.py
  docker-compose.yml
Due: backend-format

install for pipeline
  .github/workflows/build.yml
Due: none

Need to run with uv
  .github/workflows/build.yml
Due: none

Fixes main screen
  backend/src/tools/test.py
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

needs a diet
  backend/src/utils/stream.py
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

Removed most
  .cursorignore
  .cursorindexingignore
  .dockerignore
  deployment/files/.example.env
  deployment/files/.example.env.slack
  deployment/files/README.md
  deployment/files/docker-compose.yml
  deployment/files/docker/pgadmin/servers.json
  deployment/files/docker/postgres/init-db.sh
  deployment/files/scripts/update.sh
  deployment/terraform/digitalocean/README.md
  deployment/terraform/digitalocean/deploy.sh
  deployment/terraform/digitalocean/destroy.sh
  deployment/terraform/digitalocean/main.tf
  deployment/zips/graphchat.zip
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/hooks/useToolContext.ts
  frontend/src/lib/services/ragService.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

Fixes most of issues
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/popovers/PresetPopover.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/layouts/AuthLayout.tsx
  frontend/src/layouts/ChatLayout.tsx
  frontend/src/layouts/FullScreenLayout.tsx
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/layouts/TwoColumnLayout.tsx
  frontend/src/pages/Chat.tsx
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/styles/globals.css
Due: frontend-prettier, frontend-lint

single fix for npm buld
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

Should remove the console from mobile debug
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/hooks/useAppHook.ts
  frontend/src/lib/config/index.ts
  frontend/src/lib/config/instruction.ts
  frontend/vite.config.ts
Due: frontend-prettier, frontend-lint

Cleans up UI. Allows for closing of drawer
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/hooks/useAppHook.ts
  frontend/src/pages/Chat.tsx
Due: frontend-prettier, frontend-lint

AudioRecord facelift
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/inputs/ChatInput.tsx
Due: frontend-prettier, frontend-lint

Fixes code blocks
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

lot more coupled chat
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/pages/Chat.tsx
Due: frontend-prettier, frontend-lint

Fix build
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.tsx
Due: frontend-prettier, frontend-lint

Fixes spinner
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Allows select GPT models
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/Chat.tsx
Due: frontend-prettier, frontend-lint

Fies tool bg
  backend/src/tools/test.py
  frontend/src/components/lists/ChatMessages.tsx
Due: backend-format, frontend-prettier, frontend-lint

init
  Changelog.md
Due: none

Update icons
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Will fetch checkpoints for current thread
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useChatHook.ts
  frontend/src/hooks/useThread.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Login.tsx
Due: frontend-prettier, frontend-lint

Merge this and fix scope
  backend/src/repos/user_repo.py
  backend/src/routes/v0/auth.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/contexts/__init__.py
  backend/src/tools/test.py
Due: backend-format

FROM feat/367-checkpointing TO development (#368)
  Changelog.md
  backend/src/repos/user_repo.py
  backend/src/routes/v0/auth.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/contexts/__init__.py
  backend/src/tools/test.py
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useChatHook.ts
  frontend/src/hooks/useThread.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Login.tsx
Due: backend-format, frontend-prettier, frontend-lint

Separated user threads
  backend/src/flows/__init__.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/checkpoint.py
  backend/src/services/thread.py
  frontend/src/hooks/useThread.ts
Due: backend-format, frontend-prettier, frontend-lint

init
  Changelog.md
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/utils/logger.py
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useStream.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Fetches checkpoint list for latest
  backend/src/services/checkpoint.py
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

not fixd yet but want these changes
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

Add eruda
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/hooks/useAppHook.ts
  frontend/vite.config.ts
Due: frontend-prettier, frontend-lint

fix
  frontend/src/App.tsx
Due: frontend-prettier, frontend-lint

fix2
  frontend/src/hooks/useAppHook.ts
Due: frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
