Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

NEed to test but should work
  backend/src/constants/examples/__init__.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/format.py
  backend/src/utils/stream.py
Due: backend-format

Handles skeleton AND instructions
  backend/src/schemas/entities/llm.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/lists/ChatMessagesSkeleton.tsx
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/prompt.ts
  frontend/src/lib/entities/schedule.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/threads/ThreadPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/525-pass-instructions TO development (#542)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/format.py
  backend/src/utils/stream.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/lists/ChatMessagesSkeleton.tsx
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/prompt.ts
  frontend/src/lib/entities/schedule.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/threads/ThreadPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

move pages
  Changelog.md
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
Due: frontend-prettier, frontend-lint

Fix build
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/pages/agents/create.tsx
Due: frontend-prettier, frontend-lint

FROM feat/543-relocate-agent-pages TO development (#544)
  Changelog.md
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
Due: frontend-prettier, frontend-lint

init
  Changelog.md
Due: none

g2g
  backend/src/repos/thread_repo.py
  backend/src/utils/stream.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useThread.ts
  frontend/src/pages/agents/edit.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fix build
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/pages/agents/edit.tsx
Due: frontend-prettier, frontend-lint

Much better routing
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/modals/ThreadSearchModal.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/main.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/threads/ThreadPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

Fix build
  frontend/src/main.tsx
Due: frontend-prettier, frontend-lint

Clean routings
  frontend/src/pages/agents/index.tsx
Due: frontend-prettier, frontend-lint

FROM feat/545-agent-threads-to-sidebar TO development (#546)
  Changelog.md
  backend/src/repos/thread_repo.py
  backend/src/utils/stream.py
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/ThreadSearchModal.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useThread.ts
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/threads/ThreadPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

UPdate change log for release
  Changelog.md
Due: none

fix navi
  frontend/src/pages/agents/index.tsx
Due: frontend-prettier, frontend-lint

Init
  Changelog.md
Due: none

Cleanup
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/pages/agents/create.tsx
Due: frontend-prettier, frontend-lint

Fix build
  frontend/src/pages/agents/create.tsx
Due: frontend-prettier, frontend-lint

update changelOg
  Changelog.md
Due: none

get_market_summary, get_earnings_history
  backend/.dockerignore
  backend/src/tools/finance.py
  examples/tools/yfinance.ipynb
Due: backend-format

Macro tools added
  backend/src/tools/finance.py
  backend/src/tools/finance/__init__.py
  backend/src/tools/finance/earnings.py
  backend/src/tools/finance/macro/__init__.py
  backend/src/tools/finance/news.py
  backend/src/tools/finance/price.py
  backend/src/utils/pandas.py
Due: backend-format

g2g for now
  backend/pyproject.toml
  backend/src/routes/v0/llm.py
  backend/src/tools/finance/earnings.py
  backend/src/tools/finance/news.py
  backend/src/tools/finance/price.py
  backend/src/utils/pandas.py
  backend/uv.lock
Due: backend-format

Cleans up SelectModel
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/thread.tsx
Due: frontend-prettier, frontend-lint

Loads models to assistant pages
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/thread.tsx
Due: frontend-prettier, frontend-lint

FROM feat/547-more-stock-tools TO development (#548)
  Changelog.md
  backend/.dockerignore
  backend/pyproject.toml
  backend/src/routes/v0/llm.py
  backend/src/tools/finance/__init__.py
  backend/src/tools/finance/earnings.py
  backend/src/tools/finance/macro/__init__.py
  backend/src/tools/finance/news.py
  backend/src/tools/finance/price.py
  backend/src/utils/pandas.py
  backend/uv.lock
  examples/tools/yfinance.ipynb
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/thread.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fixes build
  backend/.dockerignore
  docker-compose.yml
Due: backend-format

I mean... seems to work but def is a bit brittle
  backend/src/constants/examples/__init__.py
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/services/tool.py
  backend/src/utils/api.py
  backend/src/utils/format.py
  backend/src/utils/tools.py
Due: backend-format

This is g2g
  backend/src/constants/examples/__init__.py
Due: backend-format

FROM feat/479-api-as-a-tool TO development (#549)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/services/tool.py
  backend/src/utils/api.py
  backend/src/utils/format.py
  backend/src/utils/tools.py
Due: backend-format

This is good for start of UI
  Changelog.md
  backend/src/repos/tool_repo.py
  examples/tools/api_as_tool.ipynb
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/CustomToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ArgsSchemaBuilder.tsx
  frontend/src/components/modals/ToolSelectionModal/components/HeadersEditor.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useCustomTools.ts
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/hooks/useToolHook.ts
  frontend/src/lib/reducers/toolReducer.ts
  frontend/src/lib/services/toolService.ts
  frontend/src/tests/services/toolService.test.ts
Due: backend-format, frontend-prettier, frontend-lint

Would count this as progress. Need some fixes on the args_schema
  backend/src/repos/tool_repo.py
  frontend/src/lib/services/toolService.ts
Due: backend-format, frontend-prettier, frontend-lint

Fixes the mobile tool select close, and clarifies tool save modal
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/CustomToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/components/HeadersEditor.tsx
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
  frontend/src/components/ui/dialog.tsx
Due: frontend-prettier, frontend-lint

Fix schema builder
  frontend/src/components/modals/ToolSelectionModal/components/ArgsSchemaBuilder.tsx
Due: frontend-prettier, frontend-lint

Fix broken tests
  backend/src/schemas/entities/llm.py
  backend/tests/unit/repos/test_tool_repo.py
  backend/tests/unit/services/test_tool_service.py
Due: backend-format

Fix tests
  backend/src/schemas/entities/llm.py
  backend/tests/unit/repos/test_tool_repo.py
  backend/tests/unit/services/test_tool_service.py
Due: backend-format

FROM feat/550-create-tools-ui TO development (#551)
  Changelog.md
  backend/src/repos/tool_repo.py
  examples/tools/api_as_tool.ipynb
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/CustomToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ArgsSchemaBuilder.tsx
  frontend/src/components/modals/ToolSelectionModal/components/HeadersEditor.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useCustomTools.ts
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/hooks/useToolHook.ts
  frontend/src/lib/reducers/toolReducer.ts
  frontend/src/lib/services/toolService.ts
  frontend/src/tests/services/toolService.test.ts
Due: backend-format, frontend-prettier, frontend-lint

Linting
  backend/src/constants/examples/__init__.py
  backend/src/repos/base_repo.py
  backend/src/repos/project_repo.py
  backend/src/repos/thread_repo.py
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/services/checkpoint.py
  backend/src/services/thread.py
  backend/src/tools/api.py
  backend/src/tools/base/reasoning.py
  backend/src/tools/finance/__init__.py
  backend/src/tools/finance/earnings.py
  backend/src/tools/finance/macro/__init__.py
  backend/src/tools/finance/news.py
  backend/src/tools/finance/price.py
  backend/src/tools/math.py
  backend/src/tools/search.py
  backend/src/utils/api.py
  backend/src/utils/format.py
  backend/src/utils/messages.py
  backend/src/utils/pandas.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/unit/services/test_project_service.py
  backend/tests/unit/services/test_source_service.py
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/threads/ThreadPage.tsx
  package-lock.json
  package.json
Due: backend-format, frontend-prettier, frontend-lint

Update resasoning tools
  backend/src/tools/base/reasoning.py
  backend/src/tools/finance/macro/__init__.py
  backend/src/tools/finance/news.py
  backend/src/utils/pandas.py
  frontend/src/components/timeline/ToolTimeline.tsx
  frontend/src/components/timeline/ToolTimelineItem.tsx
Due: backend-format, frontend-prettier, frontend-lint
