Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

fix(frontend): stop four newly-live toast storms from starving the notification surface (#972)
  Changelog.md
  frontend/src/components/lists/ChatMessages.test.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/panels/AgentSchedulesPanel.test.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/hooks/useSchedules.ts
  frontend/src/lib/entities/stream.ts
  frontend/src/lib/utils/fetchStreamReader.test.ts
  frontend/src/lib/utils/fetchStreamReader.ts
  frontend/src/lib/utils/streamSource.ts
  frontend/src/pages/memories/edit.test.tsx
  frontend/src/pages/memories/edit.tsx
  frontend/src/pages/schedules/index.test.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/tests/context/ChatContext.test.tsx
  frontend/src/tests/hooks/useMessageQueue.test.ts
Due: frontend-prettier, frontend-lint

task: add Aegra migration spec and colocate task specs with the project
  .gitignore
  .oh/tasks/README.md
  .oh/tasks/aegra-full-inversion/prd.json
  .oh/tasks/aegra-full-inversion/prd.md
Due: none

task: harden US-001 and US-003 acceptance criteria after review
  .oh/tasks/aegra-full-inversion/prd.json
  .oh/tasks/aegra-full-inversion/prd.md
Due: none

task: disambiguate "sidecar" and document operator switch-over
  .oh/tasks/aegra-full-inversion/prd.json
  .oh/tasks/aegra-full-inversion/prd.md
Due: none

task: isolate Orchestra's alembic version table and add the Aegra sidecar
  .oh/tasks/aegra-full-inversion/evidence.md
  .oh/tasks/aegra-full-inversion/prd.json
  .oh/tasks/aegra-full-inversion/prd.md
  .oh/tasks/aegra-full-inversion/progress.txt
  .oh/tasks/aegra-full-inversion/runbook-us001.md
  .oh/tasks/aegra-full-inversion/runbook-us003.md
  Makefile
  aegra.json
  backend/migrations/env.py
  backend/src/utils/migrations.py
  backend/tests/unit/utils/test_migrations.py
  infra/aegra.Dockerfile
  infra/aegra/hello_graph.py
  infra/docker-compose.aegra.yml
Due: backend-format

task: organize backend environment template
  README.md
  backend/.example.env
  backend/README.md
  docs/environment-variables.md
  infra/README.md
Due: backend-format

task: organize backend environment template (#979)
  README.md
  backend/.example.env
  backend/README.md
  docs/environment-variables.md
  infra/README.md
Due: backend-format

feat: add registry-based VM deployment
  .gitignore
  Changelog.md
  README.md
  deploy/.example.env
  deploy/docker-compose.database.yml
  deploy/docker-compose.yml
  deploy/searxng/settings.example.yml
  docs/self-hosting/index.md
Due: none

fix: clarify overlay secret encoding
  deploy/.example.env
Due: none

fix: document Fernet key generation
  README.md
  deploy/.example.env
  docs/self-hosting/index.md
Due: none

audit: record deployment PR evidence
  .oh/tasks/980-registry-vm-deploy/evidence.md
Due: none

docs: refresh deployment PR evidence
  .oh/tasks/980-registry-vm-deploy/evidence.md
Due: none

test: stabilize Aegra browser contracts
  .oh/tasks/aegra-full-cutover/progress.txt
  frontend/e2e/correlation-id.spec.ts
  frontend/e2e/helpers/chat.ts
  frontend/e2e/idempotency.spec.ts
  frontend/e2e/reconnect.spec.ts
Due: frontend-prettier, frontend-lint

test: scope duplicate run browser contract
  .oh/tasks/aegra-full-cutover/progress.txt
  frontend/e2e/idempotency.spec.ts
Due: frontend-prettier, frontend-lint

audit: record Aegra cutover evidence
  .oh/tasks/aegra-full-cutover/evidence.md
Due: none

fix: default Orchestra to Luna max
  .oh/tasks/aegra-full-cutover/evidence.md
  .oh/tasks/aegra-full-cutover/progress.txt
  Changelog.md
  backend/src/agents/factory.py
  backend/src/constants/llm.py
  backend/src/routes/custom_llm.py
  backend/tests/unit/test_aegra_factory.py
Due: backend-format

audit: refresh Luna default evidence
  .oh/tasks/aegra-full-cutover/evidence.md
Due: none

fix: initialize cache during Aegra startup
  Changelog.md
  backend/custom_app.py
  backend/tests/unit/test_custom_app_boundary.py
Due: backend-format

fix: sanitize Agent Protocol metadata
  Changelog.md
  frontend/src/lib/api/agentClient.test.ts
  frontend/src/lib/api/agentClient.ts
Due: frontend-prettier, frontend-lint

fix: default sandbox to stateful
  Changelog.md
  backend/src/agents/__init__.py
  backend/src/agents/factory.py
  backend/tests/unit/agents/test_daytona.py
  backend/tests/unit/agents/test_daytona_error_handling.py
  backend/tests/unit/test_aegra_factory.py
Due: backend-format

docs: update the onepager platform credit to AGRO
  decks/slides/onepager.html
Due: none
