Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

init
  Changelog.md
Due: none

Unauth gets model routing instead of selection
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/utils/auth.py
  backend/src/utils/middleware.py
  frontend/src/pages/Home.tsx
Due: backend-format, frontend-prettier, frontend-lint

Route to nano after 50 in unauth
  backend/src/utils/middleware.py
  frontend/src/pages/Home.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/553-select-models-modal TO development (#554)
  Changelog.md
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/utils/auth.py
  backend/src/utils/middleware.py
  frontend/src/pages/Home.tsx
Due: backend-format, frontend-prettier, frontend-lint

Subagents working
  backend/src/constants/examples/__init__.py
  backend/src/flows/__init__.py
  backend/src/repos/tool_repo.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/utils/stream.py
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

SubAgents work correctly for now
  backend/src/flows/__init__.py
  backend/src/schemas/contexts/__init__.py
  backend/src/tools/base/reasoning.py
  backend/src/utils/stream.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/tools/Default.tsx
Due: backend-format, frontend-prettier, frontend-lint

Consolidates name to api tools be may swap back
  backend/src/services/tool.py
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useCustomTools.ts
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
  frontend/src/lib/services/toolService.ts
  frontend/src/tests/services/toolService.test.ts
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/556-persist-mcp-and-a2a TO development (#557)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/flows/__init__.py
  backend/src/repos/tool_repo.py
  backend/src/schemas/contexts/__init__.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/base/reasoning.py
  backend/src/utils/stream.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useCustomTools.ts
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
  frontend/src/components/tools/Default.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/toolService.ts
  frontend/src/tests/services/toolService.test.ts
Due: backend-format, frontend-prettier, frontend-lint

Fixes most the bugs
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/tool/invoke.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/tool.py
  backend/src/utils/api.py
  backend/src/utils/format.py
  backend/tests/integration/test_tool_invoke.py
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ToolTestPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/tests/ToolTestPanel.test.tsx
  frontend/src/components/tools/Default.tsx
  frontend/src/lib/services/toolService.ts
Due: backend-format, frontend-prettier, frontend-lint

Should fix tets
  backend/tests/integration/test_tool_invoke.py
Due: backend-format

Fix build
  backend/tests/integration/test_tool_invoke.py
  frontend/src/components/modals/ToolSelectionModal/components/ToolTestPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/558-dedicated-tools-pages TO development (#559)
  Changelog.md
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/tool/invoke.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/tool.py
  backend/src/utils/api.py
  backend/src/utils/format.py
  backend/tests/integration/test_tool_invoke.py
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ToolTestPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/tests/ToolTestPanel.test.tsx
  frontend/src/components/tools/Default.tsx
  frontend/src/lib/services/toolService.ts
Due: backend-format, frontend-prettier, frontend-lint

Upadate Changelog
  Changelog.md
Due: none

Seems to fix all of the selection
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useModel.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/lib/utils/storage.ts
  frontend/src/pages/Chat.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

Fix frronetnd build
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

FROM bug/562-select-model-glitchy TO development (#563)
  Changelog.md
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useModel.tsx
  frontend/src/hooks/useThread.ts
  frontend/src/lib/utils/storage.ts
  frontend/src/pages/Chat.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

Can create tools
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/llm.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/api.py
Due: backend-format

FROM feat/564-create-tool-as-tool TO development (#565)
  Changelog.md
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/llm.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/api.py
Due: backend-format

Fix 'some' ui fix
  frontend/src/components/modals/ToolSelectionModal/PlatformToolsPanel.tsx
Due: frontend-prettier, frontend-lint

Update for 0.0.2-rc115
  Changelog.md
Due: none

Bump version"
  Changelog.md
Due: none

Includes python tools
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/flows/__init__.py
  backend/src/tools/__init__.py
  backend/src/tools/code.py
  backend/uv.lock
Due: backend-format

Should build with deno for python execute
  backend/Dockerfile
Due: backend-format

FROM feat/566-langchain-sandbox-dx TO development (#567)
  .gitignore
  Changelog.md
  backend/.dockerignore
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/flows/__init__.py
  backend/src/tools/__init__.py
  backend/src/tools/code.py
  backend/uv.lock
Due: backend-format

Creates checkpoints with threads
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/repos/thread_repo.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/store.py
  backend/src/services/checkpoint.py
  backend/src/services/thread.py
  backend/src/tools/api.py
  backend/src/utils/retry.py
  frontend/src/components/drawers/app-sidebar.tsx
Due: backend-format, frontend-prettier, frontend-lint

Can create checkpoint
  backend/src/routes/v0/thread.py
  backend/src/utils/stream.py
  frontend/src/components/drawers/app-sidebar.tsx
Due: backend-format, frontend-prettier, frontend-lint

This accomplishes the task, we should close this and open the schedule under its own
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/thread.py
Due: backend-format

FROM feat/513-create-thread-api TO development (#568)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/repos/thread_repo.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/store.py
  backend/src/services/checkpoint.py
  backend/src/services/thread.py
  backend/src/tools/api.py
  backend/src/utils/retry.py
  backend/src/utils/stream.py
  frontend/src/components/drawers/app-sidebar.tsx
Due: backend-format, frontend-prettier, frontend-lint

Remove plans
  plans/bug-419-schedule-modal.md
Due: none

FROM bug/419-schedule-modal TO development (#430)
  Changelog.md
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
Due: frontend-prettier, frontend-lint

ReqBody in place, need to perform execute updates
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/schedule.py
Due: backend-format

Consolidating llm routes, bug in thread save. Works other than that
  backend/src/constants/llm.py
  backend/src/contexts/service.py
  backend/src/controllers/llm.py
  backend/src/routes/v0/llm.py
  backend/src/services/assistant.py
  backend/src/services/llm.py
  backend/src/services/tool.py
Due: backend-format

Fixes invocations, need to test on tasks now
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/services/llm.py
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Allows scheduling to same thread
  backend/src/contexts/service.py
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/schedule.py
  backend/src/services/schedule.py
Due: backend-format

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
