Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

fix: make walkthrough highlight visible + fix help-button z-index
  Changelog.md
  frontend/src/components/buttons/HelpButton.tsx
  frontend/src/layouts/chat-layout-v2.tsx
Due: frontend-prettier, frontend-lint

fix: thread delete silently failing while returning 204
  Changelog.md
  backend/src/contexts/service.py
  backend/src/services/checkpoint_resilient.py
  backend/tests/unit/services/test_checkpoint_resilient.py
  backend/tests/unit/services/test_delete_thread.py
Due: backend-format

fix(deps): remediate dependabot alerts
  backend/pyproject.toml
  backend/src/utils/auth.py
  backend/src/utils/embed.py
  backend/tests/unit/utils/test_embed.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useThread.test.tsx
Due: backend-format, frontend-prettier, frontend-lint

task: deprecate legacy pages source
  Changelog.md
  decks/AGENTS.md
  decks/README.md
  decks/slides/README.md
Due: none

task: align deck with mifune brand
  Changelog.md
  decks/AGENTS.md
  decks/README.md
  decks/index.html
  decks/slides/README.md
  decks/slides/images/ruska_logo_200.png
  decks/slides/index.html
  decks/slides/onepager.html
  decks/slides/screenshots/01-title.png
  decks/slides/screenshots/02-title-expanded.png
  decks/slides/screenshots/03-challenge.png
  decks/slides/screenshots/04-solution.png
  decks/slides/screenshots/08-cta.png
  decks/slides/screenshots/09-thank-you.png
  decks/slides/screenshots/README.md
  decks/slides/screenshots/mermaid-architecture.png
  decks/slides/screenshots/onepager.pdf
  decks/slides/screenshots/orchestra-chat.png
  decks/slides/screenshots/ruska-ai-bottom.png
  decks/slides/screenshots/ruska-ai-hero.png
  decks/slides/screenshots/ruska-ai-lower.png
  decks/slides/screenshots/ruska-ai-mid.png
  decks/slides/screenshots/slides-01-title.png
  decks/slides/screenshots/slides-02-expanded.png
  decks/slides/screenshots/slides-03-challenge.png
  decks/slides/screenshots/slides-04-solution.png
  decks/slides/screenshots/slides-05-architecture.png
  decks/slides/screenshots/slides-06-features.png
  decks/slides/screenshots/title-expanded.png
  decks/slides/screenshots/title-slide.png
Due: none

fix: keep slide mermaid diagrams rendered
  Changelog.md
  decks/slides/index.html
Due: none

fix: correct e2e auth helper login endpoint to /api/auth/login
  frontend/e2e/helpers/auth.ts
Due: frontend-prettier, frontend-lint

feat: resiliency fitness-function eval harness (RED baseline)
  .github/workflows/test.yml
  backend/pytest.ini
  backend/tests/resiliency/__init__.py
  backend/tests/resiliency/test_correlation_id.py
  backend/tests/resiliency/test_dlq_replay.py
  backend/tests/resiliency/test_heartbeat_drain.py
  backend/tests/resiliency/test_idempotency.py
  evals/README.md
  evals/RESULTS.md
  evals/probes/resiliency-correlation-id.sh
  evals/probes/resiliency-dlq.sh
  evals/probes/resiliency-heartbeat-drain.sh
  evals/probes/resiliency-idempotency.sh
  evals/run.sh
  evals/screenshots/.gitkeep
  frontend/.gitignore
  frontend/e2e/correlation-id.spec.ts
  frontend/e2e/dlq-replay.spec.ts
  frontend/e2e/heartbeat-drain.spec.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/idempotency.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/vitest.config.ts
Due: backend-format, frontend-prettier, frontend-lint

fix: correct e2e CI module paths (uvicorn main:app, worker src.workers.tasks:broker)
  .github/workflows/test.yml
Due: none

fix: enable DISTRIBUTED_WORKERS in e2e CI so the worker path runs
  .github/workflows/test.yml
Due: none

fix: serialize Playwright in CI (workers=1, retries) to stop stack-contention timeouts
  frontend/playwright.config.ts
Due: frontend-prettier, frontend-lint

feat: idempotent run dispatch + double-submit dedup (resiliency track 1)
  backend/src/services/idempotency.py
  backend/src/workers/tasks.py
  evals/RESULTS.md
  frontend/e2e/idempotency.spec.ts
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/tests/hooks/useMessageQueue.test.ts
Due: backend-format, frontend-prettier, frontend-lint

feat: dead-letter queue + replay for permanently-failed runs (resiliency track 2)
  backend/src/routes/v0/llm.py
  backend/src/services/errors.py
  backend/src/workers/dlq.py
  backend/src/workers/tasks.py
  evals/RESULTS.md
  frontend/e2e/dlq-replay.spec.ts
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

feat: correlation-ID tracing across run -> worker logs -> UI (resiliency track 4)
  backend/src/utils/correlation.py
  backend/src/utils/logger.py
  backend/src/workers/tasks.py
  evals/RESULTS.md
  evals/probes/resiliency-correlation-id.sh
  frontend/e2e/correlation-id.spec.ts
  frontend/src/components/lists/ChatMessages.tsx
Due: backend-format, frontend-prettier, frontend-lint

feat: worker heartbeat + graceful drain + stream recovery (resiliency track 3)
  backend/src/workers/broker.py
  backend/src/workers/state.py
  backend/src/workers/tasks.py
  evals/RESULTS.md
  frontend/e2e/heartbeat-drain.spec.ts
Due: backend-format, frontend-prettier, frontend-lint

fix: pre-warm Vite dev server in CI e2e to stop cold-compile timeouts
  .github/workflows/test.yml
Due: none

feat: add Mermaid diagram zoom controls
  Changelog.md
  frontend/src/components/cards/MarkdownCard.test.tsx
  frontend/src/components/cards/MarkdownCard.tsx
Due: frontend-prettier, frontend-lint

task: move env location to ~/.config/orchestra/
  .pre-commit-config.yaml
  AGENTS.md
  Changelog.md
  backend/.vscode/launch.json
  backend/CLAUDE.md
  backend/Makefile
  evals/README.md
  evals/probes/resiliency-correlation-id.sh
  evals/probes/resiliency-dlq.sh
  evals/probes/resiliency-heartbeat-drain.sh
  evals/probes/resiliency-idempotency.sh
  examples/agents/RLM.ipynb
  examples/agents/deep_agent_backend.ipynb
  examples/agents/stream_subagent_updates.ipynb
  examples/tools/api_as_tool.ipynb
  frontend/CLAUDE.md
  frontend/package.json
  infra/docker-compose.yml
Due: backend-format, frontend-prettier, frontend-lint

task: allow manual re-run of the Test workflow
  .github/workflows/test.yml
  Changelog.md
Due: none

task: fold the api extra into default backend dependencies
  .github/workflows/build.yml
  .github/workflows/test.yml
  Changelog.md
  backend/pyproject.toml
  backend/uv.lock
  infra/backend.Dockerfile
  infra/docker-compose.yml
Due: backend-format

fix: release the auth DB session before the handler runs (#955)
  Changelog.md
  backend/src/constants/__init__.py
  backend/src/routes/v0/info/health.py
  backend/src/services/db.py
  backend/src/utils/auth.py
  backend/tests/unit/services/test_db.py
  backend/tests/unit/utils/test_auth_dependency_scope.py
Due: backend-format

fix: support reasoning effort and unbreak OpenAI reasoning models (#961)
  Changelog.md
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/llm.py
  backend/src/schemas/entities/settings.py
  backend/src/services/llm.py
  backend/src/services/schedule.py
  backend/src/utils/format.py
  backend/src/utils/middleware.py
  backend/src/utils/reasoning.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/conftest.py
  backend/tests/unit/agents/test_reasoning_effort.py
  backend/tests/unit/controllers/test_llm_context_files.py
  backend/tests/unit/controllers/test_llm_model_resolution.py
  backend/tests/unit/utils/test_reasoning.py
  docs/settings/index.md
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/SelectReasoningEffort.tsx
  frontend/src/lib/services/modelService.ts
  frontend/src/lib/services/userSettingsService.ts
  frontend/src/tests/components/SelectReasoningEffort.test.tsx
Due: backend-format, frontend-prettier, frontend-lint

task: misc updates
  backend/Makefile
  backend/scripts/db.sh
  frontend/package.json
Due: backend-format, frontend-prettier, frontend-lint

fix: render hydrated assistant messages with content blocks
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/embed/EmbedWidget.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend-prettier, frontend-lint

fix: render hydrated assistant messages with content blocks (#963)
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/embed/EmbedWidget.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend-prettier, frontend-lint

fix: stop /health/store re-entering the app-wide store singleton (#958)
  Changelog.md
  backend/src/routes/v0/info/health.py
  backend/tests/integration/test_health_store.py
Due: backend-format

fix: surface backend outages — mount Toaster and give the model picker real states
  Changelog.md
  frontend/src/components/inputs/ChatInput.test.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/inputs/ModelPicker.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/components/ui/sonner.test.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/hooks/useModel.tsx
  frontend/src/hooks/useModelsList.ts
  frontend/src/hooks/useSchedules.ts
  frontend/src/lib/utils/connectionToast.ts
  frontend/src/main.tsx
  frontend/src/pages/memories/edit.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/tests/hooks/useModel.test.ts
  frontend/src/tests/integration/modelBadgeIntegration.test.tsx
Due: frontend-prettier, frontend-lint

fix: stop /health/store re-entering the app-wide store singleton (#958) (#964)
  Changelog.md
  backend/src/routes/v0/info/health.py
  backend/tests/integration/test_health_store.py
Due: backend-format

fix: surface backend outages — mount Toaster and give the model picker real states (#965)
  Changelog.md
  frontend/src/components/inputs/ChatInput.test.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/inputs/ModelPicker.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/components/ui/sonner.test.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/hooks/useModel.tsx
  frontend/src/hooks/useModelsList.ts
  frontend/src/hooks/useSchedules.ts
  frontend/src/lib/utils/connectionToast.ts
  frontend/src/main.tsx
  frontend/src/pages/memories/edit.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/tests/hooks/useModel.test.ts
  frontend/src/tests/integration/modelBadgeIntegration.test.tsx
Due: frontend-prettier, frontend-lint

fix: stop four newly-live toast storms from starving the notification surface (#966)
  Changelog.md
  frontend/src/components/lists/ChatMessages.test.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/panels/AgentSchedulesPanel.test.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/hooks/useSchedules.ts
  frontend/src/lib/entities/stream.ts
  frontend/src/lib/utils/fetchStreamReader.test.ts
  frontend/src/lib/utils/fetchStreamReader.ts
  frontend/src/pages/memories/edit.test.tsx
  frontend/src/pages/memories/edit.tsx
  frontend/src/pages/schedules/index.test.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/tests/context/ChatContext.test.tsx
  frontend/src/tests/hooks/useMessageQueue.test.ts
Due: frontend-prettier, frontend-lint

fix: make destructive colour readable at the palette level (#968)
  Changelog.md
  frontend/src/components/buttons/thread-share-button.tsx
  frontend/src/components/cards/AgentScheduleCard.tsx
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/forms/CronBuilder.tsx
  frontend/src/components/inputs/ModelPicker.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/ListProjectThreads.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/modals/ToolSelectionModal/A2aAgentPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/CustomToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ArgsSchemaBuilder.tsx
  frontend/src/components/modals/ToolSelectionModal/components/HeadersEditor.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ToolTestPanel.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/panels/FileTree/FileTreeNode.tsx
  frontend/src/components/panels/QueuePanel.tsx
  frontend/src/components/settings/ApiTokensSettings.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/components/settings/UserApiKeysSettings.tsx
  frontend/src/components/tables/ScheduleTable.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/styles/globals.css
  frontend/src/tests/styles/destructive-contrast.test.ts
  frontend/src/tests/styles/destructive-usage.test.ts
  frontend/tailwind.config.js
Due: frontend-prettier, frontend-lint

fix: close defects found by the adversarial review of this PR (#966)
  Changelog.md
  frontend/src/components/lists/ChatMessages.test.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/panels/AgentSchedulesPanel.test.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMessageQueue.ts
  frontend/src/hooks/useSchedules.ts
  frontend/src/lib/utils/streamSource.ts
  frontend/src/pages/schedules/index.test.tsx
  frontend/src/tests/context/ChatContext.test.tsx
  frontend/src/tests/hooks/useMessageQueue.test.ts
Due: frontend-prettier, frontend-lint

fix: hoist the LangGraph store to a per-process singleton and drop store re-entry
  Changelog.md
  backend/main.py
  backend/src/services/assistant.py
  backend/src/services/db.py
  backend/src/services/prompt/__init__.py
  backend/src/services/schedule.py
  backend/src/workers/state.py
  backend/src/workers/tasks.py
  backend/tests/conftest.py
  backend/tests/integration/test_lifespan_store.py
  backend/tests/integration/test_store_pool.py
  backend/tests/integration/test_store_reentry.py
  backend/tests/resiliency/test_heartbeat_drain.py
  backend/tests/unit/controllers/test_llm_context_files.py
  backend/tests/unit/services/test_store_singleton.py
Due: backend-format

fix: hoist the LangGraph store to a per-process singleton and drop store re-entry (#975)
  Changelog.md
  backend/main.py
  backend/src/services/assistant.py
  backend/src/services/db.py
  backend/src/services/prompt/__init__.py
  backend/src/services/schedule.py
  backend/src/workers/state.py
  backend/src/workers/tasks.py
  backend/tests/conftest.py
  backend/tests/integration/test_lifespan_store.py
  backend/tests/integration/test_store_pool.py
  backend/tests/integration/test_store_reentry.py
  backend/tests/resiliency/test_heartbeat_drain.py
  backend/tests/unit/controllers/test_llm_context_files.py
  backend/tests/unit/services/test_store_singleton.py
Due: backend-format

fix: make destructive colour readable at the palette level (#968) (#973)
  Changelog.md
  frontend/src/components/buttons/thread-share-button.tsx
  frontend/src/components/cards/AgentScheduleCard.tsx
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/forms/CronBuilder.tsx
  frontend/src/components/inputs/ModelPicker.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/ListProjectThreads.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/modals/ToolSelectionModal/A2aAgentPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/modals/ToolSelectionModal/CustomToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ArgsSchemaBuilder.tsx
  frontend/src/components/modals/ToolSelectionModal/components/HeadersEditor.tsx
  frontend/src/components/modals/ToolSelectionModal/components/ToolTestPanel.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/panels/FileTree/FileTreeNode.tsx
  frontend/src/components/panels/QueuePanel.tsx
  frontend/src/components/settings/ApiTokensSettings.tsx
  frontend/src/components/settings/MemorySettings.tsx
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/components/settings/UserApiKeysSettings.tsx
  frontend/src/components/tables/ScheduleTable.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/styles/globals.css
  frontend/src/tests/styles/destructive-contrast.test.ts
  frontend/src/tests/styles/destructive-usage.test.ts
  frontend/tailwind.config.js
Due: frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
