Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

The implementation is complete. Here's a summary of what was done:
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/TodoList.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

The bug fix is complete. Here's a summary of what was fixed:
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useThread.ts
Due: frontend-prettier, frontend-lint

Update all submodules to latest remote commits
  Makefile
Due: none

Fixes todos
  backend/src/utils/stream.py
Due: backend-format

FEAT: Render the `todos` state from useThread in Session (vibe-kanban) (#641)
  backend/src/utils/stream.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/TodoList.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useThread.ts
Due: backend-format, frontend-prettier, frontend-lint

Default not being overriden in anon
  frontend/src/pages/Home.tsx
Due: frontend-prettier, frontend-lint

Update changelog
  Changelog.md
Due: none

Update reflect
  .claude/commands/reflection.md
  .claude/skills/reflection/SKILL.md
Due: none

works g2g on mobile
  backend/Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/TodoList.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/settings/ApiTokensSettings.tsx
  frontend/src/pages/Home.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

works g2g on mobile (#647)
  backend/Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/TodoList.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/settings/ApiTokensSettings.tsx
  frontend/src/pages/Home.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

Locate secrets outside dir
  backend/Makefile
  frontend/package-lock.json
  frontend/package.json
Due: backend-format, frontend-prettier, frontend-lint

HCangolog
  Changelog.md
Due: none

Public agents working correctly, need to not have so many settings client side
  .claude/commands/team.md
  .plans/cli/feat-53/PROMPT.md
  .plans/cli/feat-53/REVIEW.md
  .plans/cli/feat-53/TASKS.md
  .plans/feat-471/PROMPT.md
  .plans/feat-471/PROPOSAL_ARCHITECT.md
  .plans/feat-471/PROPOSAL_CRAFTSMAN.md
  .plans/feat-471/PROPOSAL_GUARDIAN.md
  .plans/feat-471/REVIEW.md
  .plans/feat-471/TASKS.md
  backend/Makefile
  backend/migrations/env.py
  backend/seeds/user_seeder.py
  backend/src/constants/llm.py
  backend/src/routes/v0/assistant.py
  backend/src/schemas/entities/llm.py
  backend/src/services/assistant.py
  backend/src/services/llm.py
  backend/tests/integration/test_public_assistants.py
  backend/tests/unit/repos/test_tool_repo.py
  backend/tests/unit/services/test_assistant_service.py
  backend/tests/unit/services/test_tool_service.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

Update all submodules to latest remote commits
  backend/src/utils/auth.py
  frontend/src/hooks/useChat.ts
  frontend/src/pages/agents/public.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fixes build
  .claude/ralph-loop.local.md
  .claude/settings.json
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

See if tests pass
  .claude/ralph-loop.local.md
  .plans/feat-471/errors/backend-pipeline.md
  backend/seeds/user_seeder.py
Due: backend-format

Address publsh fix
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

Option 2 instead
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

FROM feat/471-public-agents TO development (#648)
  .claude/commands/team.md
  .claude/ralph-loop.local.md
  .claude/settings.json
  .plans/cli/feat-53/PROMPT.md
  .plans/cli/feat-53/REVIEW.md
  .plans/cli/feat-53/TASKS.md
  .plans/feat-471/PROMPT.md
  .plans/feat-471/PROPOSAL_ARCHITECT.md
  .plans/feat-471/PROPOSAL_CRAFTSMAN.md
  .plans/feat-471/PROPOSAL_GUARDIAN.md
  .plans/feat-471/REVIEW.md
  .plans/feat-471/TASKS.md
  .plans/feat-471/errors/backend-pipeline.md
  Changelog.md
  backend/Makefile
  backend/migrations/env.py
  backend/seeds/user_seeder.py
  backend/src/constants/llm.py
  backend/src/routes/v0/assistant.py
  backend/src/schemas/entities/llm.py
  backend/src/services/assistant.py
  backend/src/services/llm.py
  backend/src/utils/auth.py
  backend/tests/integration/test_public_assistants.py
  backend/tests/unit/repos/test_tool_repo.py
  backend/tests/unit/services/test_assistant_service.py
  backend/tests/unit/services/test_tool_service.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

Remove unused
  .plans/feat-471/errors/backend-pipeline.md
Due: none

init
  .claude/ralph-loop.local.md
  Changelog.md
  backend/seeds/user_seeder.py
Due: backend-format

A little wonky but works for most part
  .claude/ralph-loop.local.md
  .plans/orchestra/feat-633/PROMPT.md
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/tests/hooks/useAgent.test.ts
  frontend/src/tests/services/agentService.test.ts
Due: frontend-prettier, frontend-lint

Fixes pipeline
  frontend/src/tests/hooks/useAgent.test.ts
Due: frontend-prettier, frontend-lint

Fix suggestions
  frontend/src/hooks/useAgent.ts
  frontend/src/pages/agents/index.tsx
Due: frontend-prettier, frontend-lint

One more
  frontend/src/hooks/useAgent.ts
Due: frontend-prettier, frontend-lint

FROM feat/633-public-agents-display TO development (#649)
  .claude/ralph-loop.local.md
  .plans/orchestra/feat-633/PROMPT.md
  Changelog.md
  backend/seeds/user_seeder.py
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/tests/hooks/useAgent.test.ts
  frontend/src/tests/services/agentService.test.ts
Due: backend-format, frontend-prettier, frontend-lint

Fix light mode on filepaneleditro
  frontend/src/components/inputs/MonacoEditor.tsx
Due: frontend-prettier, frontend-lint

Fix build for pipeline
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/panels/FileTree/FileTreeSearch.tsx
  frontend/src/components/panels/FileTree/FileTreeSidebar.tsx
  frontend/src/hooks/useFileTreeData.ts
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/threads/ThreadPage.tsx
  frontend/src/tests/hooks/useFileSystem.test.ts
  frontend/src/tests/hooks/useFileTreeData.test.ts
Due: frontend-prettier, frontend-lint

Address review comments
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/panels/FileTree/FileTreeSearch.tsx
  frontend/src/components/panels/FileTree/FileTreeSidebar.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/lib/utils/pathSanitizer.ts
  frontend/src/tests/hooks/useFileTreeData.test.ts
Due: frontend-prettier, frontend-lint

Upate changelog
  Changelog.md
Due: none

Adds spec generator agent, and pr-announcer
  .claude/agents/pr-announcer.md
  .claude/agents/spec-generator/README.md
  .claude/agents/spec-generator/commands/analyze-branch.md
  .claude/agents/spec-generator/commands/generate-spec.md
  .claude/agents/spec-generator/commands/refine-spec.md
  .claude/agents/spec-generator/commands/validate-spec.md
  .claude/agents/spec-generator/skills/assumption-invalidation.md
  .claude/agents/spec-generator/skills/change-detection.md
  .claude/agents/spec-generator/skills/context-extraction.md
  .claude/agents/spec-generator/skills/end-state-regression.md
  .claude/agents/spec-generator/skills/gap-analysis.md
  .claude/agents/spec-generator/skills/signal-noise-filtering.md
  .claude/agents/spec-generator/skills/spec-synthesis.md
  .claude/agents/spec-generator/spec-generator.md
  .claude/commands/README.md
  .claude/commands/announce-pr.md
  .claude/ralph-loop.local.md
  .claude/specs/SPEC-FEATURE-20250110-633-PUBLIC-AGENTS-DISPLAY.md
Due: none

This is fine for NOW, need to remove the metatdat patch
  .claude/agents/pr-announcer.md
  .claude/commands/announce-pr.md
  .claude/outputs/pr-announcements/index.md
  backend/src/utils/stream.py
Due: backend-format

chore: init branch feat/637-user-can-persist-files-to-agent
  Changelog.md
Due: none

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
