Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

feat: US-004 - Build proof of concept
  .ralph/prd.json
  .ralph/progress.txt
  backend/scripts/rlm_prototype.py
  docs/rlm-benchmark-results.json
  docs/rlm-benchmark-results.md
  docs/rlm-recommendation.md
Due: backend-format

feat: US-005 - Design full integration architecture
  docs/rlm-recommendation.md
Due: none

chore: mark US-005 as complete, update progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-006 - Write final recommendation
  docs/rlm-recommendation.md
Due: none

chore: mark US-006 as complete, update progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: mark US-007 as complete, update progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-007 - End-to-end browser validation
  frontend/src/components/modals/ToolSelectionModal/hooks/useToolSelection.ts
Due: frontend-prettier, frontend-lint

feat: US-008 - Verify workspace is clean and push final changes
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: mark US-008 as passing, update progress
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-010 - Propagate agent_name to tool_input in formatMessages()
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend-prettier, frontend-lint

feat: US-011 - Propagate agent_name to tool_input in streaming handler
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

feat: US-013 - Persist agent_name through thread reload
  backend/src/routes/v0/thread.py
Due: backend-format

feat: US-014 - Add title attribute to SubagentBadge
  frontend/src/components/badges/SubagentBadge.tsx
Due: frontend-prettier, frontend-lint

docs: mark US-010 through US-014 complete and update progress
  .ralph/prd.json
  .ralph/progress.txt
Due: none

docs: add QA stories US-015–US-017 and remaining steps plan
  .claude/plans/feat-694/05-qa-results.md
  .ralph/prd.json
Due: none

docs: US-015 - Run automated checks for all code changes
  .ralph/prd.json
  .ralph/progress.txt
Due: none

docs: US-016 + US-017 - Browser QA results and final report
  .claude/plans/feat-694/05-qa-results.md
  .ralph/prd.json
  .ralph/progress.txt
Due: none

fix: remove dead hasCustomizedTools ref, fix selectMultiple dedup
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useToolSelection.ts
Due: frontend-prettier, frontend-lint

fix: propagate agent_name from AI messages to tool results after reload
  .claude/plans/feat-694/06-no-badge-showing.md
  .claude/plans/feat-694/07-tool-result-agent-name-fix.md
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend-prettier, frontend-lint

fix: extract agent_name from subagent_type in tool call args after reload
  .claude/plans/feat-694/07-tool-result-agent-name-fix.md
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend-prettier, frontend-lint

fix: unset CLAUDECODE env var before running ralph script
  Makefile
Due: none

pull request completed
  frontend/src/components/timeline/ToolTimelineItem.tsx
Due: frontend-prettier, frontend-lint

FROM feat/694-show-subagent-tool-calls TO development (#792)
  .claude/plans/feat-694/01-plan.md
  .claude/plans/feat-694/02-code-reveiw.md
  .claude/plans/feat-694/03-code-review-report.md
  .claude/plans/feat-694/04-cr-revision.md
  .claude/plans/feat-694/05-qa-results.md
  .claude/plans/feat-694/06-no-badge-showing.md
  .claude/plans/feat-694/07-tool-result-agent-name-fix.md
  .ralph/prd.json
  .ralph/progress.txt
  Makefile
  backend/src/routes/v0/thread.py
  backend/src/utils/messages.py
  backend/src/utils/stream.py
  frontend/src/components/badges/SubagentBadge.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/timeline/ToolTimeline.tsx
  frontend/src/components/timeline/ToolTimelineItem.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/message.ts
  tasks/prd-show-subagent-tool-calls.md
Due: backend-format, frontend-prettier, frontend-lint

remove prd and progress
  .ralph/prd.json
  .ralph/progress.txt
  Makefile
Due: none

fix: type AgentContext and useAgentContext to eliminate any
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/context/AgentContext.tsx
Due: frontend-prettier, frontend-lint

fix: resolve build errors from typed AgentContext
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

fix: defer MCP/A2A persistence in ToolSelectionModal until Apply
  frontend/src/components/modals/ToolSelectionModal/index.tsx
Due: frontend-prettier, frontend-lint

feat: immediate tool persistence, denser grid, nested defaults response
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/settings.py
  backend/tests/unit/routes/test_settings_routes.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/modals/ToolSelectionModal/A2aAgentPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/PlatformToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/ToolCard.tsx
  frontend/src/components/modals/ToolSelectionModal/ToolGrid.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useToolSelection.ts
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/settings/DefaultModelSettings.tsx
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/lib/services/userSettingsService.ts
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/790-chat-tool-config TO development (#791)
  .claude/plans/feat-790/01.md
  Makefile
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/settings.py
  backend/tests/unit/routes/test_settings_routes.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/modals/ToolSelectionModal/A2aAgentPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/PlatformToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/ToolCard.tsx
  frontend/src/components/modals/ToolSelectionModal/ToolGrid.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useToolSelection.ts
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/settings/DefaultModelSettings.tsx
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/context/AgentContext.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/lib/services/userSettingsService.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/schedules/index.tsx
  tasks/prd-chat-tool-config.md
Due: backend-format, frontend-prettier, frontend-lint

fix(auth): prevent landing page redirect for anonymous users (#796)
  backend/src/utils/auth.py
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/hooks/useModel.tsx
  frontend/src/lib/utils/apiClient.ts
  frontend/src/tests/hooks/useModel.test.ts
Due: backend-format, frontend-prettier, frontend-lint

fix(auth): prevent landing page redirect for anonymous users (#796) (#797)
  backend/src/utils/auth.py
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/hooks/useModel.tsx
  frontend/src/lib/utils/apiClient.ts
  frontend/src/tests/hooks/useModel.test.ts
Due: backend-format, frontend-prettier, frontend-lint

feat: add feature-dev skill for story-to-feature pipeline
  .claude/skills/feature-dev/SKILL.md
Due: none

cleanup, feature-dev skill, review-pr skill
  .claude/prompts/examples/ralph/TASK.md
  .claude/prompts/openclaw/story_to_feature.md
  .claude/skills/feature-dev/SKILL.md
  .claude/skills/review-pr.md
  .specs/.gitkeep
  .specs/search-fallback-exa-searxng/PROPOSAL_CONFIG_SENTINEL.md
  .specs/search-fallback-exa-searxng/PROPOSAL_FALLBACK_STRATEGIST.md
  .specs/search-fallback-exa-searxng/PROPOSAL_FRONTEND_INTEGRATOR.md
  .specs/search-fallback-exa-searxng/PROPOSAL_SCHEMA_UNIFIER.md
  .specs/search-fallback-exa-searxng/PROPOSAL_SEARCH_ARCHITECT.md
  .specs/search-fallback-exa-searxng/REVIEW.md
  .specs/search-fallback-exa-searxng/TASKS.md
  .specs/ticket-ralph-loop-integration/PROPOSAL_DEVEX_GUARDIAN.md
  .specs/ticket-ralph-loop-integration/PROPOSAL_HANDOFF_ARCHITECT.md
  .specs/ticket-ralph-loop-integration/PROPOSAL_WORKFLOW_ORCHESTRATOR.md
  .specs/ticket-ralph-loop-integration/REVIEW.md
  .specs/ticket-ralph-loop-integration/TASKS.md
Due: none

Details plan mode, and prd to ralph handoff
  .claude/skills/feature-dev/SKILL.md
Due: none

Needs to arhive
  .claude/skills/feature-dev/SKILL.md
Due: none

init feat/798-local-vm-backend
  Changelog.md
Due: none

docs: add PRD for #798
  tasks/prd-local-vm-backend.md
Due: none

chore: add Ralph config for #798
  .ralph/prd.json
  .ralph/progress.txt
Due: none

init feat/787-migrate-memories-seeder
  Changelog.md
Due: none

docs: add PRD for #787
  tasks/prd-migrate-memories-seeder.md
Due: none

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
