Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

init feat/803-persist-assistant-subagent-selection
  Changelog.md
Due: none

plan: persist assistant settings + subagent selection for #803
  .claude/plans/feat-803/01.md
Due: none

docs: add PRD for #803
  tasks/prd-persist-assistant-subagent-selection.md
Due: none

chore: add Ralph config for #803
  .ralph/prd.json
  .ralph/progress.txt
Due: none

wip: SaveAsAssistantDialog (incomplete - Ralph session ended early)
  frontend/src/components/dialogs/SaveAsAssistantDialog.tsx
Due: frontend-prettier, frontend-lint

feat: US-004 - Update MCP tools page with Manage Tools modal
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-005 - Update orchestra submodule reference and push
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-001 - Save as Assistant dialog component
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-002 - Wire Save as Assistant to chat page
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/nav/ChatNav.tsx
Due: frontend-prettier, frontend-lint

feat: US-003 - Subagent selection modal component
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/SubagentsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
Due: frontend-prettier, frontend-lint

feat: US-004 - Wire subagent selection to chat page
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-005 - Update issue description with integration details
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-006 - Check docs for drift and update wiki
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-007 - Final verification, report, and push
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: update package-lock
  frontend/package-lock.json
Due: frontend-prettier, frontend-lint

fix: add AgentContext mock to ChatNav tests
  frontend/src/components/nav/ChatNav.test.tsx
Due: frontend-prettier, frontend-lint

plan: #810 documentation drift strategy
  tasks/plan-810-docs-drift-wiki.md
Due: none

feat(docs): #810 PRD and ralph prd.json for documentation drift fix
  .ralph/prd.json
  tasks/prd-docs-drift-wiki.md
Due: none

feat: US-006/US-007 - Update sidebar navigation and finalize docs
  .ralph/prd.json
Due: none

chore: remove redundant plan file for #810
  tasks/plan-810-docs-drift-wiki.md
Due: none

docs: add implementation plan for #812 task/epic CRUD toolkit
  tasks/plan.md
Due: none

docs: add PRD and ralph prd.json for #812 task/epic CRUD toolkit
  .ralph/prd.json
  tasks/prd.md
Due: none

feat: US-001 - Epic and Task Pydantic Models
  backend/src/schemas/entities/store.py
Due: backend-format

Add bug-report skill and enhance feature-dev with template-reading, plan files, agent-browser verification
  .claude/skills/bug-report/SKILL.md
  .claude/skills/feature-dev/SKILL.md
Due: none

feat: US-002 - Epic Repository
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/repos/base_repo.py
  backend/src/repos/epic_repo.py
Due: backend-format

feat: US-003 - Task Repository
  backend/src/repos/task_repo.py
Due: backend-format

docs: update progress for US-003
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Move Ralph archive to final phase, add reviewer report generation to PR description
  .claude/skills/bug-report/SKILL.md
  .claude/skills/feature-dev/SKILL.md
Due: none

feat: US-004 - Epic Service
  backend/src/contexts/service.py
  backend/src/services/epic.py
Due: backend-format

docs: update progress for US-004
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Fix gitignore: allow Ralph archive files to be committed
  .gitignore
  .ralph/.gitignore
Due: none

feat: US-005 - Epic/Task Agent Tools
  backend/src/tools/__init__.py
  backend/src/tools/epic.py
Due: backend-format

docs: update progress for US-005
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Use [feat|bug]-<issue#> naming for Ralph archive directories
  .claude/skills/bug-report/SKILL.md
  .claude/skills/feature-dev/SKILL.md
  .claude/skills/ralph-archive/SKILL.md
  Makefile
Due: none

feat: US-006 - Task Semantic Search Tool
  backend/src/services/epic.py
  backend/src/tools/epic.py
Due: backend-format

docs: update progress for US-006
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-007 - Epic REST API Endpoints
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/epic/__init__.py
Due: backend-format

docs: update progress for US-007
  .ralph/prd.json
  .ralph/progress.txt
Due: none

doc-drift skills
  .claude/commands/doc-drift.md
  .claude/plans/linked-nibbling-cake.md
  .claude/plans/radiant-leaping-hopcroft.md
  .claude/plans/witty-gliding-whale.md
  .claude/prompts/openclaw/story_to_feature.md
  .claude/skills/doc-drift/SKILL.md
  .claude/skills/doc-drift/references/scoring-rubric.md
Due: none
