Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

feat: US-001, US-002, US-003 - Add --reload to dev.worker target
  backend/Makefile
  backend/src/constants/llm.py
  backend/src/utils/messages.py
  backend/tests/unit/controllers/test_files_state.py
  backend/tests/unit/controllers/test_llm_controller.py
  backend/tests/unit/workers/test_broker.py
Due: backend-format

chore: update PRD and progress for completed stories
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Completed
  .claude/specs/feat-724-add-watcher-to-worker-reload/PROPOSAL_DEVOPS_ARCHITECT.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/PROPOSAL_PROCESS_WATCHER.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/PROPOSAL_TASKIQ_SPECIALIST.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/REVIEW.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/TASKS.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/USER_STORIES.md
  tasks/prd-worker-reload.md
Due: none

FROM feat/724-add-watcher-to-worker-reload TO development (#726)
  .claude/specs/feat-724-add-watcher-to-worker-reload/PROPOSAL_DEVOPS_ARCHITECT.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/PROPOSAL_PROCESS_WATCHER.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/PROPOSAL_TASKIQ_SPECIALIST.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/REVIEW.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/TASKS.md
  .claude/specs/feat-724-add-watcher-to-worker-reload/USER_STORIES.md
  .ralph/prd.json
  .ralph/progress.txt
  Changelog.md
  backend/Makefile
  backend/src/constants/llm.py
  backend/src/utils/messages.py
  backend/tests/unit/controllers/test_files_state.py
  backend/tests/unit/controllers/test_llm_controller.py
  backend/tests/unit/workers/test_broker.py
  tasks/prd-worker-reload.md
Due: backend-format

Coderabbit suggestions
  frontend/src/lib/services/scheduleService.ts
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

Fix build
  frontend/src/lib/utils/schedule.ts
Due: frontend-prettier, frontend-lint

Feat(Frontend): Update Schedules to use TaskIQ Workers (#723)
  .claude/plans/.gitkeep
  .claude/plans/feat-722-frontend-schedule-refactor/PLAN.md
  .claude/plans/feat-722-frontend-schedule-refactor/images/01_navigate.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/02_schedules-index-page.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/03_select-agent-for-schedule.png
  .claude/specs/feat-722-frontend-schedule-refactor/prd.json
  .claude/specs/feat-722-frontend-schedule-refactor/progress.txt
  Changelog.md
  RALPH_TASK.md
  backend/tests/unit/services/test_schedule_dispatch.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/calendar/ScheduleCalendar.tsx
  frontend/src/components/cards/AgentScheduleCard.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/sidebar/ScheduleSidebarItem.tsx
  frontend/src/components/tables/ScheduleTable.tsx
  frontend/src/components/toggles/ViewToggle.tsx
  frontend/src/hooks/useScheduleExecutions.ts
  frontend/src/lib/entities/schedule.ts
  frontend/src/lib/services/scheduleService.ts
  frontend/src/lib/utils/calendar.ts
  frontend/src/lib/utils/schedule.ts
  frontend/src/pages/schedules/index.tsx
  frontend/src/styles/calendar.css
  tasks/prd-fix-schedule-payload.md
Due: backend-format, frontend-prettier, frontend-lint

Seems to work without being spammy
  .claude/hooks/notify_slack.py
  .claude/hooks/notify_slack.sh
  .gitignore
  .ralph/progress.txt
  backend/.gitignore
  backend/Makefile
  backend/pyproject.toml
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/info/__init__.py
  backend/src/workers/__init__.py
  backend/uv.lock
Due: backend-format

PRD's in place
  .ralph/prd.json
  .ralph/progress.txt
  Changelog.md
  tasks/prd-fix-schedule-calendar-rendering.md
Due: none

feat: US-001 - Create ScheduleExecution SQLAlchemy model and Pydantic schema
  backend/src/constants/examples/__init__.py
  backend/src/schemas/entities/schedule.py
  backend/src/schemas/models/__init__.py
  backend/src/schemas/models/schedule_execution.py
  backend/src/services/db.py
Due: backend-format

chore: mark US-001 as passing, update progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-002 - Create ScheduleExecutionService with CRUD operations
  backend/src/services/schedule_execution.py
Due: backend-format

feat: US-003 - Record execution lifecycle in scheduled_llm_invoke
  backend/src/services/schedule.py
  backend/src/services/schedule_execution.py
Due: backend-format

feat: US-004 - Add GET /schedules/executions/recent endpoint
  backend/src/routes/v0/schedule.py
Due: backend-format

feat: US-005 - Add GET /schedules/{schedule_id}/executions endpoint
  backend/src/routes/v0/schedule.py
Due: backend-format

feat: US-006 - Add GET /schedules/executions endpoint with date range filtering
  backend/src/routes/v0/schedule.py
Due: backend-format

feat: US-007 - Generate projected future executions from cron expressions
  backend/pyproject.toml
  backend/src/routes/v0/schedule.py
  backend/uv.lock
Due: backend-format

chore: mark US-004 through US-007 as passing, update progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Ralph loop concluded, need to adjust dark mode on calendar weekly, also ordering and selection of schedules
  backend/migrations/versions/0002_add_schedule_executions.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/models/schedule_execution.py
Due: backend-format

Update claude dev
  frontend/package.json
Due: frontend-prettier, frontend-lint

init feat/729-pre-configure-deep-agent-backend-skill-builder
  Changelog.md
Due: none

feat(skills): Add pre-configured skill templates for deep agent backend
  backend/src/agents/__init__.py
  backend/src/constants/skills.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/skill.py
  backend/src/schemas/entities/skill.py
  backend/src/services/skill.py
  backend/tests/integration/test_skill_routes.py
  backend/tests/unit/schemas/test_skill_template.py
  backend/tests/unit/services/test_skill_service.py
  frontend/src/components/skills/SkillCard.tsx
  frontend/src/components/skills/SkillDiscoveryPanel.tsx
  frontend/src/components/skills/index.ts
  frontend/src/hooks/useSkills.ts
  frontend/src/lib/entities/skill.ts
  frontend/src/lib/services/skillService.ts
Due: backend-format, frontend-prettier, frontend-lint

feat(frontend): add Skills Discovery page and route
  frontend/src/pages/skills/SkillsPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

feat: US-001 - Backend TDD tests for AGENTS.md extraction from agent files
  backend/tests/unit/services/test_llm_agents_md.py
Due: backend-format

feat: US-002 - Implement AGENTS.md extraction in LLMService.assistant()
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/services/llm.py
Due: backend-format

feat: US-003 - Backend TDD tests for thread-level AGENTS.md extraction
  backend/tests/unit/services/test_llm_agents_md.py
Due: backend-format

feat: US-003 - Update PRD and add progress tracking
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-004 - Implement thread-level AGENTS.md extraction (non-agent mode)
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/services/llm.py
Due: backend-format

feat: US-005 - Frontend TDD tests for agent form without instructions/system_prompt fields
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/forms/agents/agent-create-form.test.tsx
Due: frontend-prettier, frontend-lint

feat: US-006 - Remove system_prompt/instructions from agent form, add AGENTS.md guidance note
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

feat: US-007 - Frontend TDD tests for legacy instructions migration card
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/forms/agents/agent-create-form.test.tsx
Due: frontend-prettier, frontend-lint

feat: US-008 - Implement legacy instructions migration card
  frontend/src/components/forms/agents/agent-create-form.test.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

feat: US-008 - Update PRD and progress tracking
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-009 - Install Intro.js and create useIntroTour hook
  .ralph/prd.json
  .ralph/progress.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useIntroTour.ts
Due: frontend-prettier, frontend-lint

feat: US-010 - Add AGENTS.md onboarding tour to agent create page
  frontend/src/components/forms/agents/agent-create-form.test.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

feat: US-010 - Update PRD and progress tracking
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-011 - Create AGENTS.md wiki documentation page
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-012 - Update assistants index page to reference AGENTS.md
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-013 - Create interactive tours developer guide
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-014 - End-to-end AGENTS.md verification
  .ralph/prd.json
  .ralph/progress.txt
Due: none
