Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

chore: add prd.json for #820 from spec
  .ralph/prd.json
Due: none

feat: US-001 - Add exec server template to MCP_TEMPLATES
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
Due: frontend-prettier, frontend-lint

feat: US-002 - Add edit button to MCP server cards
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
Due: frontend-prettier, frontend-lint

chore: commit prd.json
  .ralph/prd.json
Due: none

docs: align exec server template with sandbox docs (streamable_http, localhost:3005/mcp)
  .ralph/prd.json
  specs/820-exec-server-template-edit-mcp.md
Due: none

fix: US-001 - correct exec server template to use streamable_http, localhost:3005/mcp, x-api-key header
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
Due: frontend-prettier, frontend-lint

chore: mark US-001 and US-002 as passing
  .ralph/prd.json
Due: none

feat(mobile): file system sidebar open full-width on mobile #822
  .ralph/archive/feat-820/prd.json
  .ralph/prd.json
  Changelog.md
Due: none

feat: US-001 - Full-width file tree sidebar on mobile viewports
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

chore: mark US-001 as passing
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: archive feat-820 specs and add feat-822 spec
  .ralph/archive/feat-820/specs/820-exec-server-template-edit-mcp.md
  .ralph/archive/feat-820/specs/persist-subagent-selection.md
  Makefile
  specs/822-mobile-file-sidebar-full-width.md
Due: none

init feat/826-dedup-ci-jobs
  .ralph/archive/feat-822/prd.json
  .ralph/archive/feat-822/progress.txt
  .ralph/archive/feat-822/specs/820-exec-server-template-edit-mcp.md
  .ralph/archive/feat-822/specs/822-mobile-file-sidebar-full-width.md
  .ralph/archive/feat-822/specs/persist-subagent-selection.md
  Changelog.md
Due: none

docs: add spec for #826 CI deduplication
  specs/826-dedup-ci-jobs.md
Due: none

chore: add Ralph config for #826
  .ralph/prd.json
Due: none

feat: US-001 - Fix duplicate test job triggers
  .github/workflows/test.yml
Due: none

feat: US-002 - Chain deploy-docker to auto-trigger after build on tag
  .github/workflows/deploy-docker.yml
Due: none

feat: US-003 - Update Ralph PRD and mark all stories complete
  .ralph/prd.json
Due: none

feat: US-002 - Add deploy job to build workflow for rc tags
  .github/workflows/build.yml
  .github/workflows/deploy-docker.yml
Due: none

init feat/819-tool-tag-filter-chips
  .ralph/archive/feat-826/prd.json
  .ralph/archive/feat-826/specs/820-exec-server-template-edit-mcp.md
  .ralph/archive/feat-826/specs/822-mobile-file-sidebar-full-width.md
  .ralph/archive/feat-826/specs/826-dedup-ci-jobs.md
  .ralph/archive/feat-826/specs/persist-subagent-selection.md
  Changelog.md
Due: none

docs: add spec for #819 tool tag filter chips
  specs/819-tool-tag-filter-chips.md
Due: none

chore: add Ralph config for #819
  .ralph/prd.json
Due: none

feat: US-001 - Create PlatformToolsPanel test file
  frontend/src/components/modals/ToolSelectionModal/__tests__/PlatformToolsPanel.test.tsx
Due: frontend-prettier, frontend-lint

chore: update Ralph PRD - mark US-001 and US-002 as passing
  .ralph/prd.json
Due: none

chore: mark US-003 as passing in Ralph PRD
  .ralph/prd.json
Due: none

Should not show job for pull_request test.yml
  .claude/specs/.gitkeep
  .github/workflows/test.yml
  .ralph/archive/2026-02-22-monaco-tool-display/prd.json
  .ralph/archive/2026-02-22-monaco-tool-display/progress.txt
  .ralph/archive/feat-803-subagent-modal/progress.txt
  specs/.gitkeep
  specs/tool-modal.png
  tasks/prd-persist-subagent-selection.md
  tasks/prd-tool-tag-filter-chips.md
Due: none

init bug/823-schedule-calendar-mobile-overflow
  Changelog.md
Due: none

docs: add spec for #823 calendar mobile overflow
  specs/823-schedule-calendar-mobile-overflow.md
Due: none

chore: add Ralph config for #823
  .ralph/prd.json
Due: none

feat: US-001 - Add mobile CSS breakpoints for calendar
  frontend/src/styles/calendar.css
Due: frontend-prettier, frontend-lint

feat: US-002 - Fix calendar container responsive sizing
  frontend/src/components/calendar/ScheduleCalendar.tsx
Due: frontend-prettier, frontend-lint

chore: update Ralph PRD - US-002 passes
  .ralph/prd.json
Due: none

chore: update Ralph PRD - US-003 passes
  .ralph/prd.json
Due: none

Remove claude code job so does not messy up actions page
  .github/workflows/claude.yml
  specs/823-schedule-calendar-mobile-overflow.md
Due: none

chore: initialize feat-830 worktree with changelog and archive
  .ralph/archive/bug-823/prd.json
  Changelog.md
Due: none

docs: add specs and prd.json for feat-830 model visibility backend migration
  specs/001-backend-schema.md
  specs/002-backend-repo.md
  specs/003-frontend-hook.md
  specs/004-frontend-ui.md
  specs/005-cleanup-and-docs.md
Due: none

feat: US-001 - Add default_model_visibility field to UserSettings entity and API schemas
  backend/src/schemas/entities/settings.py
Due: backend-format

feat: US-002 - Wire model_visibility through repo and route response builder
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
Due: backend-format

feat: US-003 - Migrate useModelVisibility hook from localStorage to backend API
  frontend/src/hooks/useModelVisibility.test.ts
  frontend/src/hooks/useModelVisibility.ts
  frontend/src/lib/services/userSettingsService.ts
Due: frontend-prettier, frontend-lint
