Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

feat: US-014 - End-to-end AGENTS.md verification
  .ralph/prd.json
  .ralph/progress.txt
  backend/tests/integration/test_agents_md_e2e.py
Due: backend-format

chore: add US-015/016 — remove Intro.js, replace wiki tours with AGENTS.md guide
  .ralph/prd.json
Due: none

feat: US-015 - Remove Intro.js and tour system due to license conflict
  .ralph/prd.json
  .ralph/progress.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/agents/agent-create-form.test.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/hooks/useIntroTour.ts
Due: frontend-prettier, frontend-lint

feat: US-016 - Replace interactive-tours with AGENTS.md workflow guide (with screenshots)
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: add US-017/018/019 — validate docs link, runtime behavior, and navigation
  .ralph/prd.json
Due: none

feat: US-017 - Fix docs link URL to include /docs/ prefix
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

chore: US-018/US-019 - Validate AGENTS.md runtime behavior and docs link navigation
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Feat(PRD): Add AGENTS.md system prompt injection plan (#731)
  .claude/commands/ralph/plan.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_BACKEND_FLOW_ARCHITECT.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_FILE_SCHEMA.md
  .claude/plans/plan-agents-md-system-prompt-injection/EXPERT_INTEGRATION_WORKER.md
  .claude/plans/plan-agents-md-system-prompt-injection/SYNTHESIS.md
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-agents-md-system-prompt-injection.md
Due: none

feat: US-001 - Add extract_agents_md() helper method to LLMService
  backend/src/constants/examples/__init__.py
  backend/src/services/llm.py
Due: backend-format

feat: US-002 - Inject AGENTS.md in agent mode (assistant_id present)
  backend/src/services/llm.py
Due: backend-format

feat: US-003 - Inject AGENTS.md in non-agent thread mode
  backend/src/services/llm.py
Due: backend-format

feat: US-004 - Unit tests for extract_agents_md() helper
  backend/tests/unit/services/test_llm_service.py
Due: backend-format

feat: US-005 - Integration tests for AGENTS.md injection in assistant()
  backend/tests/unit/services/test_llm_service.py
Due: backend-format

chore: Update PRD and progress - all stories complete
  .ralph/prd.json
  .ralph/progress.txt
Due: none

upade plan command
  .claude/commands/ralph/plan.md
Due: none

init commit for looop
  .claude/plans/plan-update-scaffold-deep-agent/EXPERT_API_DELTA_ANALYST.md
  .claude/plans/plan-update-scaffold-deep-agent/EXPERT_BACKEND_INTEGRATION_ARCHITECT.md
  .claude/plans/plan-update-scaffold-deep-agent/EXPERT_EXAMPLE_NOTEBOOK_ARCHITECT.md
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-update-scaffold-deep-agent.md
Due: none

feat: US-001 - Remove duplicate compaction middleware behind feature flag
  backend/src/utils/compacting.py
  backend/src/utils/middleware.py
  backend/tests/unit/utils/test_middleware_integration.py
Due: backend-format

feat: US-003 - Add new fields to LLMRequest and Assistant schemas
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/schemas/entities/llm.py
Due: backend-format

feat: US-004 - Add schema tests for new LLMRequest and Assistant fields
  backend/tests/unit/schemas/test_llm_schemas.py
Due: backend-format

feat: US-005 - Wire new parameters through init_graph and Orchestra class
  backend/src/agents/__init__.py
Due: backend-format

feat: US-006 - Wire new parameters through LLMController and stream_generator
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
Due: backend-format

feat: US-007 - Add integration test for new parameter propagation
  backend/tests/unit/agents/__init__.py
  backend/tests/unit/agents/test_init_graph.py
Due: backend-format

feat: US-008 - Deprecate compaction constants
  backend/src/constants/llm.py
Due: backend-format

chore: Update PRD and progress for US-008
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-009 - Add markdown cells and name parameter to example notebooks
  examples/agents/RLM.ipynb
  examples/agents/deep_agent_backend.ipynb
  examples/agents/stream_subagent_updates.ipynb
Due: none

chore: Update PRD and progress for US-009
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-010 - Soft-deprecate system_prompt and instructions on LLMRequest and Assistant
  backend/src/schemas/entities/llm.py
Due: backend-format

chore: Update PRD and progress for US-010
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-011 - Migrate system_prompt/instructions to AGENTS.md via memory parameter in init_graph()
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/agents/__init__.py
Due: backend-format

feat: US-012 - Deprecate init_system_prompt() and update construct_agent() for AGENTS.md migration
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/agents/__init__.py
  backend/src/utils/format.py
Due: backend-format

feat: US-013 - Add tests for system_prompt to AGENTS.md migration
  backend/tests/unit/agents/test_init_graph.py
Due: backend-format

chore: Update PRD and progress for US-013
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-014 - Frontend QA validation of backend changes using agent-browser
  .ralph/prd.json
  .ralph/progress.txt
  .ralph/qa-screenshots/01-logged-in-dashboard.png
  .ralph/qa-screenshots/02-assistant-list.png
  .ralph/qa-screenshots/03-chat-processing.png
  .ralph/qa-screenshots/04-successful-chat-response.png
Due: none

chore: US-015 - Backend API backward compatibility validation
  .ralph/prd.json
  .ralph/progress.txt
Due: none

completed
  backend/src/constants/examples/__init__.py
  tasks/prd-update-scaffold-deep-agent.md
Due: backend-format

init
  Changelog.md
Due: none

feat: US-001 - Create RLM skill directory and SKILL.md with core workflow
  .claude/skills/rlm/SKILL.md
Due: none

feat: US-002 - Add error handling, fallback patterns, and model selection guidance
  .claude/skills/rlm/SKILL.md
Due: none

feat: US-003 - Add 3 realistic example scenarios to SKILL.md
  .claude/skills/rlm/SKILL.md
Due: none

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
