Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

init
  backend/Dockerfile
Due: backend-format

Fix dockerfile
  backend/Dockerfile
Due: backend-format

Adds gridsite tool
  backend/src/constants/__init__.py
  backend/src/tools/__init__.py
  backend/src/tools/gridsite/__init__.py
  backend/src/utils/tools.py
Due: backend-format

FROM feat/480-gridsite-tool TO development (#481)
  backend/Dockerfile
  backend/src/constants/__init__.py
  backend/src/tools/__init__.py
  backend/src/tools/gridsite/__init__.py
  backend/src/utils/tools.py
Due: backend-format

init
  Changelog.md
Due: none

Updates to models and default prompt
  backend/.cursorignore
  backend/src/constants/llm.py
  backend/src/static/prompts/md/default.md
  backend/src/static/prompts/md/verbose.md
  backend/src/tools/gridsite/__init__.py
Due: backend-format

Fix copy buttons
  frontend/src/components/buttons/CopyTextButton.tsx
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

removed
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Fixes showAgentMenu
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

Consolidate files for idy
  backend/main.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/info/__init__.py
  backend/src/routes/v0/info/health.py
Due: backend-format

Schema in place
  backend/.vscode/launch.json
  backend/src/repos/tool_repo.py
  backend/src/services/assistant.py
  backend/src/services/db.py
  backend/src/utils/llm.py
  backend/tests/unit/repos/test_tool_repo.py
Due: backend-format

Good but could use some improvement, unable to filter properlyl
  backend/src/repos/tool_repo.py
  backend/src/utils/security.py
  backend/tests/unit/repos/test_tool_repo.py
Due: backend-format

Can encrypt and filter
  backend/.vscode/launch.json
  backend/src/repos/tool_repo.py
  backend/src/services/db.py
  backend/tests/unit/repos/test_tool_repo.py
Due: backend-format

Working
  backend/tests/unit/repos/test_tool_repo.py
Due: backend-format

Fix tests
  .github/workflows/test.yml
Due: none

APP SECRET KEY
  .github/workflows/test.yml
Due: none

Fix tests
  backend/tests/integration/test_main.py
Due: backend-format

dont test this
  backend/tests/unit/repos/test_tool_repo.py
Due: backend-format

Should dlete after
  backend/src/repos/tool_repo.py
  backend/tests/unit/repos/test_tool_repo.py
Due: backend-format

A bit more condensed
  backend/.vscode/launch.json
  backend/src/repos/tool_repo.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/ms_teams/__init__.py
  backend/src/tools/test.py
  backend/src/utils/format.py
  backend/src/utils/tools.py
  backend/tests/unit/services/test_tool.py
Due: backend-format

Add env back to keep easy
  backend/src/repos/tool_repo.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/test.py
  backend/src/utils/format.py
  backend/tests/unit/services/test_tool.py
Due: backend-format

This si better
  backend/src/repos/tool_repo.py
  backend/src/services/tool.py
  backend/src/tools/test.py
  backend/tests/unit/services/test_tool.py
Due: backend-format

This appears best atm
  backend/.vscode/launch.json
  backend/src/repos/tool_repo.py
  backend/src/services/tool.py
  backend/tests/unit/services/test_tool_service.py
Due: backend-format

fix test
  backend/tests/unit/services/test_tool_service.py
Due: backend-format

Remove unused vars
  backend/tests/unit/services/test_tool_service.py
Due: backend-format

Can create and delete tools
  backend/.vscode/launch.json
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/routes/v0/tool/info.py
  backend/src/routes/v0/tool/invoke.py
  backend/src/services/tool.py
  backend/src/tools/ms_teams/__init__.py
  backend/tests/__init__.py
  backend/tests/integration/test_tool_routes.py
Due: backend-format

fix response
  backend/src/routes/v0/tool/__init__.py
Due: backend-format

Think we're ready for frontend
  backend/src/routes/v0/tool/__init__.py
Due: backend-format

Only render user tools if user_id
  backend/src/tools/__init__.py
Due: backend-format

This is supposed to be condensed but I can no .longger acceess it with in a grpah
  backend/src/contexts/service.py
  backend/src/flows/__init__.py
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/llm.py
  backend/src/services/tool.py
  backend/src/utils/format.py
  backend/src/utils/stream.py
Due: backend-format

Fixed by getting the tool_call_id and collecting the details from the recent message
  backend/pyproject.toml
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/services/tool.py
  backend/src/tools/test.py
  backend/src/utils/format.py
  backend/uv.lock
Due: backend-format

Adjusted teams tool
  backend/src/tools/ms_teams/__init__.py
Due: backend-format

Can select a user tool
  backend/src/repos/tool_repo.py
  backend/src/services/tool.py
  backend/src/tools/test.py
  backend/src/utils/format.py
Due: backend-format

This appears to be way to configure
  backend/src/tools/test.py
Due: backend-format

Fix tool_repo tests
  backend/.vscode/launch.json
  backend/tests/unit/repos/test_tool_repo.py
Due: backend-format

Should be ready to mrerge
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Merging this for nwo
  backend/src/constants/llm.py
  backend/src/contexts/service.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/tools/api.py
  backend/src/utils/auth.py
  frontend/src/components/lists/SelectModel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Remove unused
  frontend/src/components/lists/SelectModel.tsx
Due: frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
