Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

Add PRD for model select bug fix (#771) and cloudflared config
  .cloudflared/config.yml
  tasks/prd-model-select-bug-fix.md
Due: none

chore: finished iteration 1
  frontend/package-lock.json
Due: frontend-prettier, frontend-lint

feat: US-001 - Wire SelectModel value into react-hook-form
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/lists/SelectModel.tsx
Due: frontend-prettier, frontend-lint

feat: US-002 - Fix model pre-population on assistant edit page
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

chore: update frontend package-lock.json
  frontend/package-lock.json
Due: frontend-prettier, frontend-lint

chore: finish iteration 1
  frontend/package-lock.json
Due: frontend-prettier, frontend-lint

Select field is in place
  .claude/plans/feat-772/01.md
  frontend/package-lock.json
  frontend/src/components/lists/SelectModel.tsx
Due: frontend-prettier, frontend-lint

FROM feat/772-schedule-model-dropdown TO development (#780)
  .claude/plans/feat-772/01.md
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/hooks/useModelsList.ts
  frontend/src/pages/schedules/index.tsx
  tasks/prd-schedule-model-dropdown.md
Due: frontend-prettier, frontend-lint

Remove .fix-771
  .cloudflared/config.yml
  .fix-771.md
  .gitignore
Due: none

frontned build fix
  frontend/src/components/lists/SelectModel.tsx
Due: frontend-prettier, frontend-lint

FROM feat/771-model-select-validation TO development (#779)
  .gitignore
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/pages/agents/create.tsx
  tasks/prd-model-select-bug-fix.md
  tasks/prd-model-select-validation.md
Due: frontend-prettier, frontend-lint

chore: issue resolved
  .claude/plans/bug-737/01.md
  frontend/src/lib/utils/calendar.test.ts
  frontend/src/lib/utils/calendar.ts
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

Fix lint warnings
  frontend/eslint.config.js
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/inputs/MonacoEditor.tsx
  frontend/src/components/lists/ListProjectThreads.tsx
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/tools/ChartRenderWidget.tsx
  frontend/src/components/tools/SearchEngine.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useA2AHook.ts
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMcpHook.ts
  frontend/src/hooks/useServerHook.ts
  frontend/src/lib/utils/calendar.test.ts
  frontend/src/pages/agents/public.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

alias fix
  frontend/src/lib/utils/calendar.test.ts
Due: frontend-prettier, frontend-lint

Additional linting
  frontend/src/components/lists/ListProjectThreads.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/agents/public.tsx
Due: frontend-prettier, frontend-lint

Padding at bottom of calnedar
  frontend/src/components/calendar/ScheduleCalendar.tsx
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

FROM bug/727-schedules-page-no-show TO development (#782)
  .claude/plans/bug-737/01.md
  frontend/eslint.config.js
  frontend/src/components/calendar/ScheduleCalendar.tsx
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/inputs/MonacoEditor.tsx
  frontend/src/components/lists/ListProjectThreads.tsx
  frontend/src/components/modals/ToolSelectionModal/ApiToolForm.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/tools/ChartRenderWidget.tsx
  frontend/src/components/tools/SearchEngine.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useA2AHook.ts
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMcpHook.ts
  frontend/src/hooks/useServerHook.ts
  frontend/src/lib/utils/calendar.test.ts
  frontend/src/lib/utils/calendar.ts
  frontend/src/pages/agents/public.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

feat: US-001 - Create Memories index page and add route
  frontend/src/pages/memories/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

commit plans
  .claude/plans/feat-784/01.md
  frontend/package-lock.json
  tasks/prd-isolate-memories-page.md
Due: frontend-prettier, frontend-lint

feat: US-002 - Add Memories link to sidebar navigation
  frontend/src/components/drawers/app-sidebar.tsx
Due: frontend-prettier, frontend-lint

feat: US-003 - Update memory create/edit back-navigation to /memories
  frontend/src/pages/memories/create.tsx
  frontend/src/pages/memories/edit.tsx
Due: frontend-prettier, frontend-lint

feat: US-004 - Remove MemorySettings from Settings page
  frontend/src/pages/settings/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-005 - Define default memories content
  backend/pyproject.toml
  backend/src/constants/default_memories.py
Due: backend-format

feat: US-006 - Create seed utility that adds missing defaults
  backend/src/utils/memory_seed.py
Due: backend-format

feat: US-007 - Auto-seed memories on user registration
  backend/src/routes/v0/auth.py
Due: backend-format

feat: US-008 - Create manual memory seeder script
  backend/seeds/memory_seeder.py
Due: backend-format

feat: US-009 - Add Makefile target for memory seeder
  backend/Makefile
Due: backend-format

docs: add implementation plan for #781
  .claude/plans/feat-781/01.md
Due: none

feat: US-001 - Capture stream logs for tool call chunk structure
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

fix: capture user_repo.create return and add return type hint
  backend/seeds/memory_seeder.py
  backend/src/routes/v0/auth.py
Due: backend-format

feat: US-002 - Split tool_calls into individual tool_input messages
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend-prettier, frontend-lint

feat: US-003 - Update StreamMessageHandler for per-tool-call tracking
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

feat: US-004 - Render tool_input messages in ChatMessages
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

fix: robust ASYNC_DB_URI building and configurable SSL in memory seeder
  backend/seeds/memory_seeder.py
Due: backend-format

feat: US-005 - Add tests for split tool_input behavior
  frontend/src/lib/utils/format.test.ts
Due: frontend-prettier, frontend-lint

FROM feat/784-isolate-memories-page TO development (#784) (#785)
  .claude/plans/feat-784/01.md
  backend/Makefile
  backend/pyproject.toml
  backend/seeds/memory_seeder.py
  backend/src/constants/default_memories.py
  backend/src/routes/v0/auth.py
  backend/src/utils/memory_seed.py
  frontend/package-lock.json
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/pages/memories/create.tsx
  frontend/src/pages/memories/edit.tsx
  frontend/src/pages/memories/index.tsx
  frontend/src/routes/AppRoutes.tsx
  tasks/prd-isolate-memories-page.md
Due: backend-format, frontend-prettier, frontend-lint

feat: US-006 - End-to-end validation
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

commit plan
  tasks/prd-separate-tool-inputs.md
Due: none

FROM feat/781-separate-tool-inputs TO development (#786)
  .claude/plans/feat-781/01.md
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/message.ts
  tasks/prd-separate-tool-inputs.md
Due: frontend-prettier, frontend-lint

docs: add implementation plan for #788
  .claude/plans/feat-788/01.md
Due: none

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
