Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

feat: US-003 - Simplify schedule create route
  backend/src/routes/v0/schedule.py
Due: backend-format

feat: US-004 - Add unit tests for TaskIQ dispatch path
  backend/tests/unit/services/test_schedule_service.py
Due: backend-format

docs: update prd.json and progress.txt - all stories complete
  prd.json
  progress.txt
  tasks/prd-schedule-taskiq-dispatch.md
Due: none

Finished ralph loop
  backend/src/services/project.py
  backend/src/services/tool.py
  backend/src/tools/base/reasoning.py
  backend/src/tools/finance/news.py
  backend/src/tools/ms_teams/__init__.py
  backend/src/tools/search.py
  backend/src/utils/a2a.py
  backend/src/utils/format.py
  backend/src/utils/messages.py
  backend/src/utils/retrieval.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
  backend/tests/conftest.py
  backend/tests/integration/test_agent_stream.py
  backend/tests/integration/test_multi_turn_distributed.py
  backend/tests/unit/controllers/test_files_state.py
  backend/tests/unit/controllers/test_llm_controller.py
  backend/tests/unit/services/test_checkpoint_resilient.py
  backend/tests/unit/services/test_project_service.py
  backend/tests/unit/services/test_source_service.py
  backend/tests/unit/tools/test_web_scrape.py
  backend/tests/unit/utils/test_handle_multi_mode.py
  backend/tests/unit/workers/test_broker.py
  package-lock.json
Due: backend-format

Move the input files
  prd.json
  progress.txt
Due: none

FROM feat/720-schedules-task-iq TO development (#721)
  backend/src/constants/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/schedule.py
  backend/src/services/project.py
  backend/src/services/schedule.py
  backend/src/services/tool.py
  backend/src/tools/base/reasoning.py
  backend/src/tools/finance/news.py
  backend/src/tools/ms_teams/__init__.py
  backend/src/tools/search.py
  backend/src/utils/a2a.py
  backend/src/utils/format.py
  backend/src/utils/messages.py
  backend/src/utils/retrieval.py
  backend/src/utils/stream.py
  backend/src/utils/tools.py
  backend/tests/conftest.py
  backend/tests/integration/test_agent_stream.py
  backend/tests/integration/test_multi_turn_distributed.py
  backend/tests/unit/controllers/test_files_state.py
  backend/tests/unit/controllers/test_llm_controller.py
  backend/tests/unit/services/test_checkpoint_resilient.py
  backend/tests/unit/services/test_project_service.py
  backend/tests/unit/services/test_schedule_service.py
  backend/tests/unit/services/test_source_service.py
  backend/tests/unit/tools/test_web_scrape.py
  backend/tests/unit/utils/test_handle_multi_mode.py
  backend/tests/unit/workers/test_broker.py
  package-lock.json
  tasks/prd-schedule-taskiq-dispatch.md
Due: backend-format

Adds images
  .claude/plans/.gitkeep
  .claude/plans/feat-722-frontend-schedule-refactor/images/01_navigate.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/02_schedules-index-page.png
  .claude/plans/feat-722-frontend-schedule-refactor/images/03_select-agent-for-schedule.png
  Changelog.md
Due: none

init plan in place
  .claude/plans/feat-722-frontend-schedule-refactor/PLAN.md
Due: none

feat: US-001 - Install React Big Calendar and setup dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-lint

feat: US-002 - Define ScheduleExecution and ScheduleEvent entity types
  frontend/src/lib/entities/schedule.ts
Due: frontend-prettier, frontend-lint

feat: US-003 - Add execution endpoints to schedule service
  frontend/src/lib/services/scheduleService.ts
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-003
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-004 - Add calendar utility functions
  frontend/src/lib/utils/calendar.ts
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-004
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-005 - Create useScheduleExecutions hook
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/hooks/useScheduleExecutions.ts
Due: frontend-prettier, frontend-lint

feat: US-006 - Sidebar Navigation for Schedules
  .claude/specs/feat-722-frontend-schedule-refactor/prd.json
  .claude/specs/feat-722-frontend-schedule-refactor/progress.txt
  frontend/src/components/drawers/app-sidebar.tsx
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-006
  .claude/specs/feat-722-frontend-schedule-refactor/prd.json
  .claude/specs/feat-722-frontend-schedule-refactor/progress.txt
Due: none

feat: US-006 - Create ScheduleSidebarItem component
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/sidebar/ScheduleSidebarItem.tsx
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-006
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: update PRD and progress for US-007
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-008 - Remove schedule navigation from SettingsPopover
  frontend/src/components/popovers/SettingsPopover.tsx
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-008
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-009 - Implement ScheduleCalendar component with React Big Calendar
  frontend/src/components/calendar/ScheduleCalendar.tsx
  frontend/src/styles/calendar.css
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-009
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-010 - Create custom calendar CSS for shadcn/ui theme
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/styles/calendar.css
Due: frontend-prettier, frontend-lint

feat: US-011 - Implement ScheduleTable component with PAST/FUTURE toggle
  frontend/src/components/tables/ScheduleTable.tsx
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-011
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-012 - Create ViewToggle component for Calendar/Table switch
  frontend/src/components/toggles/ViewToggle.tsx
Due: frontend-prettier, frontend-lint

feat: US-013 - Refactor Schedules index page with Calendar/Table views
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-014 - Final verification and lint/format cleanup
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-004 - Add unit tests for TaskIQ dispatch path
  backend/tests/unit/services/test_schedule_dispatch.py
Due: backend-format

chore: add progress log for US-004
  progress.txt
Due: none

Fix 422
  backend/src/constants/llm.py
  backend/src/utils/messages.py
  backend/tests/unit/controllers/test_files_state.py
  backend/tests/unit/controllers/test_llm_controller.py
  backend/tests/unit/workers/test_broker.py
  tasks/prd-fix-schedule-payload.md
Due: backend-format

prd in place for 422 fix
  .ralph/prd.json
  .ralph/progress.txt
  RALPH_TASK.md
  frontend/src/hooks/useScheduleExecutions.ts
  prd.json
  progress.txt
Due: frontend-prettier, frontend-lint

Fix prd start
  frontend/src/hooks/useScheduleExecutions.ts
  frontend/src/pages/schedules/index.tsx
  tasks/prd-fix-schedule-payload.md
Due: frontend-prettier, frontend-lint

feat: US-001 - Update ScheduleCreate TypeScript Interface
  frontend/src/lib/entities/schedule.ts
Due: frontend-prettier, frontend-lint

feat: US-002 - Update AgentScheduleForm Payload Construction
  frontend/src/components/forms/AgentScheduleForm.tsx
Due: frontend-prettier, frontend-lint

feat: US-003 - Update Schedule Page Create/Edit Handlers
  frontend/src/components/cards/AgentScheduleCard.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-004 - Verify End-to-End Schedule CRUD
  .ralph/prd.json
  .ralph/progress.txt
Due: none

init feat/724-add-watcher-to-worker-reload
  Changelog.md
Due: none
