Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

Change spot on settings popover
  frontend/src/components/popovers/SettingsPopover.tsx
Due: frontend-prettier, frontend-lint

Fix frontend
  frontend/src/pages/settings/index.tsx
Due: frontend-prettier, frontend-lint

FROM feat/578-api-token-support TO development (#581)
  Changelog.md
  backend/migrations/env.py
  backend/src/repos/api_token_repo.py
  backend/src/repos/base_repo.py
  backend/src/repos/user_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/api_tokens.py
  backend/src/routes/v0/token.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/auth.py
  backend/src/schemas/models/__init__.py
  backend/src/schemas/models/auth.py
  backend/src/services/db.py
  backend/src/utils/auth.py
  backend/tests/integration/test_api_tokens.py
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/settings/ApiTokensSettings.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/settings/index.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

init
  Changelog.md
  backend/src/constants/__init__.py
Due: backend-format

init
  Changelog.md
Due: none

Allows for granular model selection
  backend/src/schemas/models/auth.py
  backend/src/static/prompts/md/default.md
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/components/settings/ModelVisibilitySettings.tsx
  frontend/src/hooks/useModelVisibility.test.ts
  frontend/src/hooks/useModelVisibility.ts
  frontend/src/pages/settings/index.tsx
Due: backend-format, frontend-prettier, frontend-lint

Do not parse user messages, only response
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Adds fastapi_cache
  backend/main.py
  backend/pyproject.toml
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/utils/cache.py
  backend/uv.lock
  frontend/src/hooks/useModelVisibility.ts
Due: backend-format, frontend-prettier, frontend-lint

Updates
  backend/pyproject.toml
  backend/src/tools/code.py
  backend/uv.lock
  frontend/src/components/settings/ModelVisibilitySettings.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/585-user-defaults TO development (#586)
  Changelog.md
  backend/main.py
  backend/pyproject.toml
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/schemas/models/auth.py
  backend/src/static/prompts/md/default.md
  backend/src/tools/code.py
  backend/src/utils/cache.py
  backend/uv.lock
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/components/settings/ModelVisibilitySettings.tsx
  frontend/src/hooks/useModelVisibility.test.ts
  frontend/src/hooks/useModelVisibility.ts
  frontend/src/pages/settings/index.tsx
Due: backend-format, frontend-prettier, frontend-lint

Has ttft now
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/utils/middleware.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useStream.ts
  frontend/src/lib/utils/message.ts
Due: backend-format, frontend-prettier, frontend-lint

doesn't fix yet but would make for good deployment to test
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

FROM bug/541-gemini-stream-stop-fix TO development (#587)
  Changelog.md
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/utils/middleware.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useStream.ts
  frontend/src/lib/utils/message.ts
Due: backend-format, frontend-prettier, frontend-lint

update changelog
  Changelog.md
Due: none

Improves landing page UX
  RESOLVE.md
  backend/src/schemas/contexts/__init__.py
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/layouts/NoAuthLayout.tsx
Due: backend-format, frontend-prettier, frontend-lint

Improves landing page UX
  RESOLVE.md
Due: none

update image paths
  README.md
  backend/README.md
  docker/README.md
Due: backend-format

more fixes for name
  .github/workflows/build.yml
  .gitmodules
  CONTRIBUTING.md
  backend/main.py
  backend/mkdocs.yml
  backend/scripts/build.sh
  backend/src/schemas/examples/__init__.py
  backend/src/static/prompts/md/default.md
  backend/src/static/prompts/md/verbose.md
  backend/src/static/prompts/xml/default.md
  backend/src/static/prompts/xml/verbose.md
  backend/tests/unit/services/test_project_service.py
  docs/getting-started.md
  docs/index.md
  docs/tools/a2a.md
  docs/tools/mcp.md
  examples/tools/yfinance.ipynb
  frontend/src/components/icons/HelpfulIcons.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/sections/chat-section.tsx
  frontend/src/components/sections/home/home-section.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fix most of mobile
  frontend/src/components/sections/home/home-section.tsx
  frontend/vite.config.ts
Due: frontend-prettier, frontend-lint

Fixes mobile
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/sections/home/home-section.tsx
Due: frontend-prettier, frontend-lint

FROM feat/588-home-page-facelift TO development (#590)
  .github/workflows/build.yml
  .gitmodules
  CONTRIBUTING.md
  Changelog.md
  README.md
  backend/README.md
  backend/main.py
  backend/mkdocs.yml
  backend/scripts/build.sh
  backend/src/schemas/contexts/__init__.py
  backend/src/schemas/examples/__init__.py
  backend/src/static/prompts/md/default.md
  backend/src/static/prompts/md/verbose.md
  backend/src/static/prompts/xml/default.md
  backend/src/static/prompts/xml/verbose.md
  backend/tests/unit/services/test_project_service.py
  docker/README.md
  docs/getting-started.md
  docs/index.md
  docs/tools/a2a.md
  docs/tools/mcp.md
  examples/tools/yfinance.ipynb
  frontend/src/components/icons/HelpfulIcons.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/sections/chat-section.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

Correlation tool
  backend/src/tools/finance/__init__.py
  backend/src/tools/finance/correlation.py
Due: backend-format

Auto open charts
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  frontend/src/components/timeline/ToolTimelineItem.tsx
  frontend/src/pages/Home.tsx
Due: backend-format, frontend-prettier, frontend-lint

Can fetch models to default page
  frontend/src/pages/Home.tsx
Due: frontend-prettier, frontend-lint

fixed
  Changelog.md
  backend/src/tools/finance/news.py
  frontend/src/components/timeline/ToolTimelineItem.tsx
Due: backend-format, frontend-prettier, frontend-lint

fixed (#598)
  Changelog.md
  backend/src/tools/finance/news.py
  frontend/src/components/timeline/ToolTimelineItem.tsx
Due: backend-format, frontend-prettier, frontend-lint

replicates subagent deselect
  Changelog.md
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

replicates subagent deselect (#601)
  Changelog.md
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

token endpoints g2g
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/api_tokens.py
Due: backend-format

Error on create_api_tool
  backend/src/utils/tools.py
Due: backend-format

FROM feat/595-tokens-and-secrets TO development (#600)
  Changelog.md
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/api_tokens.py
Due: backend-format

These changes allow for users specific backend but need ability to add files
  backend/src/flows/__init__.py
Due: backend-format

Can pass files to init_backend
  backend/pyproject.toml
  backend/src/constants/examples/__init__.py
  backend/src/flows/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/stream.py
  backend/uv.lock
Due: backend-format

It appears to work with both but need to get in UI
  backend/src/constants/examples/__init__.py
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
Due: backend-format

Allows for adding and removing files but not working with edits
  backend/src/controllers/llm.py
  examples/agents/deep_agent_backend.ipynb
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/ui/context-menu.tsx
  frontend/src/components/viewers/FileViewer.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
