Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

FROM feat/425-editor-for-system-message TO development (#426)
  Changelog.md
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/inputs/MonacoEditor.tsx
Due: frontend-prettier, frontend-lint

Fix modals
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/vite.config.ts
Due: frontend-prettier, frontend-lint

Update routing on frontend
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

Better UIUX for agents selct
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/menus/AgentMenu.tsx
Due: frontend-prettier, frontend-lint

Fix api docs
  backend/src/controllers/llm.py
  backend/src/schemas/models/assistant.py
Due: backend-format

init
  Changelog.md
Due: none

Implement IntroJS guided tours for Issue #427
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/buttons/ColorModeButton.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/intro/TourButton.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/contexts/IntroContext.tsx
  frontend/src/hooks/useIntroTour.tsx
  frontend/src/lib/intro/steps.ts
  frontend/src/main.tsx
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/styles/intro-theme.css
Due: frontend-prettier, frontend-lint

feat: Enhance schedule modal clarity with improved agent context
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  plans/bug-419-schedule-modal.md
Due: frontend-prettier, frontend-lint

Fix IntroJS UX: Remove auto-triggers and add manual help button
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/agents/create.tsx
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

revisions are working, but need cleanup
  backend/main.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/prompt.py
  backend/src/services/prompt.py
  backend/src/utils/format.py
Due: backend-format

Blieve g2g
  backend/main.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/prompt.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/prompt/revision.py
  backend/src/services/prompt.py
Due: backend-format

FROM feat/429-prompt-endpoints TO development (#432)
  Changelog.md
  backend/main.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/prompt/revision.py
  backend/src/services/prompt.py
  backend/src/utils/format.py
Due: backend-format

init
  backend/src/services/checkpoint.py
  plans/feat-433-support-prompt-endpoint-ui.md
Due: backend-format

Prompts pages but needs updates
  frontend/src/components/cards/PromptCard.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/PromptSelectionModal.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/context/PromptContext.tsx
  frontend/src/lib/entities/prompt.ts
  frontend/src/lib/services/promptService.ts
  frontend/src/main.tsx
  frontend/src/pages/prompts/create.tsx
  frontend/src/pages/prompts/edit.tsx
  frontend/src/pages/prompts/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

prompts page
  plans/feat-433-support-prompt-endpoint-ui.md
Due: none

Update the npm run build
  frontend/src/pages/prompts/create.tsx
  frontend/src/pages/prompts/edit.tsx
  frontend/src/pages/prompts/index.tsx
Due: frontend-prettier, frontend-lint

Fix static prompts
  backend/src/routes/v0/prompt/__init__.py
Due: backend-format

Fixes epilepsy problem
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/context/PromptContext.tsx
  frontend/src/hooks/useLinkClick.tsx
Due: frontend-prettier, frontend-lint

Better responseive but doesn't scroll
  backend/src/services/prompt.py
  frontend/src/pages/prompts/edit.tsx
  frontend/src/pages/prompts/index.tsx
Due: backend-format, frontend-prettier, frontend-lint

lets merge this and beef up from here
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

FROM feat/433-add-support-prompt-ui TO development (#434)
  backend/src/routes/v0/prompt/__init__.py
  backend/src/services/checkpoint.py
  backend/src/services/prompt.py
  frontend/src/components/cards/PromptCard.tsx
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/PromptSelectionModal.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/context/PromptContext.tsx
  frontend/src/hooks/useLinkClick.tsx
  frontend/src/lib/entities/prompt.ts
  frontend/src/lib/services/promptService.ts
  frontend/src/main.tsx
  frontend/src/pages/prompts/create.tsx
  frontend/src/pages/prompts/edit.tsx
  frontend/src/pages/prompts/index.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fix view to raw
  frontend/src/pages/prompts/edit.tsx
Due: frontend-prettier, frontend-lint

ezier llm queries
  backend/src/constants/examples/__init__.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/models/assistant.py
  backend/src/services/assistant.py
  backend/src/utils/format.py
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

update frontend
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Should be good to merge
  backend/src/schemas/models/assistant.py
Due: backend-format

FROM feat/431-assistant-id-optimize TO development (#436)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/models/assistant.py
  backend/src/services/assistant.py
  backend/src/utils/format.py
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

Init
  Changelog.md
Due: none

Simpler
  backend/src/contexts/service.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/models/assistant.py
  backend/src/utils/messages.py
  backend/src/utils/stream.py
Due: backend-format

Consolidate the service funcitonality context
  backend/src/contexts/service.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/thread.py
  backend/src/services/checkpoint.py
Due: backend-format

Additional consolidations, no updates to threads really
  backend/src/controllers/llm.py
  backend/src/repos/agent_repo.py
  backend/src/repos/revision_repo.py
  backend/src/repos/settings_repo.py
  backend/src/repos/thread_repo.py
  backend/src/routes/v0/thread.py
  backend/src/services/assistant.py
  backend/src/services/db.py
  backend/src/services/mcp.py
  backend/src/services/store.py
  frontend/src/pages/prompts/edit.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fixes threads with assistants
  backend/src/contexts/service.py
  backend/src/routes/v0/thread.py
  backend/src/services/thread.py
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/hooks/useThread.ts
Due: backend-format, frontend-prettier, frontend-lint

Better at capture thread_id
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/utils/stream.py
  frontend/src/components/lists/ListThreads.tsx
Due: backend-format, frontend-prettier, frontend-lint

Using streams but not working the best as can't retrieve them
  backend/.example.env
  backend/pyproject.toml
  backend/src/constants/__init__.py
  backend/src/services/redis.py
  backend/src/utils/stream.py
  backend/uv.lock
  docker-compose.yml
Due: backend-format

Incrementer for counting tokens. Grasping at straws for tonight
  backend/src/services/redis.py
  backend/src/utils/stream.py
Due: backend-format

init
  Changelog.md
  backend/src/contexts/service.py
  backend/src/routes/v0/llm.py
  backend/src/services/memory.py
  backend/src/utils/stream.py
Due: backend-format

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
