Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

docs: add PRD and ralph config for #788
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-rename-schedules-to-crons.md
Due: none

feat: US-001 - Rename backend schema and entities
  backend/src/controllers/llm.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/cron.py
  backend/src/services/schedule.py
Due: backend-format

docs: add implementation plan for #790
  .claude/plans/feat-790/01.md
Due: none

feat: US-002 - Rename backend service
  backend/main.py
  backend/src/contexts/service.py
  backend/src/controllers/llm.py
  backend/src/routes/v0/schedule.py
  backend/src/services/cron.py
Due: backend-format

docs: add PRD and ralph config for #790
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-chat-tool-config.md
Due: none

feat: US-003 - Rename backend routes and API endpoints
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/cron.py
Due: backend-format

feat: US-001 - Add Configure Tools option to BaseToolMenu
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

feat: US-004 - Update remaining backend references
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/cron.py
  backend/src/services/cron.py
  backend/src/workers/tasks.py
Due: backend-format

feat: US-002 - Wire modal apply to update AgentContext
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

feat: US-005 - Create database migration to rename schedules to crons
  backend/migrations/versions/0002_rename_schedules_to_crons.py
  backend/src/services/cron.py
Due: backend-format

docs: add implementation plan for #694
  .claude/plans/feat-694/01.md
Due: none

feat: US-003 - Add active tools indicator
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

docs: add PRD and ralph config for #694
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-show-subagent-tool-calls.md
Due: none

feat: US-004 - Improve BaseToolMenu layout
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

docs: add implementation plan for #793
  .claude/plans/feat-793/01.md
Due: none

docs: add PRD and ralph config for #793
  .ralph/prd.json
  .ralph/progress.txt
  tasks/prd-rlm-integration.md
Due: none

feat: US-001 - Preserve lc_agent_name in backend serialization
  backend/src/utils/messages.py
  backend/src/utils/stream.py
Due: backend-format

feat: US-005 - Verify chat submission includes all tool config
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-006 - Handle default tools conflict
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

feat: US-001 - Analyze rlms library architecture
  docs/rlm-analysis.md
Due: none

chore: mark US-001 as complete, update progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-002 - Extract agent_name in frontend stream handler
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

feat: US-006 - Rename frontend entities, services, and utils
  frontend/src/components/calendar/ScheduleCalendar.tsx
  frontend/src/components/cards/AgentScheduleCard.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/forms/CronBuilder.tsx
  frontend/src/components/lists/AgentScheduleList.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/components/sidebar/ScheduleSidebarItem.tsx
  frontend/src/components/tables/ScheduleTable.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/hooks/useScheduleExecutions.ts
  frontend/src/hooks/useSchedules.ts
  frontend/src/lib/entities/cron.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/cronService.ts
  frontend/src/lib/services/scheduleService.ts
  frontend/src/lib/utils/calendar.test.ts
  frontend/src/lib/utils/calendar.ts
  frontend/src/lib/utils/cron.ts
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-003 - Propagate agent_name through StreamMessageHandler
  frontend/src/lib/utils/message.ts
Due: frontend-prettier, frontend-lint

feat: US-004 - Preserve agent_name in formatMessages
  frontend/src/lib/utils/format.ts
Due: frontend-prettier, frontend-lint

feat: US-002 - Map RLM concepts to Orchestra infrastructure
  docs/rlm-analysis.md
Due: none

feat: US-005 - Create SubagentBadge component
  frontend/src/components/badges/SubagentBadge.tsx
Due: frontend-prettier, frontend-lint

feat: US-006 - Render subagent attribution in ChatMessages
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

feat: US-007 - Rename frontend hooks
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/hooks/useAgentCrons.ts
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/hooks/useCronExecutions.ts
  frontend/src/hooks/useCrons.ts
  frontend/src/hooks/useSchedules.ts
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-007 - Render subagent attribution in ToolTimeline
  frontend/src/components/timeline/ToolTimeline.tsx
  frontend/src/components/timeline/ToolTimelineItem.tsx
Due: frontend-prettier, frontend-lint

feat: US-008 - Add tests for agent_name propagation
  frontend/src/lib/utils/format.test.ts
Due: frontend-prettier, frontend-lint

docs: update PRD and progress for US-002 through US-008
  .ralph/prd.json
  .ralph/progress.txt
Due: none

docs: mark US-009 complete and finalize progress
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-003 - Evaluate integration options
  .ralph/prd.json
  .ralph/progress.txt
  docs/rlm-recommendation.md
Due: none

feat: US-008 - Rename frontend components
  frontend/src/components/calendar/CronCalendar.tsx
  frontend/src/components/cards/AgentCronCard.tsx
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/forms/AgentCronForm.tsx
  frontend/src/components/lists/AgentCronList.tsx
  frontend/src/components/panels/AgentCronsPanel.tsx
  frontend/src/components/sidebar/CronSidebarItem.tsx
  frontend/src/components/tables/CronTable.tsx
  frontend/src/pages/schedules/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-009 - Rename frontend pages and routes
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/pages/crons/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-009
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-010 - Update tests and final validation
  backend/tests/unit/services/test_cron_dispatch.py
  backend/tests/unit/services/test_cron_service.py
  frontend/src/components/calendar/CronCalendar.tsx
  frontend/src/components/cards/AgentCronCard.tsx
  frontend/src/components/forms/AgentCronForm.tsx
  frontend/src/components/forms/CronBuilder.tsx
  frontend/src/components/lists/AgentCronList.tsx
  frontend/src/components/panels/AgentCronsPanel.tsx
  frontend/src/components/tables/CronTable.tsx
  frontend/src/hooks/useModelsList.ts
  frontend/src/lib/utils/calendar.test.ts
  frontend/src/pages/crons/index.tsx
Due: backend-format, frontend-prettier, frontend-lint

chore: update PRD and progress for US-010
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: update PRD and progress for US-011
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
