Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

Tests should pass
  backend/.vscode/launch.json
  backend/src/contexts/service.py
  backend/src/services/tool.py
  backend/src/tools/test.py
  backend/src/utils/format.py
  backend/tests/mock/tool.py
  backend/tests/unit/services/test_tool_service.py
Due: backend-format

Work for anon users
  backend/src/contexts/service.py
  backend/src/routes/v0/llm.py
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/layouts/chat-layout-v2.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fix version
  frontend/src/hooks/useAppHook.ts
Due: frontend-prettier, frontend-lint

Fix site tile
  frontend/index.html
  frontend/public/manifest.json
Due: frontend-prettier, frontend-lint

Fix short name for apps
  frontend/public/manifest.json
Due: frontend-prettier, frontend-lint

Models driven by backend now
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/hooks/useModel.tsx
  frontend/src/lib/services/modelService.ts
Due: frontend-prettier, frontend-lint

Fixes scroll problem with chrat
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/tools/ChartRenderWidget.tsx
Due: frontend-prettier, frontend-lint

update system prmompt
  backend/src/static/prompts/md/default.md
Due: backend-format

init
  Changelog.md
Due: none

Frontend init changes in place
  frontend/src/components/inputs/MonacoEditor.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/viewers/FileViewer.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Can view files when selecting the thread from history
  backend/src/utils/stream.py
  frontend/src/components/drawers/app-sidebar.tsx
Due: backend-format, frontend-prettier, frontend-lint

This is great for editor mode, but we need mobile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

good, but needs fix fileeditor reset. Continues to show options
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/viewers/FileViewer.tsx
Due: frontend-prettier, frontend-lint

FROM feat/490-can-read-deepagents-agent-files TO development (#491)
  Changelog.md
  backend/src/utils/stream.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/inputs/MonacoEditor.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/viewers/FileViewer.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Couple of fixs and clarities
  backend/.example.env
  backend/src/constants/__init__.py
  backend/src/constants/llm.py
Due: backend-format

missed one
  backend/.example.env
Due: backend-format

init
  Changelog.md
  docker-compose.yml
Due: none

Accepts unified input
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/schemas/entities/presidio.py
  backend/src/schemas/models/assistant.py
  backend/src/services/assistant.py
  backend/src/services/presidio.py
  backend/src/utils/auth.py
  backend/src/utils/stream.py
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Shows full model selection
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/services/llm.py
  backend/src/services/prompt/optimize.py
  backend/src/utils/llm.py
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fetch all models, need to fix select
  backend/src/services/llm.py
Due: backend-format

Good load model on page init
  backend/src/constants/llm.py
  backend/src/routes/v0/llm.py
  backend/src/services/llm.py
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useAppHook.ts
  frontend/src/pages/chat/chat-v2.tsx
Due: backend-format, frontend-prettier, frontend-lint

This good for now merge it
  backend/src/flows/__init__.py
  backend/src/schemas/contexts/__init__.py
  backend/src/utils/middleware.py
  backend/src/utils/stream.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/lib/utils/message.ts
Due: backend-format, frontend-prettier, frontend-lint

Fix build errors
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/hooks/useAgent.ts
Due: frontend-prettier, frontend-lint

FROM feat/464-update-input-support-multiple-keys TO development (#493)
  Changelog.md
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/contexts/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/schemas/entities/presidio.py
  backend/src/schemas/models/assistant.py
  backend/src/services/assistant.py
  backend/src/services/llm.py
  backend/src/services/presidio.py
  backend/src/services/prompt/optimize.py
  backend/src/utils/auth.py
  backend/src/utils/llm.py
  backend/src/utils/middleware.py
  backend/src/utils/stream.py
  docker-compose.yml
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/context/ChatContext.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useAppHook.ts
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/lib/utils/message.ts
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/pages/chat/chat-v2.tsx
Due: backend-format, frontend-prettier, frontend-lint

States how many files each thread has
  frontend/src/components/drawers/app-sidebar.tsx
Due: frontend-prettier, frontend-lint

Fix some of the markdown formatting
  backend/src/static/prompts/md/default.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/lists/ChatMessages.tsx
Due: backend-format, frontend-prettier, frontend-lint

Better thread delete handling
  frontend/src/components/drawers/app-sidebar.tsx
Due: frontend-prettier, frontend-lint

Better navigation with editor
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

FROM feat/485-user-env TO development (#486)
  backend/src/static/prompts/md/default.md
  backend/src/utils/format.py
  backend/tests/unit/services/test_tool_service.py
Due: backend-format

Tidy up
  backend/main.py
  backend/src/routes/v0/__init__.py
  backend/src/static/prompts/md/default.md
Due: backend-format

optimized prompt meh
  backend/main.py
  backend/mkdocs.yml
  backend/src/routes/v0/__init__.py
  backend/src/services/memory.py
  backend/src/services/project.py
  backend/src/static/prompts/md/default.md
  backend/src/tools/search.py
  backend/uv.lock
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/tools/SearchEngine.tsx
Due: backend-format, frontend-prettier, frontend-lint

Updates
  backend/src/routes/v0/llm.py
  backend/src/utils/format.py
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/420-project-endpoints TO development (#460)
  Changelog.md
  backend/main.py
  backend/mkdocs.yml
  backend/pyproject.toml
  backend/src/contexts/service.py
  backend/src/flows/__init__.py
  backend/src/repos/project_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/prompt/revision.py
  backend/src/routes/v0/tool/info.py
  backend/src/services/db.py
  backend/src/services/project.py
  backend/src/static/prompts/md/default.md
  backend/src/tools/search.py
  backend/src/utils/format.py
  backend/tests/__init__.py
  backend/tests/mock/db.py
  backend/tests/unit/repos/test_agent_repo.py
  backend/tests/unit/services/test_project_service.py
  backend/uv.lock
  frontend/src/components/cards/MarkdownCard.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/sections/chat-section.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/components/tools/SearchEngine.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/prompts/edit.tsx
Due: backend-format, frontend-prettier, frontend-lint

test_source_service now
  Changelog.md
  backend/.vscode/launch.json
  backend/seeds/user_seeder.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/routes/v0/tool/invoke.py
  backend/src/schemas/models/auth.py
  backend/src/schemas/models/thread.py
  backend/src/schemas/models/tool.py
  backend/src/services/presidio.py
  backend/src/services/source.py
  backend/tests/unit/services/test_source_service.py
Due: backend-format

Fix source
  backend/src/services/source.py
Due: backend-format

Can projects, sources, and docs
  backend/.vscode/launch.json
  backend/src/loaders/__init__.py
  backend/src/loaders/basic.py
  backend/src/services/project.py
  backend/src/services/source.py
  backend/tests/unit/services/test_project_service.py
Due: backend-format

Tests appear to work for project_service
  backend/src/services/db.py
  backend/src/services/project.py
  backend/src/services/source.py
  backend/tests/unit/services/test_project_service.py
Due: backend-format

Should be okay but getting error
  backend/src/services/project.py
Due: backend-format

Cleaner
  backend/src/loaders/__init__.py
  backend/src/repos/base_repo.py
  backend/src/repos/doc_repo.py
  backend/src/repos/project_repo.py
  backend/src/repos/source_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/store.py
  backend/src/services/project.py
  backend/src/services/source.py
  backend/tests/unit/services/test_source_service.py
Due: backend-format

Can save sources to projects with docs
  backend/src/loaders/__init__.py
  backend/src/repos/base_repo.py
  backend/src/repos/doc_repo.py
  backend/src/repos/project_repo.py
  backend/src/repos/source_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/src/schemas/entities/store.py
  backend/src/schemas/examples/__init__.py
  backend/src/services/project.py
Due: backend-format

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
