Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

Fix build
  frontend/src/lib/utils/schedule.ts
Due: frontend-prettier, frontend-lint

FROM feat/408-edit-existing-schedules TO development (#409)
  Changelog.md
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/schedule.py
  frontend/src/components/cards/AgentScheduleCard.tsx
  frontend/src/components/forms/AgentScheduleForm.tsx
  frontend/src/components/panels/AgentSchedulesPanel.tsx
  frontend/src/hooks/useAgentSchedules.ts
  frontend/src/lib/entities/schedule.ts
  frontend/src/lib/services/scheduleService.ts
  frontend/src/lib/utils/schedule.ts
Due: backend-format, frontend-prettier, frontend-lint

init
  Changelog.md
Due: none

Consolidated
  backend/main.py
  backend/src/constants/__init__.py
  backend/src/constants/llm.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/rag/__init__.py
  backend/src/routes/v0/settings.py
  backend/src/routes/v0/tool.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/routes/v0/tool/info.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/db.py
  backend/src/services/tool.py
  backend/src/tools/__init__.py
  backend/src/tools/arcade.py
  backend/src/tools/code.py
  backend/src/tools/search.py
  backend/src/utils/llm.py
  backend/src/utils/retrieval.py
  backend/src/utils/tools.py
Due: backend-format

Cleanup
  backend/src/constants/examples/__init__.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/routes/v0/tool/info.py
  backend/src/schemas/entities/a2a.py
  backend/src/services/db.py
  backend/src/services/tool.py
  backend/src/tools/a2a.py
Due: backend-format

Fonrtend charngeas
  backend/src/services/tool.py
  frontend/src/components/lists/ListThreads.tsx
Due: backend-format, frontend-prettier, frontend-lint

fix fe
  frontend/src/components/lists/ListThreads.tsx
Due: frontend-prettier, frontend-lint

More tweaks
  backend/main.py
  backend/src/constants/__init__.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/health.py
  backend/src/routes/v0/info.py
  backend/src/services/assistant.py
  backend/src/services/db.py
  backend/src/services/thread.py
Due: backend-format

Clean up local tests
  AGENTS.md
  backend/pyproject.toml
  backend/src/routes/v0/assistant.py
  backend/src/schemas/entities/schedule.py
Due: backend-format

fix url for basic test
  backend/tests/integration/test_main.py
Due: backend-format

keep plans out of deploy
  backend/.dockerignore
Due: backend-format

Add tool selection modal design & implementation plans
  .plans/411-fix-agentstatepydantic-import.md
  .plans/411-tools-ui-action-plan.md
  .plans/411-tools-ui.md
  backend/pyproject.toml
Due: backend-format

Implement Phase 1: Tool Selection Modal (MVP)
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/ToolSelectionModal/PlatformToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/ToolCard.tsx
  frontend/src/components/modals/ToolSelectionModal/ToolGrid.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useToolSelection.ts
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
Due: frontend-prettier, frontend-lint

feat: Add OpenAI Image Generation API tool (#404)
  backend/pyproject.toml
  backend/src/tools/__init__.py
  backend/src/tools/image.py
  backend/tests/test_tools/test_image.py
Due: backend-format

Fix tool selection modal responsive design
  frontend/src/components/modals/ToolSelectionModal/PlatformToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/Sidebar.tsx
  frontend/src/components/modals/ToolSelectionModal/ToolGrid.tsx
  frontend/src/components/modals/ToolSelectionModal/index.tsx
Due: frontend-prettier, frontend-lint

Fix tool selection modal scroll and duplicate close button
  frontend/src/components/modals/ToolSelectionModal/index.tsx
Due: frontend-prettier, frontend-lint

Implement Phase 2: MCP Server integration
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
  frontend/src/lib/services/toolService.ts
Due: frontend-prettier, frontend-lint

Implement Phase 3: A2A Agent integration
  frontend/src/components/modals/ToolSelectionModal/A2aAgentPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/components/modals/ToolSelectionModal/types.ts
  frontend/src/lib/services/toolService.ts
Due: frontend-prettier, frontend-lint

Fix: Auto-populate MCP and A2A configs in tool selection modal
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/modals/ToolSelectionModal/index.tsx
Due: frontend-prettier, frontend-lint

Enhance: Add MCP, A2A, and Subagent badges to agents page
  frontend/src/pages/agents/index.tsx
Due: frontend-prettier, frontend-lint

Can create new schedules
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/hooks/useSchedules.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

FROM feat/415-schedules-page TO development (#416)
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/hooks/useSchedules.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/schedules/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

Small changes
  backend/main.py
  backend/src/routes/v0/schedule.py
  backend/src/services/schedule.py
Due: backend-format

FROM feat/411-tools-api TO development (part 2) (#417)
  backend/main.py
  backend/src/routes/v0/schedule.py
  backend/src/services/schedule.py
Due: backend-format

Fix schedule edit page
  backend/src/routes/v0/schedule.py
  backend/src/schemas/entities/schedule.py
  frontend/src/components/forms/AgentScheduleForm.tsx
Due: backend-format, frontend-prettier, frontend-lint

Update changelog
  Changelog.md
Due: none

Fix version
  frontend/src/hooks/useAppHook.ts
Due: frontend-prettier, frontend-lint

Retries on checkpointer_service
  backend/src/routes/v0/thread.py
  backend/src/services/checkpoint.py
  backend/src/utils/retry.py
Due: backend-format

init
  .pre-commit-config.yaml
Due: none

update hooks
  .pre-commit-config.yaml
Due: none

Update for precommit
  .pre-commit-config.yaml
Due: none

precommit
  .pre-commit-config.yaml
Due: none

Should work extended
  Changelog.md
  backend/main.py
  backend/src/controllers/llm.py
  backend/src/routes/v0/health.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/services/checkpoint.py
  backend/src/services/db.py
Due: backend-format

FROM bug/423-fix-checkpointer-conn-closed TO development (#424)
  .pre-commit-config.yaml
  Changelog.md
  backend/main.py
  backend/src/controllers/llm.py
  backend/src/routes/v0/health.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/services/checkpoint.py
  backend/src/services/db.py
Due: backend-format

update hooks
  .pre-commit-config.yaml
  backend/src/controllers/llm.py
  backend/src/routes/v0/thread.py
  backend/src/services/db.py
Due: backend-format

Delete plans
  .gitignore
  .plans/411-fix-agentstatepydantic-import.md
  .plans/411-tools-ui-action-plan.md
  .plans/411-tools-ui.md
Due: none

iniT
  Changelog.md
Due: none

lgtm
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/inputs/MonacoEditor.tsx
Due: frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
