Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

feat: US-003 - Apply settings-driven Daytona routing to stream and worker execution paths
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/utils/test_stream_daytona_backend_routing.py
  backend/tests/unit/workers/test_tasks.py
Due: backend-format

feat: US-004 - Expose sandbox backend preference in frontend settings and remove Daytona from tool-selection UX
  frontend/src/components/settings/SandboxBackendSettings.test.tsx
  frontend/src/components/settings/SandboxBackendSettings.tsx
  frontend/src/lib/services/toolService.ts
  frontend/src/lib/services/userSettingsService.ts
  frontend/src/pages/settings/index.tsx
  frontend/src/tests/services/toolService.test.ts
  frontend/src/tests/services/userSettingsService.test.ts
  tasks/prd-daytona-sandbox-backend.md
Due: frontend-prettier, frontend-lint

feat: US-005 - Update Daytona PRD/docs to backend-setting architecture and add cross-path regression coverage
  backend/tests/unit/utils/test_stream_daytona_backend_routing.py
  backend/tests/unit/workers/test_tasks.py
  tasks/prd-daytona-sandbox-backend.md
Due: backend-format

feat: US-001 - Validate Daytona backend execute-capability contract and centralize fallback messaging
  .ralph/progress.txt
  backend/src/agents/daytona.py
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/services/test_daytona_capability.py
Due: backend-format

feat: US-002 - Apply execute-capable Daytona routing in llm invoke path
  backend/tests/unit/controllers/test_llm_invoke_backend_routing.py
Due: backend-format

feat: US-003 - Apply execute-capable Daytona routing in SSE stream path
  backend/tests/unit/utils/test_stream_daytona_backend_routing.py
Due: backend-format

feat: US-004 - Apply execute-capable Daytona routing in distributed worker path
  backend/tests/unit/workers/test_tasks.py
Due: backend-format

feat: US-005 - Add cross-path tests for execute availability and command execution behavior
  backend/tests/unit/test_daytona_cross_path.py
Due: backend-format

feat: US-006 - Document Daytona execute prerequisites, verification steps, and troubleshooting
  docs/daytona-sandbox.md
Due: none

feat: US-002 - Create read-only ModelBadge component to display current model
  frontend/src/components/badges/ModelBadge.test.tsx
  frontend/src/components/badges/ModelBadge.tsx
Due: frontend-prettier, frontend-lint

feat: US-003 - Replace SelectModel with ModelBadge in ChatNav
  frontend/package-lock.json
  frontend/src/components/nav/ChatNav.test.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/settings/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-004 - Remove SelectModel from NoAuthLayout
  frontend/src/layouts/NoAuthLayout.test.tsx
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/pages/share/SharedThreadPage.tsx
Due: frontend-prettier, frontend-lint

Completed antfarm
  .cloudflared/config.yml
  .ralph/progress.txt
Due: none

feat: US-005 - Update useModel hook to use settings default model consistently
  frontend/src/hooks/useModel.tsx
  frontend/src/tests/hooks/useModel.test.ts
Due: frontend-prettier, frontend-lint

feat: US-006 - Ensure request payload uses settings default model consistently
  frontend/src/hooks/useChat.ts
  frontend/src/tests/hooks/useChatPayloadModel.test.ts
Due: frontend-prettier, frontend-lint

feat: US-007 - Clean up unused SelectModel imports and dead code
  frontend/src/pages/Home.tsx
Due: frontend-prettier, frontend-lint

feat: US-001 - Create unified resolve_sandbox_backend() helper
  .ralph/prd.json
  .ralph/progress.txt
  backend/pyproject.toml
  backend/src/agents/__init__.py
  backend/src/agents/daytona.py
  backend/src/constants/__init__.py
Due: backend-format

feat: US-002 - Simplify invoke execution path in llm.py
  backend/src/controllers/llm.py
Due: backend-format

feat: US-003 - Simplify stream execution path in stream.py
  backend/src/utils/stream.py
Due: backend-format

feat: US-004 - Simplify worker execution path in tasks.py
  backend/src/workers/tasks.py
Due: backend-format

feat: US-005 - Remove sandbox_backend from backend settings infrastructure
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/workers/tasks.py
Due: backend-format

feat: US-006 - Remove sandbox_backend from frontend
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-007 - Clean up dead backend code
  backend/src/agents/__init__.py
Due: backend-format

feat: US-008 - Update and rewrite unit tests
  .ralph/prd.json
  .ralph/progress.txt
  backend/tests/unit/agents/test_daytona.py
  backend/tests/unit/agents/test_daytona_capability.py
Due: backend-format

- iter 1 done
  backend/uv.lock
  tasks/prd-daytona-default-sandbox.md
Due: backend-format

feat: US-009 - Remove StoreBackend routes from resolve_sandbox_backend() and all callers
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
Due: backend-format

feat: US-010 - Update unit tests for routeless resolve_sandbox_backend()
  backend/tests/unit/agents/test_daytona.py
Due: backend-format

feat: US-010 - Update unit tests for routeless resolve_sandbox_backend()
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-008 - Add integration tests and open PR
  frontend/src/tests/integration/modelBadgeIntegration.test.tsx
Due: frontend-prettier, frontend-lint

Model driven by settings page selection and backend user default
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/workers/tasks.py
  backend/tests/unit/controllers/test_llm_model_resolution.py
  backend/tests/unit/workers/test_worker_model_resolution.py
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.test.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/hooks/useModel.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/settings/index.tsx
  frontend/src/tests/hooks/useChatPayloadModel.test.ts
  frontend/src/tests/hooks/useModel.test.ts
  frontend/src/tests/integration/modelBadgeIntegration.test.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/758-remove-per-chat-model-select TO development (#767)
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/workers/tasks.py
  backend/tests/unit/controllers/test_llm_model_resolution.py
  backend/tests/unit/workers/test_worker_model_resolution.py
  frontend/package-lock.json
  frontend/src/components/badges/ModelBadge.test.tsx
  frontend/src/components/badges/ModelBadge.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.test.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useModel.tsx
  frontend/src/layouts/NoAuthLayout.test.tsx
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/pages/agents/public.tsx
  frontend/src/pages/agents/thread.tsx
  frontend/src/pages/settings/index.tsx
  frontend/src/pages/share/SharedThreadPage.tsx
  frontend/src/tests/hooks/useChatPayloadModel.test.ts
  frontend/src/tests/hooks/useModel.test.ts
  frontend/src/tests/integration/modelBadgeIntegration.test.tsx
Due: backend-format, frontend-prettier, frontend-lint

Better placement of agent
  frontend/src/components/badges/ModelBadge.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/menus/AgentMenu.tsx
Due: frontend-prettier, frontend-lint

docs: add PRD for extensible sandbox/backend selection (#769)
  tasks/prd-extensible-sandbox-backend-selection.md
Due: none

Archive previous
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: add Ralph prd.json for extensible sandbox selection (#769)
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-001 - Add SandboxType enum and schema fields
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/settings.py
  backend/tests/unit/controllers/test_llm_model_resolution.py
  backend/tests/unit/workers/test_worker_model_resolution.py
Due: backend-format

feat: US-002 - Add set_default_sandbox repo method with unit tests
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/repos/user_settings_repo.py
  backend/tests/unit/repos/test_user_settings_repo.py
Due: backend-format

feat: US-003 - Add PUT /settings/default-sandbox endpoint with route tests
  backend/src/routes/v0/settings.py
  backend/tests/unit/routes/test_settings_routes.py
Due: backend-format

feat: US-004 - Implement registry pattern in resolve_sandbox_backend with dispatch tests
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/agents/__init__.py
  backend/tests/unit/agents/test_daytona.py
Due: backend-format

feat: US-005 - Wire sandbox_type through LLMController
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
  backend/tests/unit/controllers/test_llm_model_resolution.py
Due: backend-format

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
