Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

feat: US-007 - Wire sandbox_type through worker tasks
  .ralph/prd.json
  .ralph/progress.txt
  backend/src/workers/tasks.py
Due: backend-format

feat: US-008 - Frontend service types and API call
  frontend/src/lib/services/userSettingsService.ts
Due: frontend-prettier, frontend-lint

feat: US-009 - SandboxSettings frontend component
  .ralph/prd.json
  .ralph/progress.txt
  frontend/package-lock.json
  frontend/src/components/settings/SandboxSettings.tsx
Due: frontend-prettier, frontend-lint

feat: US-010 - Wire SandboxSettings into Settings page
  frontend/src/pages/settings/index.tsx
Due: frontend-prettier, frontend-lint

chore: mark US-010 complete and update progress
  .ralph/prd.json
  .ralph/progress.txt
Due: none

fix: patch correct function name in worker model resolution tests
  backend/tests/unit/workers/test_worker_model_resolution.py
Due: backend-format

feat: Extensible sandbox/backend selection (Issue #769) (#770)
  .ralph/prd.json
  .ralph/progress.txt
  backend/pyproject.toml
  backend/src/agents/__init__.py
  backend/src/agents/daytona.py
  backend/src/constants/__init__.py
  backend/src/controllers/llm.py
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/settings.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/agents/test_daytona.py
  backend/tests/unit/agents/test_daytona_capability.py
  backend/tests/unit/controllers/test_llm_model_resolution.py
  backend/tests/unit/repos/test_user_settings_repo.py
  backend/tests/unit/routes/test_settings_routes.py
  backend/tests/unit/services/test_daytona.py
  backend/tests/unit/workers/test_worker_model_resolution.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/lib/services/userSettingsService.ts
  frontend/src/pages/settings/index.tsx
  tasks/prd-daytona-default-sandbox.md
  tasks/prd-daytona-sandbox-backend.md
  tasks/prd-extensible-sandbox-backend-selection.md
Due: backend-format, frontend-prettier, frontend-lint

chore: archive ralph prd for feat/769 sandbox selection
  .ralph/prd.json
  .ralph/progress.txt
Due: none

docs: add PRD for Skills CRUD feature (Issue #773)
  tasks/prd-skills-crud.md
Due: none

chore: Answer open questions at bottom of prd
  tasks/prd-skills-crud.md
Due: none

chore: add Ralph prd.json for Skills CRUD feature (#773)
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-001 - Create SavedSkill Pydantic data model
  backend/src/schemas/entities/skill.py
Due: backend-format

feat: US-002 - Create SkillRepo for LangGraph Store persistence
  backend/src/repos/base_repo.py
  backend/src/repos/skill_repo.py
Due: backend-format

feat: US-003 - Create SkillService business logic layer
  backend/src/services/skill.py
Due: backend-format

feat: US-004 - Wire SkillService into ServiceContext
  backend/src/contexts/service.py
Due: backend-format

feat: US-005 - Create skill CRUD API routes
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/skill.py
Due: backend-format

feat: US-006 - Integrate skills into agent invocation
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
Due: backend-format

feat: US-007 - Write SkillRepo unit tests
  backend/tests/unit/repos/test_skill_repo.py
Due: backend-format

feat: US-008 - Write SkillService unit tests
  backend/tests/unit/services/test_skill_service.py
Due: backend-format

feat: US-009 - Write prepare_skill_files unit tests
  backend/tests/unit/agents/test_prepare_skill_files.py
Due: backend-format

feat: US-010 - Create frontend SkillService API client
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/lib/entities/index.ts
  frontend/src/lib/entities/skill.ts
  frontend/src/lib/services/index.ts
  frontend/src/lib/services/skillService.ts
Due: frontend-prettier, frontend-lint

feat: US-011 - Create useSkill hook and SkillContext provider
  frontend/src/context/SkillContext.tsx
  frontend/src/hooks/useSkill.ts
Due: frontend-prettier, frontend-lint

feat: US-012 - Add Skills section to BaseToolMenu (+ button)
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

feat: US-013 - Create Skills list page
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/pages/skills/index.tsx
Due: frontend-prettier, frontend-lint

feat: US-014 - Create Skill create page
  frontend/src/pages/skills/create.tsx
Due: frontend-prettier, frontend-lint

feat: US-015 - Create Skill edit page
  frontend/src/pages/skills/edit.tsx
Due: frontend-prettier, frontend-lint

feat: US-016 - Add frontend routing and navigation
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

feat: US-017 - Create wiki documentation for Skills feature
  .ralph/prd.json
  .ralph/progress.txt
Due: none

complete: ralph cycle 1
  .ralph/screenshots/us-016-login.png
Due: none

fix: add SkillProvider to React provider tree in main.tsx
  .ralph/prd.json
  frontend/src/main.tsx
Due: frontend-prettier, frontend-lint

feat: US-018 - Verify SkillProvider fix in React provider tree
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-019 - Validate all skills pages end-to-end in browser
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-020 - Auto-sync agent-created skills to LangGraph Store
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
Due: backend-format

feat: US-020 - Auto-sync agent-created skills to LangGraph Store
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-021 - Separate skills parameter from memory parameter
  backend/src/agents/__init__.py
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
Due: backend-format

complete: US-021 - update PRD and progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-022 - Remove Manage Tools link from BaseToolMenu
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

complete: US-022 - update PRD and progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-023 - Remove Skills sidebar nav link
  frontend/src/components/drawers/app-sidebar.tsx
Due: frontend-prettier, frontend-lint

complete: US-023 - update PRD and progress log
  .ralph/prd.json
  .ralph/progress.txt
Due: none
