Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

fix: stricter ownership check on distill endpoint and embed widget cleanup
  backend/src/routes/v0/assistant.py
  backend/src/services/assistant.py
  frontend/src/embed/EmbedWidget.tsx
  frontend/src/pages/agents/public.tsx
Due: backend-format, frontend-prettier, frontend-lint

fix: narrow script type to HTMLScriptElement before accessing .src
  frontend/src/embed/main.tsx
Due: frontend-prettier, frontend-lint

feat: provider-side prompt cache for token cost reduction
  backend/.example.env
  backend/pyproject.toml
  backend/src/agents/__init__.py
  backend/src/constants/llm.py
  backend/src/utils/format.py
  backend/src/utils/middleware.py
  backend/tests/benchmarks/test_service_benchmarks.py
  backend/tests/unit/agents/test_prompt_caching.py
  backend/tests/unit/services/test_llm_default_prompt.py
  backend/tests/unit/utils/test_cache_metrics.py
  backend/tests/unit/utils/test_middleware_integration.py
  backend/uv.lock
Due: backend-format

spec: add Spec D — MCP Sandbox for DeepAgents (#890)
  .claude/plans/eager-wibbling-curry.md
  specs/spec-d-mcp-sandbox.md
Due: none

spec: add Spec A — OpenShell DeepAgent Sandbox Backend (#892)
  .claude/plans/spec-a-openshell-sandbox.md
  specs/spec-a-minimal-backend.md
Due: none

chore: re-add sandboxes submodule, default agent-browser viewport to 1920x1080
  .claude/skills/agent-browser/SKILL.md
  .gitmodules
Due: none

chore: re-add sandboxes submodule, default agent-browser viewport to 1920x1080 (#895)
  .claude/skills/agent-browser/SKILL.md
  .gitmodules
Due: none

fix: strip enabled field from MCP config before client init, add debug compose
  Makefile
  backend/src/services/tool.py
Due: backend-format

chore: add debug compose, vscode launch config, and plan doc
  .claude/plans/functional-scribbling-orbit.md
  .vscode/launch.json
  docker-compose.debug.yml
Due: none

fix: MCP tool execution - strip enabled field, docs & debug tooling (#896)
  .claude/plans/functional-scribbling-orbit.md
  .vscode/launch.json
  Makefile
  backend/src/services/tool.py
  docker-compose.debug.yml
Due: backend-format

Specs and plans complete, start loop
  .claude/plans/cryptic-enchanting-wave.md
  .claude/plans/greedy-tumbling-boole-agent-a03dc3ae9503ebd65.md
  .claude/plans/greedy-tumbling-boole-agent-a1f62fc892d2b5f0e.md
  .claude/plans/greedy-tumbling-boole-agent-a6e07ed02be61f7cd.md
  .claude/plans/greedy-tumbling-boole-agent-aec0915e73f3d3de4.md
  .claude/plans/greedy-tumbling-boole.md
  .claude/specs/feat-890-mcp-sandbox/001-mcp-sandbox-backend.md
  .claude/specs/feat-890-mcp-sandbox/002-sandbox-dispatch.md
  .claude/specs/feat-890-mcp-sandbox/003-frontend-mcp-option.md
  .claude/specs/feat-890-mcp-sandbox/004-exec-server-structured.md
  .claude/specs/feat-890-mcp-sandbox/005-mcp-sandbox-v2.md
  tasks/prd-mcp-sandbox-backend.md
  tasks/prd-mcp-sandbox-dispatch.md
  tasks/prd-mcp-sandbox-exec-server.md
  tasks/prd-mcp-sandbox-frontend.md
  tasks/prd-mcp-sandbox-v2-native.md
Due: none

feat: US-001 - McpSandboxBackend class skeleton and constructor
  backend/src/agents/mcp_sandbox.py
Due: backend-format

feat: US-003 through US-009 - MCP session init, execute, file ops, health, close
  backend/src/agents/mcp_sandbox.py
Due: backend-format

feat: US-010 through US-014 - Unit tests for MCP sandbox backend
  backend/src/agents/mcp_sandbox.py
  backend/tests/unit/agents/test_mcp_sandbox.py
Due: backend-format

feat: US-015, US-016 - Add MCP to SandboxType enum and settings schema
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/settings.py
Due: backend-format

feat: US-017, US-018, US-019 - MCP sandbox factory, dispatch rules, error helper
  backend/src/agents/__init__.py
Due: backend-format

feat: US-020, US-021 - Wire mcp_sandbox_url through LLMController and stream_generator
  backend/src/controllers/llm.py
  backend/src/utils/stream.py
  backend/tests/unit/controllers/test_llm_context_files.py
  backend/tests/unit/controllers/test_llm_model_resolution.py
Due: backend-format

feat: US-022 - Wire mcp_sandbox_url through worker tasks
  backend/src/workers/tasks.py
Due: backend-format

feat: US-036 through US-044 - Frontend MCP sandbox UX
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/components/status/ThreadSandboxStatus.test.tsx
  frontend/src/components/status/ThreadSandboxStatus.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useSandboxHealth.ts
  frontend/src/lib/config/sandbox.ts
  frontend/src/lib/services/userSettingsService.ts
Due: frontend-prettier, frontend-lint

feat: US-046 through US-059 - Native MCP tool overrides with graceful degradation
  backend/src/agents/mcp_sandbox.py
  backend/tests/unit/agents/test_mcp_sandbox.py
Due: backend-format

feat: MCP sandbox API key wiring, unified settings UX, file sync, and health proxy
  backend/src/agents/__init__.py
  backend/src/agents/mcp_sandbox.py
  backend/src/constants/__init__.py
  backend/src/controllers/llm.py
  backend/src/routes/v0/settings.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/agents/test_mcp_sandbox.py
  backend/tests/unit/controllers/test_llm_context_files.py
  backend/tests/unit/controllers/test_llm_model_resolution.py
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/components/status/ThreadSandboxStatus.tsx
  frontend/src/hooks/useSandboxHealth.ts
Due: backend-format, frontend-prettier, frontend-lint

feat: MCP Sandbox backend, dispatch, frontend UX, and native tool overrides (#890) (#897)
  .claude/plans/cryptic-enchanting-wave.md
  .claude/plans/greedy-tumbling-boole-agent-a03dc3ae9503ebd65.md
  .claude/plans/greedy-tumbling-boole-agent-a1f62fc892d2b5f0e.md
  .claude/plans/greedy-tumbling-boole-agent-a6e07ed02be61f7cd.md
  .claude/plans/greedy-tumbling-boole-agent-aec0915e73f3d3de4.md
  .claude/plans/greedy-tumbling-boole.md
  .claude/specs/feat-890-mcp-sandbox/001-mcp-sandbox-backend.md
  .claude/specs/feat-890-mcp-sandbox/002-sandbox-dispatch.md
  .claude/specs/feat-890-mcp-sandbox/003-frontend-mcp-option.md
  .claude/specs/feat-890-mcp-sandbox/004-exec-server-structured.md
  .claude/specs/feat-890-mcp-sandbox/005-mcp-sandbox-v2.md
  backend/src/agents/__init__.py
  backend/src/agents/mcp_sandbox.py
  backend/src/constants/__init__.py
  backend/src/controllers/llm.py
  backend/src/repos/user_settings_repo.py
  backend/src/routes/v0/settings.py
  backend/src/schemas/entities/settings.py
  backend/src/utils/stream.py
  backend/src/workers/tasks.py
  backend/tests/unit/agents/test_mcp_sandbox.py
  backend/tests/unit/controllers/test_llm_context_files.py
  backend/tests/unit/controllers/test_llm_model_resolution.py
  frontend/src/components/settings/SandboxSettings.tsx
  frontend/src/components/status/ThreadSandboxStatus.test.tsx
  frontend/src/components/status/ThreadSandboxStatus.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useSandboxHealth.ts
  frontend/src/lib/config/sandbox.ts
  frontend/src/lib/services/userSettingsService.ts
  tasks/prd-mcp-sandbox-backend.md
  tasks/prd-mcp-sandbox-dispatch.md
  tasks/prd-mcp-sandbox-exec-server.md
  tasks/prd-mcp-sandbox-frontend.md
  tasks/prd-mcp-sandbox-v2-native.md
Due: backend-format, frontend-prettier, frontend-lint

chore: remove duplicate docs/ directory, consolidate to decks/
  .gitignore
  README.md
  decks/AGENTS.md
  decks/README.md
  docs/AGENTS.md
  docs/CLAUDE.md
  docs/README.md
  docs/index.html
  docs/slides/README.md
  docs/slides/images/ruska_logo_200.png
  docs/slides/index.html
  docs/slides/onepager.html
  docs/slides/screenshots/01-title.png
  docs/slides/screenshots/02-title-expanded.png
  docs/slides/screenshots/03-challenge.png
  docs/slides/screenshots/04-solution.png
  docs/slides/screenshots/08-cta.png
  docs/slides/screenshots/09-thank-you.png
  docs/slides/screenshots/mermaid-architecture.png
  docs/slides/screenshots/onepager.pdf
  docs/slides/screenshots/orchestra-chat.png
  docs/slides/screenshots/ruska-ai-bottom.png
  docs/slides/screenshots/ruska-ai-hero.png
  docs/slides/screenshots/ruska-ai-lower.png
  docs/slides/screenshots/ruska-ai-mid.png
  docs/slides/screenshots/slides-01-title.png
  docs/slides/screenshots/slides-02-expanded.png
  docs/slides/screenshots/slides-03-challenge.png
  docs/slides/screenshots/slides-04-solution.png
  docs/slides/screenshots/slides-05-architecture.png
  docs/slides/screenshots/slides-06-features.png
  docs/slides/screenshots/title-expanded.png
  docs/slides/screenshots/title-slide.png
Due: none

chore: archive .ralph/.last-branch in Makefile archive target
  Makefile
Due: none

fix: correct .ralph/archive/ gitignore pattern, unstage archived files
  .gitignore
  .ralph/archive/2026-02-22-monaco-tool-display/prd.json
  .ralph/archive/2026-02-22-monaco-tool-display/progress.txt
  .ralph/archive/2026-03-16-feat/866-heartbeat/prd.json
  .ralph/archive/2026-03-16-feat/866-heartbeat/progress.txt
  .ralph/archive/bug-823/prd.json
  .ralph/archive/feat-803-subagent-modal/progress.txt
  .ralph/archive/feat-812/prd.json
  .ralph/archive/feat-812/progress.txt
  .ralph/archive/feat-820/prd.json
  .ralph/archive/feat-820/progress.txt
  .ralph/archive/feat-820/specs/820-exec-server-template-edit-mcp.md
  .ralph/archive/feat-820/specs/persist-subagent-selection.md
  .ralph/archive/feat-822/prd.json
  .ralph/archive/feat-822/progress.txt
  .ralph/archive/feat-822/specs/820-exec-server-template-edit-mcp.md
  .ralph/archive/feat-822/specs/822-mobile-file-sidebar-full-width.md
  .ralph/archive/feat-822/specs/persist-subagent-selection.md
  .ralph/archive/feat-826/prd.json
  .ralph/archive/feat-826/specs/820-exec-server-template-edit-mcp.md
  .ralph/archive/feat-826/specs/822-mobile-file-sidebar-full-width.md
  .ralph/archive/feat-826/specs/826-dedup-ci-jobs.md
  .ralph/archive/feat-826/specs/persist-subagent-selection.md
  .ralph/archive/feat-840/prd.json
  .ralph/archive/feat-840/progress.txt
  .ralph/archive/feat-840/specs/001-assistants-screenshots.md
  .ralph/archive/feat-840/specs/001-backend-schema.md
  .ralph/archive/feat-840/specs/002-backend-repo.md
  .ralph/archive/feat-840/specs/002-frontend-toggle.md
  .ralph/archive/feat-840/specs/002-memories-screenshots.md
  .ralph/archive/feat-840/specs/003-frontend-hook.md
  .ralph/archive/feat-840/specs/003-integration-and-cleanup.md
  .ralph/archive/feat-840/specs/003-schedules-screenshots.md
  .ralph/archive/feat-840/specs/004-frontend-ui.md
  .ralph/archive/feat-840/specs/004-projects-screenshots.md
  .ralph/archive/feat-840/specs/005-chat-screenshots.md
  .ralph/archive/feat-840/specs/005-cleanup-and-docs.md
  .ralph/archive/feat-840/specs/006-epics-screenshots.md
Due: none

revert: restore .ralph/archive/ files and original gitignore pattern
  .gitignore
  .ralph/archive/2026-02-22-monaco-tool-display/prd.json
  .ralph/archive/2026-02-22-monaco-tool-display/progress.txt
  .ralph/archive/2026-03-16-feat/866-heartbeat/prd.json
  .ralph/archive/2026-03-16-feat/866-heartbeat/progress.txt
  .ralph/archive/bug-823/prd.json
  .ralph/archive/feat-803-subagent-modal/progress.txt
  .ralph/archive/feat-812/prd.json
  .ralph/archive/feat-812/progress.txt
  .ralph/archive/feat-820/prd.json
  .ralph/archive/feat-820/progress.txt
  .ralph/archive/feat-820/specs/820-exec-server-template-edit-mcp.md
  .ralph/archive/feat-820/specs/persist-subagent-selection.md
  .ralph/archive/feat-822/prd.json
  .ralph/archive/feat-822/progress.txt
  .ralph/archive/feat-822/specs/820-exec-server-template-edit-mcp.md
  .ralph/archive/feat-822/specs/822-mobile-file-sidebar-full-width.md
  .ralph/archive/feat-822/specs/persist-subagent-selection.md
  .ralph/archive/feat-826/prd.json
  .ralph/archive/feat-826/specs/820-exec-server-template-edit-mcp.md
  .ralph/archive/feat-826/specs/822-mobile-file-sidebar-full-width.md
  .ralph/archive/feat-826/specs/826-dedup-ci-jobs.md
  .ralph/archive/feat-826/specs/persist-subagent-selection.md
  .ralph/archive/feat-840/prd.json
  .ralph/archive/feat-840/progress.txt
  .ralph/archive/feat-840/specs/001-assistants-screenshots.md
  .ralph/archive/feat-840/specs/001-backend-schema.md
  .ralph/archive/feat-840/specs/002-backend-repo.md
  .ralph/archive/feat-840/specs/002-frontend-toggle.md
  .ralph/archive/feat-840/specs/002-memories-screenshots.md
  .ralph/archive/feat-840/specs/003-frontend-hook.md
  .ralph/archive/feat-840/specs/003-integration-and-cleanup.md
  .ralph/archive/feat-840/specs/003-schedules-screenshots.md
  .ralph/archive/feat-840/specs/004-frontend-ui.md
  .ralph/archive/feat-840/specs/004-projects-screenshots.md
  .ralph/archive/feat-840/specs/005-chat-screenshots.md
  .ralph/archive/feat-840/specs/005-cleanup-and-docs.md
  .ralph/archive/feat-840/specs/006-epics-screenshots.md
  .ralph/archive/feat-890/prd.json
  .ralph/archive/feat-890/progress.txt
Due: none

chore: add evaluator agent spec and implementation plan
  .claude/plans/evaluator-agent.md
  .claude/specs/evaluator-agent.md
Due: none

chore: add planner agent spec and implementation plan
  .claude/plans/planner-agent.md
  .claude/specs/planner-agent.md
Due: none

chore: add social media campaign spec and execution plan
  .claude/plans/social-media-campaign.md
  .claude/specs/social-media-campaign.md
Due: none

chore: add cost tracking spec and implementation plan
  .claude/plans/cost-tracking.md
  .claude/specs/cost-tracking.md
Due: none

chore: add context reset handoff spec and implementation plan
  .claude/plans/context-reset-handoff.md
  .claude/specs/context-reset-handoff.md
Due: none

chore: add agent observability spec and implementation plan
  .claude/plans/agent-observability.md
  .claude/specs/agent-observability.md
Due: none

chore: add sprint contracts spec and implementation plan
  .claude/plans/sprint-contracts.md
  .claude/specs/sprint-contracts.md
Due: none

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
