Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

Can edit files
  PROPOSAL.md
  REVIEW.md
  TASKS.md
  frontend/src/components/inputs/MonacoEditor.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

Moved plan files
  PROPOSAL.md
  REVIEW.md
  TASKS.md
Due: none

g2g
  frontend/src/components/forms/agents/agent-create-form.tsx
Due: frontend-prettier, frontend-lint

FROM feat/602-can-add-files TO development (#603)
  Changelog.md
  backend/pyproject.toml
  backend/src/constants/examples/__init__.py
  backend/src/controllers/llm.py
  backend/src/flows/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/utils/stream.py
  backend/uv.lock
  examples/agents/deep_agent_backend.ipynb
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/inputs/MonacoEditor.tsx
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/ui/context-menu.tsx
  frontend/src/components/viewers/FileViewer.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/chat/ChatPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Update change
  Changelog.md
Due: none

Adds CLI submodule
  .gitmodules
Due: none

Folders to ignore
  .github/workflows/test.yml
Due: none

init
  Changelog.md
Due: none

MCP works
  backend/main.py
  backend/pyproject.toml
  backend/src/constants/__init__.py
  backend/src/routes/v0/tool/info.py
  backend/uv.lock
Due: backend-format

Cleaned up tool names, Should try to filter out toosl though
  backend/main.py
  backend/src/constants/__init__.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
  backend/src/routes/v0/tool/__init__.py
Due: backend-format

Adds invoke tool
  backend/main.py
  backend/src/routes/v0/tool/invoke.py
Due: backend-format

MCP ready to go
  backend/main.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
Due: backend-format

Clean UP Changelog
  Changelog.md
Due: none

Fixed tests but they are ugly looking
  backend/migrations/env.py
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/conftest.py
Due: backend-format

reduce error messages test env
  backend/src/routes/v0/tool/invoke.py
  backend/src/services/tool.py
  backend/src/utils/logger.py
Due: backend-format

Update MCP configs defined in code
  backend/src/constants/examples/__init__.py
  docs/assistants/index.md
  docs/tools/mcp.md
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/lib/config/tool.ts
Due: backend-format, frontend-prettier, frontend-lint

had more to update
  backend/main.py
  backend/mkdocs.yml
  backend/src/repos/tool_repo.py
  backend/src/static/prompts/md/default.md
  backend/src/tools/api.py
  backend/src/utils/tools.py
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/614-native-mcp-support-fast-mcp TO development (#615)
  Changelog.md
  backend/main.py
  backend/migrations/env.py
  backend/mkdocs.yml
  backend/pyproject.toml
  backend/pytest.ini
  backend/src/constants/__init__.py
  backend/src/constants/examples/__init__.py
  backend/src/repos/tool_repo.py
  backend/src/routes/v0/assistant.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/project/__init__.py
  backend/src/routes/v0/prompt/__init__.py
  backend/src/routes/v0/schedule.py
  backend/src/routes/v0/thread.py
  backend/src/routes/v0/tool/__init__.py
  backend/src/routes/v0/tool/info.py
  backend/src/routes/v0/tool/invoke.py
  backend/src/services/tool.py
  backend/src/static/prompts/md/default.md
  backend/src/tools/api.py
  backend/src/utils/logger.py
  backend/src/utils/tools.py
  backend/tests/conftest.py
  backend/uv.lock
  docs/assistants/index.md
  docs/tools/mcp.md
  frontend/src/components/modals/ToolSelectionModal/McpServerPanel.tsx
  frontend/src/lib/config/tool.ts
Due: backend-format, frontend-prettier, frontend-lint

Clean up workign
  frontend/src/components/sections/home/home-section.tsx
Due: frontend-prettier, frontend-lint

Fix all updates to Main pages
  README.md
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/src/lib/config/index.ts
  frontend/src/pages/chat/chat-v2.tsx
Due: frontend-prettier, frontend-lint

Comment out aperture icon
  frontend/src/components/sections/home/home-section.tsx
Due: frontend-prettier, frontend-lint

Better brand alignment
  README.md
  backend/README.md
  docs/tools/tools.md
  frontend/index.html
  frontend/mock/config.ts
  frontend/public/manifest.json
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/icons/HomeIcon.tsx
  frontend/src/lib/config/instruction.ts
Due: backend-format, frontend-prettier, frontend-lint

Update changelog
  Changelog.md
Due: none

Align README
  README.md
  backend/README.md
Due: backend-format

Fix links to channels
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/sections/home/home-section.tsx
Due: frontend-prettier, frontend-lint

init
  Changelog.md
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

Fixes the ability to open editor for Anon user
  frontend/src/pages/Home.tsx
Due: frontend-prettier, frontend-lint

Should allow for without prefix req'd for filename, File fix for ci as well
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
Due: frontend-prettier, frontend-lint

Closes #621
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/ui/breadcrumb.tsx
Due: frontend-prettier, frontend-lint

Fixes editor modes
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

Fix build
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

0.0.2-rc134
  Changelog.md
Due: none

pr suggested changes from coderabbit
  docs/index.md
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/ui/breadcrumb.tsx
Due: frontend-prettier, frontend-lint

FROM bug/619-fix-editor-mode-home-pag TO development (#620)
  docs/index.md
  frontend/src/components/menus/BaseToolMenu.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/threads/ThreadPage.tsx
Due: frontend-prettier, frontend-lint

Removes docs for submodule
  .github/actions/backend-install.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  backend/Makefile
  backend/mkdocs.yml
  backend/scripts/dev.sh
  backend/scripts/docs.sh
  backend/src/constants/__init__.py
  backend/src/routes/v0/__init__.py
  docs/assistants/index.md
  docs/getting-started.md
  docs/index.md
  docs/storage/index.md
  docs/threads/index.md
  docs/tools/a2a.md
  docs/tools/mcp.md
  docs/tools/search.md
  docs/tools/tools.md
  frontend/mock/config.ts
  frontend/src/components/icons/HelpfulIcons.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/sections/chat-section.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

Incorporated as submodule
  .gitmodules
Due: none

FROM feat/622-docs-to-netlify TO development (#623)
  .github/actions/backend-install.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .gitmodules
  Changelog.md
  backend/Makefile
  backend/mkdocs.yml
  backend/scripts/dev.sh
  backend/scripts/docs.sh
  backend/src/constants/__init__.py
  backend/src/routes/v0/__init__.py
  docs/.gitignore
  docs/README.md
  docs/docs/assistants/index.md
  docs/docs/getting-started.md
  docs/docs/index.md
  docs/docs/storage/index.md
  docs/docs/threads/index.md
  docs/docs/tools/a2a.md
  docs/docs/tools/mcp.md
  docs/docs/tools/search.md
  docs/docs/tools/tools.md
  docs/docusaurus.config.ts
  docs/netlify.toml
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/static/img/ruska_logo_200.png
  docs/tsconfig.json
  frontend/mock/config.ts
  frontend/src/components/icons/HelpfulIcons.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/components/sections/agent-section.tsx
  frontend/src/components/sections/chat-section.tsx
  frontend/src/components/sections/home/home-section.tsx
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

This is a draft, didn't work out well
  backend/main.py
  frontend/src/components/errors/MessageErrorBoundary.tsx
  frontend/src/components/groups/ToolCallGroup.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/skeletons/ToolGroupSkeleton.tsx
  frontend/src/lib/utils/messageGrouping.test.ts
  frontend/src/lib/utils/messageGrouping.ts
Due: backend-format, frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
