Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

backend-format:
  name: Backend Format
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false
  always_run: false

frontend-prettier:
  name: Frontend Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true
  always_run: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint --fix'
  language: system
  pass_filenames: false
  always_run: false

Conslidates output streaming
  backend/src/routes/v0/llm.py
  backend/src/utils/messages.py
  backend/src/utils/stream.py
  frontend/index.html
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

Anthropic streaming
  backend/src/utils/stream.py
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/icons/XAIIcon.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

Will stream out errro
  backend/src/routes/v0/llm.py
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

FROM bug/370-anthropic-streaming TO development (#371)
  Changelog.md
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/__init__.py
  backend/src/services/checkpoint.py
  backend/src/utils/logger.py
  backend/src/utils/messages.py
  backend/src/utils/stream.py
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/icons/XAIIcon.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/hooks/useAppHook.ts
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useStream.ts
  frontend/src/lib/services/threadService.ts
  frontend/vite.config.ts
Due: backend-format, frontend-prettier, frontend-lint

Teweak
  backend/src/routes/v0/llm.py
  backend/src/utils/stream.py
  frontend/src/components/lists/SelectModel.tsx
Due: backend-format, frontend-prettier, frontend-lint

Fixes some but google seems broken
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

init
  Changelog.md
Due: none

can select
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/hooks/useModel.tsx
Due: frontend-prettier, frontend-lint

Fix select model
  frontend/src/components/lists/SelectModel.tsx
Due: frontend-prettier, frontend-lint

FROM feat/372-query-params TO development (#373)
  Changelog.md
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/hooks/useModel.tsx
Due: frontend-prettier, frontend-lint

Should look better on mobile
  .gitignore
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

Small tweak to code sampples
  frontend/src/components/cards/MarkdownCard.tsx
Due: frontend-prettier, frontend-lint

Same length as codeblock
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Fixes ticks not with code
  frontend/src/components/cards/MarkdownCard.tsx
Due: frontend-prettier, frontend-lint

Updates names
  frontend/public/manifest.json
  frontend/vite.config.ts
Due: frontend-prettier, frontend-lint

need to be make UI now
  backend/src/flows/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/a2a.py
  backend/src/tools/search.py
  backend/src/utils/a2a.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

collapses json parsesd
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/tools/Default.tsx
Due: frontend-prettier, frontend-lint

Keep input uncollapsed
  backend/src/flows/__init__.py
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
Due: backend-format, frontend-prettier, frontend-lint

upgrade deepagents
  backend/src/flows/__init__.py
  backend/uv.lock
Due: backend-format

Can hanlde multimodal but not great
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/inputs/ImagePreview.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useImageHook.ts
  frontend/src/lib/utils/format.ts
Due: frontend-prettier, frontend-lint

More dynamic store and checkpointer
  backend/src/services/checkpoint.py
  backend/src/services/thread.py
Due: backend-format

Fix from here
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/services/db.py
Due: backend-format

Fixed
  backend/main.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/services/checkpoint.py
  backend/src/services/db.py
  backend/src/services/thread.py
Due: backend-format

Until we fix the max chars elements for tools
  frontend/src/components/lists/ChatMessages.tsx
Due: frontend-prettier, frontend-lint

Remove to Fix build MAY WANT TO READD
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useImageHook.ts
Due: frontend-prettier, frontend-lint

Checkpoints are coupled with threads
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/thread.py
  backend/src/services/checkpoint.py
  backend/src/services/thread.py
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Remove unused
  backend/main.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/model.py
  frontend/src/components/lists/ChatMessages.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/375-readd-mcp-a2a TO development (#376)
  Changelog.md
  backend/main.py
  backend/src/flows/__init__.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/llm.py
  backend/src/routes/v0/model.py
  backend/src/routes/v0/thread.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/a2a.py
  backend/src/services/checkpoint.py
  backend/src/services/db.py
  backend/src/services/thread.py
  backend/src/tools/search.py
  backend/src/utils/a2a.py
  backend/uv.lock
  frontend/src/components/buttons/ChatSubmitButton.tsx
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/inputs/ImagePreview.tsx
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/tools/Default.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useImageHook.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/lib/utils/format.ts
Due: backend-format, frontend-prettier, frontend-lint

Adds home button to login page
  backend/uv.lock
  frontend/src/pages/Login.tsx
Due: backend-format, frontend-prettier, frontend-lint

Add claude workflow'
  .github/workflows/claude.yml
Due: none

Far but not enough
  frontend/src/App.css
  frontend/src/components/lists/ChatMessages.tsx
  frontend/src/components/popovers/SettingsPopover.tsx
  frontend/src/hooks/useAgentHook.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/agents/create/index.tsx
  frontend/src/pages/agents/create/index.v1.tsx
  frontend/src/pages/chat/ChatPanel.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/src/styles/globals.css
Due: frontend-prettier, frontend-lint

Page looks good, need to add fields for config
  Changelog.md
  frontend/src/layouts/NoAuthLayout.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/agents/create/index.tsx
  frontend/src/pages/agents/create/index.v1.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

Pages in for most part
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/buttons/NewThreadButton.tsx
  frontend/src/components/drawers/ThreadHistoryDrawer.tsx
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/icons/HouseIcon.tsx
  frontend/src/components/lists/ListThreads.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/context/AgentContext.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/main.tsx
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/agents/create/index.tsx
  frontend/src/pages/chat/ChatPanel.tsx
Due: frontend-prettier, frontend-lint

Drawer closes when selected
  frontend/src/components/lists/ListThreads.tsx
Due: frontend-prettier, frontend-lint

Can edit mcp and a2a from client, needs better ui
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useModel.tsx
  frontend/src/lib/config/llm.ts
  frontend/src/lib/config/tool.ts
  frontend/src/main.tsx
  frontend/src/pages/agents/create/index.tsx
Due: frontend-prettier, frontend-lint

MCP and A2A able to be configured
  backend/src/flows/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/schemas/entities/a2a.py
  frontend/src/components/inputs/MonacoEditor.tsx
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/pages/agents/create/index.tsx
Due: backend-format, frontend-prettier, frontend-lint

Able to see base tools
  backend/src/flows/__init__.py
  backend/src/schemas/entities/__init__.py
  backend/src/tools/__init__.py
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useChat.ts
  frontend/src/lib/config/tool.ts
  frontend/src/lib/services/threadService.ts
  frontend/src/pages/agents/create/index.tsx
Due: backend-format, frontend-prettier, frontend-lint

Consolidate image upload
  frontend/src/components/inputs/ChatInput.tsx
  frontend/src/components/inputs/ImageUpload.tsx
Due: frontend-prettier, frontend-lint

Cleanup
  frontend/src/components/inputs/ChatInput.tsx
Due: frontend-prettier, frontend-lint

Path conditions:
  backend-format: any of: ^backend/
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
  frontend-lint: any of: ^frontend/
