Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

feat: US-008 - Frontend Epic Service and Context
  frontend/src/context/EpicContext.tsx
  frontend/src/hooks/useEpic.ts
  frontend/src/lib/entities/epic.ts
  frontend/src/lib/services/epicService.ts
Due: frontend-prettier, frontend-lint

docs: update progress for US-008
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-009 - Epic List Page
  frontend/src/components/drawers/app-sidebar.tsx
  frontend/src/components/modals/CreateEpicModal.tsx
  frontend/src/main.tsx
  frontend/src/pages/epics/index.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

docs: update progress for US-009
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-010 - Epic Detail Page with Task Management
  frontend/src/components/modals/CreateTaskModal.tsx
  frontend/src/pages/epics/EpicDetailPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-prettier, frontend-lint

chore: merge fina
  .claude/plans/humble-cuddling-crescent.md
Due: none

docs: update progress for US-010
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-011 - Subagent Task Assignment and Execution
  backend/src/tools/epic.py
Due: backend-format

docs: update progress for US-011
  .ralph/prd.json
  .ralph/progress.txt
Due: none

chore: update frontend package-lock.json peer dependencies
  frontend/package-lock.json
Due: frontend-prettier, frontend-lint

docs: update progress for US-012
  .ralph/prd.json
  .ralph/progress.txt
Due: none

docs: re-verify US-008 frontend epic service and context
  .ralph/prd.json
  .ralph/progress.txt
Due: none

docs: re-verify US-009 epic list page
  .ralph/prd.json
  .ralph/progress.txt
Due: none

docs: re-verify US-010 epic detail page
  .ralph/prd.json
  .ralph/progress.txt
Due: none

docs: re-verify US-011 subagent task assignment
  .ralph/prd.json
  .ralph/progress.txt
Due: none

docs: re-verify US-012 final verification and cleanup
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Fix tool call JSON parse error during streaming (#815)
  .gitignore
  frontend/src/components/tools/Default.tsx
  frontend/src/tests/components/DefaultTool.test.tsx
Due: frontend-prettier, frontend-lint

Add validation screenshots for #815 fix
  .claude/screenshots/815-complete.png
  .claude/screenshots/815-streaming-2.png
  .claude/screenshots/815-weather-tool-input.png
Due: none

feat: [US-001] - Refactor Default.tsx to eliminate code duplication
  frontend/src/components/tools/Default.tsx
Due: frontend-prettier, frontend-lint

feat: [US-002] - Remove unrelated .gitignore change from PR
  .gitignore
Due: none

feat: [US-003] - Remove committed screenshot PNGs from repo
  .claude/screenshots/815-complete.png
  .claude/screenshots/815-streaming-2.png
  .claude/screenshots/815-weather-tool-input.png
Due: none

feat: [US-004] - Validate streaming tool call fix via browser testing
  .ralph/prd.json
  .ralph/progress.txt
Due: none

Add PRD for #815 streaming JSON validation fix
  tasks/prd-fix-815-streaming-json-validation.md
Due: none

chore: remove ralph artifacts
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: [US-001] - Replace DefaultTool with read-only Monaco Editor
  frontend/src/components/tools/Default.tsx
Due: frontend-prettier, frontend-lint

feat: [US-003] - Fix blank tool inputs on new chat page during streaming
  frontend/src/components/tools/Default.tsx
  frontend/src/hooks/useChat.ts
Due: frontend-prettier, frontend-lint

chore: update PRD and progress for US-002/US-003 completion
  .ralph/prd.json
  .ralph/progress.txt
Due: none

fix: [Bug #815] - Resolve tool inputs not displaying on /chat page
  .claude/commands/ralph/ticket.md
  .claude/plans/.gitkeep
  .claude/plans/bug-737/01.md
  .claude/plans/feat-694/01-plan.md
  .claude/plans/feat-694/02-code-reveiw.md
  .claude/plans/feat-694/03-code-review-report.md
  .claude/plans/feat-694/04-cr-revision.md
  .claude/plans/feat-694/05-qa-results.md
  .claude/plans/feat-694/06-no-badge-showing.md
  .claude/plans/feat-694/07-tool-result-agent-name-fix.md
  .claude/plans/feat-772/01.md
  .claude/plans/feat-776/0001-sync-memory-files.md
  .claude/plans/feat-776/0002-editor.md
  .claude/plans/feat-781/01.md
  .claude/plans/feat-784/01.md
  .claude/plans/feat-790/01.md
  .claude/plans/feat-807/01.md
  .claude/plans/replicated-knitting-catmull.md
  .claude/plans/resilient-purring-catmull.md
  .claude/plans/shimmying-mixing-porcupine.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  backend/.dockerignore
  frontend/src/lib/utils/message.test.ts
  frontend/src/lib/utils/message.ts
  tasks/prd-monaco-tool-display.md
Due: backend-format, frontend-prettier, frontend-lint

feat: task/epic toolkit improvements with plan file cleanup
  .claude/plans/create-bug-report-skill-update-feature-dev-skill.md
  .claude/plans/create-doc-drift-epic-github-issue.md
  .claude/plans/doc-drift-detection-agent-team.md
  .claude/plans/federated-marinating-sparkle.md
  .claude/plans/fix-supervisor-unassigned-tasks-epic-execution.md
  .claude/plans/fix-tool-inputs-not-displaying-chat-page-bug-815.md
  .claude/plans/monthly-roadmap-readme.md
  .claude/plans/rename-epics-to-workflows.md
  .claude/plans/render-task-content-monaco-editor-epic-detail-page.md
  .claude/plans/replace-defaulttool-with-monaco-editor.md
  .claude/plans/ruska-ai-1-page-handout.md
  .claude/plans/update-prd-blank-tool-inputs-bug.md
  .claude/plans/validated-chasing-russell.md
  .claude/prompts/ralph/task.md
  .ralph/archive/feat-812/prd.json
  .ralph/archive/feat-812/progress.txt
  backend/src/services/tool.py
  backend/src/tools/epic.py
  backend/src/utils/tools.py
  frontend/package-lock.json
  frontend/src/pages/epics/EpicDetailPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

feat: US-002 - Create useSubagentSelection hook with persistence
  frontend/src/components/modals/ToolSelectionModal/hooks/useSubagentSelection.ts
  frontend/src/components/modals/ToolSelectionModal/index.tsx
  frontend/src/lib/services/userSettingsService.ts
Due: frontend-prettier, frontend-lint

feat: US-003 - Load saved subagent defaults on app start
  frontend/src/components/menus/BaseToolMenu.tsx
Due: frontend-prettier, frontend-lint

feat: US-004 - Final verification, report, and push
  .ralph/prd.json
  .ralph/progress.txt
Due: none

feat: US-007 - Fix empty model string crashes subagent initialization
  backend/src/agents/__init__.py
  backend/src/schemas/entities/llm.py
Due: backend-format

feat: US-005 - Add tag filter chips to Platform tools panel
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/modals/ToolSelectionModal/PlatformToolsPanel.tsx
Due: frontend-prettier, frontend-lint

feat: US-006 - Add batch enable/disable tools by tag category
  .ralph/prd.json
  .ralph/progress.txt
  frontend/src/components/modals/ToolSelectionModal/PlatformToolsPanel.tsx
  frontend/src/components/modals/ToolSelectionModal/hooks/useToolSelection.ts
  frontend/src/components/modals/ToolSelectionModal/index.tsx
Due: frontend-prettier, frontend-lint

docs: add US-007 to spec and align prd.json with all 7 user stories
  .claude/plans/compressed-rolling-tiger.md
  specs/persist-subagent-selection.md
Due: none

feat(tools): add exec server template and edit capability for MCP servers (#820)
  .ralph/archive/feat-820/prd.json
  .ralph/archive/feat-820/progress.txt
  Changelog.md
Due: none

chore: adopt YYYY.MM.DD-RR versioning scheme
  Changelog.md
  Makefile
  backend/scripts/tag.sh
Due: backend-format

chore: align tag format with OpenClaw (YYYY.M.D[-N], no zero-padding)
  Changelog.md
  Makefile
  backend/scripts/tag.sh
Due: backend-format

docs: add spec for #820 exec server template + edit MCP servers
  specs/820-exec-server-template-edit-mcp.md
Due: none
