Repository enso-labs/orchestra: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-prettier, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-changelog
        name: Update Changelog
        entry: bash -lc 'bash backend/scripts/changelog.sh && git add Changelog.md'
        language: system
        files: ^backend/ & ^frontend/
        pass_filenames: false   # donâ€™t pass staged file paths to your command
        always_run: true        # run every time, not only when certain files change
      - id: backend-format
        name: Backend Format
        entry: bash -c 'cd backend && make format'
        language: system
        files: ^backend/
        pass_filenames: false
        always_run: false
      - id: frontend-prettier
        name: Frontend Prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
        always_run: false
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint --fix'
        language: system
        files: ^frontend/
        pass_filenames: false
        always_run: false

Update wiki and website submodules with AWS Bedrock docs
  .claude/specs/feat-666-aws-bedrock-support/PROPOSAL_CRAFTSMAN.md
Due: none

Fix Bedrock provider name mapping for init_chat_model
  backend/src/services/llm.py
Due: backend-format

Fix Bedrock model IDs to use inference profiles
  backend/src/constants/llm.py
Due: backend-format

Fix Bedrock constant name and add AWS icon to frontend
  backend/src/constants/__init__.py
  backend/src/services/llm.py
  frontend/src/components/lists/SelectModel.tsx
Due: backend-format, frontend-prettier, frontend-lint

fix tests
  .claude/.settings.local.json
  frontend/src/tests/integration/distributedStream.test.ts
  frontend/src/tests/utils/fetchStreamReader.test.ts
Due: frontend-prettier, frontend-lint

FROM feat/666-suport-aws-models TO development (#668)
  .claude/.settings.local.json
  .claude/specs/feat-666-aws-bedrock-support/PROPOSAL_CRAFTSMAN.md
  Changelog.md
  backend/.claude/specs/feat-666-aws-bedrock-support/PROPOSAL_ARCHITECT.md
  backend/.claude/specs/feat-666-aws-bedrock-support/PROPOSAL_CRAFTSMAN.md
  backend/.claude/specs/feat-666-aws-bedrock-support/PROPOSAL_GUARDIAN.md
  backend/.claude/specs/feat-666-aws-bedrock-support/REVIEW.md
  backend/.claude/specs/feat-666-aws-bedrock-support/TASKS.md
  backend/.example.env
  backend/Makefile
  backend/pyproject.toml
  backend/src/constants/__init__.py
  backend/src/constants/llm.py
  backend/src/services/llm.py
  backend/uv.lock
  frontend/src/components/lists/SelectModel.tsx
  frontend/src/tests/integration/distributedStream.test.ts
  frontend/src/tests/utils/fetchStreamReader.test.ts
Due: backend-format, frontend-prettier, frontend-lint

init feat/663-auth-user-share-private-thread-link-anon
  Changelog.md
Due: none

feat(share): implement thread sharing via link for anonymous users (#663)
  .claude/specs/feat-663-share-private-thread/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-663-share-private-thread/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-663-share-private-thread/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-663-share-private-thread/PROPOSAL_INTEGRATOR.md
  .claude/specs/feat-663-share-private-thread/PROPOSAL_OPTIMIZER.md
  .claude/specs/feat-663-share-private-thread/REVIEW.md
  .claude/specs/feat-663-share-private-thread/TASKS.md
  backend/src/repos/share_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/share.py
  backend/src/schemas/entities/share.py
  backend/src/services/share.py
  frontend/src/components/buttons/thread-share-button.tsx
  frontend/src/lib/services/shareService.ts
  frontend/src/pages/share/SharedThreadPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

fix(share): add ShareButton to ChatNav toolbar
  frontend/src/components/nav/ChatNav.tsx
Due: frontend-prettier, frontend-lint

fix(share): handle undefined payload in ShareButton
  frontend/src/components/buttons/thread-share-button.tsx
Due: frontend-prettier, frontend-lint

fix(share): use metadata.thread_id instead of payload.threadId
  frontend/src/components/buttons/thread-share-button.tsx
Due: frontend-prettier, frontend-lint

UPdates to allow view shared files
  .claude/specs/feat-663-share-private-thread/TASKS.md
  backend/src/routes/v0/share.py
  backend/src/schemas/entities/share.py
  backend/src/services/share.py
  frontend/src/components/buttons/thread-share-button.tsx
  frontend/src/lib/services/shareService.ts
  frontend/src/pages/share/SharedThreadPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

good for now
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/pages/share/SharedThreadPage.tsx
Due: frontend-prettier, frontend-lint

fix pr comments
  backend/src/routes/v0/share.py
  frontend/src/pages/share/SharedThreadPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

feat(share): Thread sharing via link for anonymous users (#663) (#671)
  .claude/specs/feat-663-share-private-thread/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-663-share-private-thread/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-663-share-private-thread/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-663-share-private-thread/PROPOSAL_INTEGRATOR.md
  .claude/specs/feat-663-share-private-thread/PROPOSAL_OPTIMIZER.md
  .claude/specs/feat-663-share-private-thread/REVIEW.md
  .claude/specs/feat-663-share-private-thread/TASKS.md
  Changelog.md
  backend/src/repos/share_repo.py
  backend/src/routes/v0/__init__.py
  backend/src/routes/v0/share.py
  backend/src/schemas/entities/share.py
  backend/src/services/share.py
  frontend/src/components/buttons/thread-share-button.tsx
  frontend/src/components/nav/ChatNav.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/lib/services/shareService.ts
  frontend/src/pages/share/SharedThreadPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: backend-format, frontend-prettier, frontend-lint

init feat/613-monaco-editor-tool-input
  Changelog.md
Due: none

feat(tools): replace JsonView with MonacoEditor in DefaultTool (#613)
  frontend/src/components/inputs/MonacoEditor.tsx
  frontend/src/components/tools/Default.test.tsx
  frontend/src/components/tools/Default.tsx
Due: frontend-prettier, frontend-lint

This is how to dump from tool but its having troule reading it
  backend/src/flows/__init__.py
  backend/src/tools/search.py
Due: backend-format

init
  Changelog.md
Due: none

Can gather smaller tool results
  backend/src/flows/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/tools/search.py
  backend/src/utils/middleware.py
  backend/src/workers/tasks.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/thread.tsx
Due: backend-format, frontend-prettier, frontend-lint

FROM feat/673-web-scrape-dump-tool-results TO development (#674)
  Changelog.md
  backend/src/flows/__init__.py
  backend/src/schemas/entities/llm.py
  backend/src/tools/search.py
  backend/src/utils/middleware.py
  backend/src/workers/tasks.py
  frontend/src/components/forms/agents/agent-create-form.tsx
  frontend/src/components/panels/FileEditorPanel.tsx
  frontend/src/lib/services/agentService.ts
  frontend/src/pages/agents/edit.tsx
  frontend/src/pages/agents/thread.tsx
Due: backend-format, frontend-prettier, frontend-lint

Should fix duplicate middlware bug
  backend/src/flows/__init__.py
  backend/src/utils/middleware.py
Due: backend-format

If has checkpoint
  backend/src/flows/__init__.py
  backend/src/routes/v0/thread.py
  backend/src/tools/search.py
Due: backend-format

init feat/675-cleanup-presidio-service
  Changelog.md
Due: none

Remove Presidio service - replaced by PIIMiddleware (#675)
  .claude/specs/feat-675-cleanup-presidio/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-675-cleanup-presidio/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-675-cleanup-presidio/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-675-cleanup-presidio/REVIEW.md
  .claude/specs/feat-675-cleanup-presidio/TASKS.md
  .claude/specs/feat-675-cleanup-presidio/USER_STORIES.md
  backend/src/constants/__init__.py
  backend/src/contexts/service.py
  backend/src/routes/v0/auth.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/schemas/entities/presidio.py
  backend/src/services/presidio.py
  backend/src/tools/search.py
  backend/src/utils/middleware.py
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

Update TASKS.md with final test status
  .claude/specs/feat-675-cleanup-presidio/TASKS.md
Due: none

CLEANUP: Remove Presidio service - replaced by PIIMiddleware (#675) (#676)
  .claude/specs/feat-675-cleanup-presidio/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-675-cleanup-presidio/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-675-cleanup-presidio/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-675-cleanup-presidio/REVIEW.md
  .claude/specs/feat-675-cleanup-presidio/TASKS.md
  .claude/specs/feat-675-cleanup-presidio/USER_STORIES.md
  Changelog.md
  backend/src/constants/__init__.py
  backend/src/contexts/service.py
  backend/src/routes/v0/auth.py
  backend/src/routes/v0/llm.py
  backend/src/schemas/entities/llm.py
  backend/src/schemas/entities/presidio.py
  backend/src/services/presidio.py
  backend/src/tools/search.py
  backend/src/utils/middleware.py
  frontend/src/hooks/useAgent.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/services/agentService.ts
  frontend/src/lib/services/threadService.ts
Due: backend-format, frontend-prettier, frontend-lint

init bug/677-nonetype-items-attributeerror
  Changelog.md
Due: none

Fix AttributeError in files state initialization (#677)
  .claude/specs/bug-677-nonetype-items-attributeerror/PROPOSAL_ARCHITECT.md
  .claude/specs/bug-677-nonetype-items-attributeerror/PROPOSAL_CRAFTSMAN.md
  .claude/specs/bug-677-nonetype-items-attributeerror/PROPOSAL_GUARDIAN.md
  .claude/specs/bug-677-nonetype-items-attributeerror/REVIEW.md
  .claude/specs/bug-677-nonetype-items-attributeerror/TASKS.md
  .claude/specs/bug-677-nonetype-items-attributeerror/USER_STORIES.md
  backend/src/controllers/llm.py
  backend/tests/unit/controllers/test_files_state.py
Due: backend-format

Fix AttributeError in files state initialization (#677) (#678)
  .claude/specs/bug-677-nonetype-items-attributeerror/PROPOSAL_ARCHITECT.md
  .claude/specs/bug-677-nonetype-items-attributeerror/PROPOSAL_CRAFTSMAN.md
  .claude/specs/bug-677-nonetype-items-attributeerror/PROPOSAL_GUARDIAN.md
  .claude/specs/bug-677-nonetype-items-attributeerror/REVIEW.md
  .claude/specs/bug-677-nonetype-items-attributeerror/TASKS.md
  .claude/specs/bug-677-nonetype-items-attributeerror/USER_STORIES.md
  Changelog.md
  backend/src/controllers/llm.py
  backend/tests/unit/controllers/test_files_state.py
Due: backend-format

init feat/664-edit-project-information-settings
  Changelog.md
Due: none

feat(project): Add edit project settings functionality (#664)
  .claude/specs/feat-664-edit-project-settings/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-664-edit-project-settings/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-664-edit-project-settings/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-664-edit-project-settings/REVIEW.md
  .claude/specs/feat-664-edit-project-settings/TASKS.md
  .claude/specs/feat-664-edit-project-settings/USER_STORIES.md
  backend/src/repos/project_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/src/services/project.py
  frontend/src/components/modals/EditProjectModal.tsx
  frontend/src/components/sections/project-section.tsx
  frontend/src/hooks/useProject.ts
  frontend/src/lib/services/projectService.ts
  frontend/src/pages/projects/ProjectPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

fix(project): Always send both name and description in update request
  frontend/src/components/modals/EditProjectModal.tsx
Due: frontend-prettier, frontend-lint

PR Comments
  backend/src/routes/v0/project/__init__.py
  backend/src/schemas/entities/store.py
  frontend/src/components/modals/EditProjectModal.tsx
  frontend/src/components/sections/project-section.tsx
Due: backend-format, frontend-prettier, frontend-lint

Last update
  frontend/src/components/modals/EditProjectModal.tsx
Due: frontend-prettier, frontend-lint

feat(project): Add edit project settings functionality (#664) (#679)
  .claude/specs/feat-664-edit-project-settings/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-664-edit-project-settings/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-664-edit-project-settings/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-664-edit-project-settings/REVIEW.md
  .claude/specs/feat-664-edit-project-settings/TASKS.md
  .claude/specs/feat-664-edit-project-settings/USER_STORIES.md
  Changelog.md
  backend/src/repos/project_repo.py
  backend/src/routes/v0/project/__init__.py
  backend/src/schemas/entities/store.py
  backend/src/services/project.py
  frontend/src/components/modals/EditProjectModal.tsx
  frontend/src/components/sections/project-section.tsx
  frontend/src/hooks/useProject.ts
  frontend/src/lib/services/projectService.ts
  frontend/src/pages/projects/ProjectPage.tsx
Due: backend-format, frontend-prettier, frontend-lint

init feat/680-update-readme-out-of-sync
  Changelog.md
Due: none

docs: Update README.md to reflect PR #676 and #657 changes
  .claude/specs/feat-680-update-readme-out-of-sync/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-680-update-readme-out-of-sync/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-680-update-readme-out-of-sync/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-680-update-readme-out-of-sync/REVIEW.md
  .claude/specs/feat-680-update-readme-out-of-sync/TASKS.md
  .claude/specs/feat-680-update-readme-out-of-sync/USER_STORIES.md
  README.md
  docker/README.md
Due: none

FEAT: Update README.md (out-of-sync) (#681)
  .claude/specs/feat-680-update-readme-out-of-sync/PROPOSAL_ARCHITECT.md
  .claude/specs/feat-680-update-readme-out-of-sync/PROPOSAL_CRAFTSMAN.md
  .claude/specs/feat-680-update-readme-out-of-sync/PROPOSAL_GUARDIAN.md
  .claude/specs/feat-680-update-readme-out-of-sync/REVIEW.md
  .claude/specs/feat-680-update-readme-out-of-sync/TASKS.md
  .claude/specs/feat-680-update-readme-out-of-sync/USER_STORIES.md
  Changelog.md
  README.md
  docker/README.md
Due: none
